<div class="animated fadeIn dashboard">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <strong>GHG INVENTORY</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
              <img src="assets/img/dashboard/ghg-1.PNG" alt="">
            </div>
            <div class="row mt-2">
              <img src="assets/img/dashboard/ghg-2.PNG" alt="">
            </div>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-7 ml-3">
            <img src="assets/img/dashboard/ghg-3.PNG" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="card">
      <div class="card-header">
        <strong>NDC Action</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 col-lg-5 col-sm-5">
            <img src="assets/img/dashboard/ndc-1.PNG" alt="">
          </div>
          <div class="col-md-5 col-lg-5 col-sm-5 ml-2">
            <img src="assets/img/dashboard/ndc-3.PNG" alt="">
          </div>
         
        </div>
        <div class="row mt-2">
          <div class="col-md-10 col-lg-10 col-sm-10">

            <img src="assets/img/dashboard/ndc-2.PNG" alt="">
          </div>
        </div>
        <div class="row">
          <img src="assets/img/dashboard/ndc-4.PNG" alt="">
        </div>

      </div>
    </div>
  </div>


</div>