<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <!-- card header start -->
                <div class="card-header">
                    <strong>SEARCH NDC ACTION</strong>
                    <button class="float-right" mat-raised-button color="primary" (click)="goToNewNDC()"><i class="icon-plus"></i> &nbsp; New NDC</button>
                </div>
                <!-- card header end -->

                <!-- card body start -->
                <div class="card-body">
                                <mat-table  table-border #table [dataSource]="dataSource" matSort>

                                    <!-- <ng-container matColumnDef="select">
                                        <mat-header-cell class="row" *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                            </mat-checkbox>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                                        <mat-header-cell class="row" *matHeaderCellDef>
                                            <mat-label mat-sort-header class="col-xs-12 col-md-12 col-sm-12">{{column.value | uppercase}}
                                            </mat-label>
                                            <!-- <mat-form-field appearance="outline" class="col-xs-12 col-md-12 col-sm-12">
                                                <mat-label>Filter</mat-label>
                                                <input class="filter-input" matInput [formControl]="column.formControl" placeholder="Filter {{column.value}}" />
                                            </mat-form-field> -->
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-label *ngIf="column.id === 'projectId'">
                                                <a class="link"  (click)="goToItem(element)">{{element[column.id]}}</a>
                                            </mat-label>
                                            <mat-label *ngIf="column.id !== 'projectId' && column.id !== 'commissioningDate'">
                                                {{element[column.id]}}
                                            </mat-label>
                                            <mat-label *ngIf="column.id === 'commissioningDate'">
                                                {{element[column.id] | date:'dd/MM/yyyy'}}
                                            </mat-label>
                                            <!-- <mat-form-field appearance="outline" *ngIf="column.id !== 'projectId'">
                                                <mat-label>{{element[column.id]}}</mat-label>
                                                <input matInput placeholder={{column.value}} [(ngModel)]="element[column.id]" disabled>
                                            </mat-form-field> -->
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container cdkColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                        <mat-cell class="row " *matCellDef="let element; let i=index; ">
                                            <mat-icon (click)="removeIndividuallyFromList( i, element) ">delete</mat-icon>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                                </mat-table>
                                <div class="row m-t-5 ">
                                    <div class="col-xs-12 col-md-6 ">
                                    </div>
                                    <div class="col-xs-12 col-md-6 " style="text-align: right; ">
                                        <mat-paginator [pageSizeOptions]="[5, 10, 15] "></mat-paginator>
                                    </div>
                                </div>
                                <!-- first card body ends -->

                </div>
                <!-- card -->
            </div>
            <!-- col-12 -->
        </div>
        <!-- row -->
    </div>
    <!-- animated fadeIn -->
</div>