@import '../../Styles/variables.scss';

.login-language-selection-container {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color:#008F39;

    .ant-select {
        width: 183px;
        text-align: center;      
        color: #008F39;  
        .ant-select-arrow{
            color: #008F39;
        }
    }

    .ant-select-selector {
        color: #008F39;
        text-transform: uppercase;
        border: 1px solid #008F39 !important;
        border-radius: 4px !important;
    }

    .ant-select-item {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color:#008F39;
    }

    .ant-select-selection-item{
        color: #008F39 !important;
        font-weight: 500;
    }
}

.login-language-selection{
    .ant-select-item {
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        color:#008F39;
        text-align: center;
    }
    .ant-select-item-option{
        .ant-select-item-option-content{
            color:rgba(#3A3541,0.5);
        }
    }
    .ant-select-item-option-selected{
        color: #008F39 !important;;
        line-height: 15.73px;
        .ant-select-item-option-content{
            color:#008F39;
        }
    }
}