<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <!-- card header start -->
                <div class="card-header">
                    <strong>MITIGATION ACTION - MONITORING INFORMATION </strong>
                </div>
                <!-- card header end -->

                <!-- card body start -->
                <div class="card-body">
                    <!-- form start -->
                    <form class="row" [formGroup]="formGroup">
                        <!-- inventry year -->
                        <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline" *ngIf="!approvalScreen">
                            <mat-label>Project Id *</mat-label>
                            <mat-select name="parentProject" formControlName="projectId" (selectionChange)="loadProjectData({'parentProject' : formGroup.controls['projectId'].value._id},true)" [disabled]="approvalScreen">
                                <mat-option disabled>Select a Project</mat-option>
                                <mat-option *ngFor="let project of projectList;" [value]="project">
                                    {{project.projectId}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls.projectId.errors && formGroup.controls.projectId.errors.required">ProjectId is Required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline" *ngIf="approvalScreen" [ngClass]="{'disabled' : approvalScreen}">
                            <mat-label>Project Id</mat-label>
                            <input matInput  formControlName="projectId">
                        </mat-form-field>


                        <mat-form-field  class="col-xs-6 col-md-6 col-sm-6" *ngIf="!approvalScreen" appearance="outline" [ngClass]="{'disabled' : !formGroup.controls['projectId'].value}">
                            <mat-label>Monitoring Year *</mat-label>
                            <mat-select formControlName="monitoringYear" name="monitoringYear" (selectionChange)="loadProjectData({'parentProject' : formGroup.controls['projectId'].value._id, 'monitoringYear':  formGroup.controls['monitoringYear'].value},false)" [disabled]="approvalScreen">
                                <mat-option>Select year</mat-option>
                                <mat-option *ngFor="let x of yearList" [value]="x">
                                    {{x}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls.monitoringYear.errors && formGroup.controls.monitoringYear.errors.required">Year is Required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline" *ngIf="approvalScreen" [ngClass]="{'disabled' : approvalScreen}">
                            <mat-label>Monitoring Year</mat-label>
                            <input matInput  formControlName="monitoringYear">
                        </mat-form-field>
                        <!-- form end -->
                    </form>

                    <div class="row m-b-3">
                        <mat-card class="place-entry">
                            <mat-horizontal-stepper [linear]="true" #stepper>
                                <mat-step label="Project Details">
                                    <ng-template matStepLabel>Project Details</ng-template>
                                    <div class="row">
                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Mitigation Sector</mat-label>
                                            <input matInput placeholder="Mitigation Sector" [(ngModel)]="mitigationMonitoringData.sector" disabled>
                                        </mat-form-field>


                                        <mat-form-field class=" col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Mitigation Sub-Sector</mat-label>
                                            <input matInput placeholder="Mitigation Sub-Sector" [(ngModel)]="mitigationMonitoringData.subSector" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Included in NDC</mat-label>
                                            <input matInput placeholder="Included in NDC" [(ngModel)]="mitigationMonitoringData.ndc" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Location name</mat-label>
                                            <input matInput placeholder="Location name" [(ngModel)]="mitigationMonitoringData.location" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Project Cost (USD)</mat-label>
                                            <input matInput numbersOnly placeholder="Project Cost (USD)" [(ngModel)]="mitigationMonitoringData.costAmount" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Source of Funding</mat-label>
                                            <input matInput placeholder="Source of Funding" [(ngModel)]="mitigationMonitoringData.funding" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Lifetime (years)</mat-label>
                                            <input matInput numbersOnly placeholder="Lifetime (years)" [(ngModel)]="mitigationMonitoringData.lifetime" disabled>
                                        </mat-form-field>



                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>Project Contributions</mat-label>
                                            <!-- <mat-select name="contributions" formControlName="contributions">
                                                <mat-option [disabled]="approvalScreen" [value]="contributions">{{contributions}}</mat-option>
                                            </mat-select>
                                            <input matInput placeholder="Project Contributions" [(ngModel)]="mitigationMonitoringData.contributions" disabled>
                                         -->
                                        <mat-select name="contributions" [(ngModel)]="mitigationMonitoringData.contributions" multiple>
                                            <mat-option disabled value="Economic">Economic</mat-option>
                                            <mat-option disabled value="Social">Social</mat-option>
                                            <mat-option disabled value="Environmental">Environmental</mat-option>
                                            <mat-option disabled value="Gender and other Vulnerable Groups">Gender and other Vulnerable Groups</mat-option>
                                            <mat-option disabled value="Cross Cutting">Cross Cutting</mat-option>
                                            <mat-option disabled value="Others">Others</mat-option>
                                        </mat-select>
                                         </mat-form-field>



                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>Project Status</mat-label>
                                            <input matInput placeholder="Project Status" [(ngModel)]="mitigationMonitoringData.projectStatus" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" disabled="true">
                                            <mat-label>Project Beneficiaries</mat-label>
                                            <input matInput placeholder="Project Beneficiaries" [(ngModel)]="mitigationMonitoringData.beneficiary" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                                    </div>
                                </mat-step>
                                <mat-step label="Agency Details">
                                    <ng-template matStepLabel>Agency Details</ng-template>
                                    <div class="row">
                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Implementing Agency</mat-label>
                                            <input matInput placeholder="Implementing Agency" [(ngModel)]="mitigationMonitoringData.agency" disabled>
                                        </mat-form-field>
                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Contact Details</mat-label>
                                            <input matInput placeholder="Contact Details" disabled [(ngModel)]="mitigationMonitoringData.agencyContact">
                                        </mat-form-field>
                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Other Agency</mat-label>
                                            <input matInput placeholder="Other Party" [(ngModel)]="mitigationMonitoringData.otherParty" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Contact Details</mat-label>
                                            <input matInput placeholder="Other Contact Details" disabled [(ngModel)]="mitigationMonitoringData.otherPartyContact">
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                                    </div>
                                </mat-step>
                                <mat-step label="Other Details">
                                    <ng-template matStepLabel>Other Details</ng-template>
                                    <div class="row">
                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" disabled="true">
                                            <mat-label>Actual GHG Savings (tCO2e/ year) *</mat-label>
                                            <input matInput type="number"  [formControl]="actualGHGSavingsCtrl" name="actualGHGSavings" placeholder="Actual GHG Savings (tCO2e/ year)" [(ngModel)]="mitigationMonitoringData.actualGHGSavings" [disabled]="approvalScreen">
                                            <mat-error *ngIf="formGroup.controls.actualGHGSavings.errors && formGroup.controls.actualGHGSavings.errors.required">Actual GHG Savings is Required</mat-error>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>Gender Inclusiveness Assessment</mat-label>
                                            <input matInput placeholder="Gender Inclusiveness Assessment" [(ngModel)]="mitigationMonitoringData.genderIncl" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>Expected Project Outputs</mat-label>
                                            <input matInput placeholder="Expected Project Outputs" [(ngModel)]="mitigationMonitoringData.projectOutput" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>Project Impacts</mat-label>
                                            <input matInput placeholder="Project Impacts" [(ngModel)]="mitigationMonitoringData.projectImpact" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Registered With Market Based Mechanism</mat-label>
                                            <input matInput placeholder="Registered With Market Based Mechanism" [(ngModel)]="mitigationMonitoringData.marketMech" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Provide Weblink</mat-label>
                                            <input matInput placeholder="Provide Weblink" [(ngModel)]="mitigationMonitoringData.weblink" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Issuance of Carbon Benefits</mat-label>
                                            <input matInput placeholder="Issuance of Carbon Benefits" [(ngModel)]="mitigationMonitoringData.carbonBen" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                            <mat-label>Verification Status (rounds)</mat-label>
                                            <input matInput placeholder="Verification Status (rounds)" [(ngModel)]="mitigationMonitoringData.verification" [disabled]="approvalScreen">
                                        </mat-form-field>
                                        <mat-card *ngIf="menu && selectedProject" class="calc">
                                            <strong>Calculation Sheet</strong>
                                            <app-file-upload (fileUploadedEmit)="fileUploaded($event)" [menuId]="menu.menuId" [dataId]="routeFormId" [projectId]="selectedProject.projectId" [fieldName]="'fileCalculation'"></app-file-upload>
                                        </mat-card>
                                        <mat-card *ngIf="menu && selectedProject" class="calc">
                                            <strong>Verification Reports</strong>
                                            <app-file-upload (fileUploadedEmit)="fileUploaded($event)" [menuId]="menu.menuId" [dataId]="routeFormId" [projectId]="selectedProject.projectId" [fieldName]="'fileVerification'"></app-file-upload>
                                        </mat-card>

                                    </div>
                                    <div>
                                        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                                    </div>
                                </mat-step>
                                <mat-step label="Timeline Details">
                                    <ng-template matStepLabel>Timeline Details and Uploads</ng-template>
                                    <div class="row">
                                        <mat-form-field class="col-xs-12 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>Start Date* (DD/MM/YYYY)</mat-label>
                                            <input [matDatepicker]="picker3" matInput placeholder="Effectiveness Date" [(ngModel)]="mitigationMonitoringData.commissioningDate" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-12 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>End Date* (DD/MM/YYYY)</mat-label>
                                            <input matInput [matDatepicker]="picker3" placeholder="End Date" [(ngModel)]="mitigationMonitoringData.approvalDate" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-12 col-md-4 col-sm-4" appearance="outline">
                                            <mat-label>Financial Closure Date* (DD/MM/YYYY)</mat-label>
                                            <input [matDatepicker]="picker3" matInput placeholder="Financial Closure Date" [(ngModel)]="mitigationMonitoringData.closureDate" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                        <!-- <button mat-raised-button color="primary">Submit</button> -->
                                    </div>
                                </mat-step>
                            </mat-horizontal-stepper>
                        </mat-card>
                    </div>

                    <div class="row m-b-3">
                        <div class="card" w-100>
                            <div class="card-header">
                                <strong>PERFORMANCE INDICATORS</strong>

                                <!-- <button mat-flat-button style="float: right;" (click)="addNewDisbursementYearRow()" *ngIf="!approvalScreen">
                                    <i class="material-icons">add_box</i> Add New
                                </button> -->
                            </div>
                            <div class="card-body">
                                <mat-table  w-100 table-border #table [dataSource]="performanceIndicatorDataSource" matSort>
<!-- 
                                    <ng-container matColumnDef="select">
                                        <mat-header-cell class="row" *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggleDisbursementYear() : null" [checked]="disbursementYearSelection.hasValue() && isAllSelectedDisbursementYear()" [indeterminate]="disbursementYearSelection.hasValue() && !isAllSelectedDisbursementYear()" [aria-label]="checkboxLabelDisbursementYear()">
                                            </mat-checkbox>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? disbursementYearSelection.toggle(element) : null" [checked]="disbursementYearSelection.isSelected(element)" [aria-label]="checkboxLabelDisbursementYear(element)">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container> -->

                                    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of disbursementYearColumnNames">
                                        <mat-header-cell class="row" *matHeaderCellDef>
                                            <mat-label mat-sort-header class="col-xs-12 col-md-12 col-sm-12">{{column.value | uppercase}}
                                            </mat-label>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-form-field appearance="outline">
                                                <mat-label>{{column.value}}</mat-label>
                                                <input *ngIf="column.id != 'value' " matInput placeholder={{column.value}} [(ngModel)]="element[column.id]" disabled>
                                                <input *ngIf="column.id == 'value' " type="number" matInput placeholder={{column.value}} [(ngModel)]="element[column.id]" [disabled]="approvalScreen">
                                            </mat-form-field>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="performanceIndicatorDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: performanceIndicatorDisplayedColumns;"></mat-row>
                                </mat-table>
                                <div class="row m-t-5">
                                    <div class="col-xs-12 col-md-12" style="text-align: right;">
                                        <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row ends -->
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row" style="display: block;width: 100%;">

                        <div class="col-xs-12">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Remarks*</mat-label>
                                <textarea matInput placeholder="Remarks" [formControl]="remarksCtrl" [readonly]="approvalScreen"></textarea>
                                <mat-error *ngIf="formGroup.controls.remarks.errors && formGroup.controls.remarks.errors.required">Remarks is Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-12" *ngIf="approvalScreen">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Approvers Comment*</mat-label>
                                <textarea matInput placeholder="Approvers Comment" [formControl]="approverCommentCtrl" class="filter-input"> </textarea>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-6">
                            <button type="button" *ngIf="!approvalScreen" (click)="save()" class="btn btn-success">Submit</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-success" (click)="updateDataStaus('approved')">Approve</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-danger" (click)="updateDataStaus('rejected')">Reject</button>
                        </div>
                        <!-- footer-> row -->
                    </div>
                    <!-- card-footer -->
                </div>
            </div>
            <!-- col-12 -->
        </div>
        <!-- row -->
    </div>
    <!-- animated fadeIn -->
</div>