<div class="animated fadeIn">
    <div class="row">
        <form class="row" [formGroup]="adaptationPIForm">
            <div class="col-md-12">
                <div class="card">

                    <!-- card header start -->
                    <div class="card-header">
                        <strong>ADAPTATION - PROJECT INFORMATION</strong>
                    </div>
                    <!-- card header end -->

                    <!-- card body start -->
                    <div class="card-body">
                        <!-- form start -->

                        <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline" *ngIf="!approvalScreen">
                            <mat-label>Project Id *</mat-label>
                            <mat-select [(ngModel)]="selectedProject" name="parentProject" formControlName="parentProject" (selectionChange)="onProjectSelect($event.value)">
                                <mat-option disabled>Select a Project</mat-option>
                                <mat-option *ngFor="let project of projects;" [value]="project">
                                    {{project.projectId}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="adaptationPIForm.controls.parentProject.errors && adaptationPIForm.controls.parentProject.errors.required">ProjectId is Required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline" *ngIf="approvalScreen" [ngClass]="{'disabled' : approvalScreen}">
                            <mat-label>Project Id</mat-label>
                            <input matInput formControlName="parentProject">
                        </mat-form-field>

                        <div class="row">
                            <div class="card col-xs-12">
                                <div class="card-body">
                                    <div class="row">

                                        <mat-form-field  class="col-xs-12 col-md-12 col-sm-12" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Adaptation Sector</mat-label>
                                            <textarea matInput placeholder="Adaptation Sector" name="sector" formControlName="sector" disabled></textarea>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Adaptation Sub-Sector</mat-label>
                                            <textarea matInput placeholder="Adaptation Sub-Sector" name="subSector" formControlName="subSector" disabled></textarea>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Included in NDC</mat-label>
                                            <input matInput placeholder="Included in NDC" name="ndc" formControlName="ndc" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Included In NAP</mat-label>
                                            <input matInput placeholder="Included In NAP" name="napa" formControlName="nap" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Implementing Agency</mat-label>
                                            <input matInput placeholder="Implementing Agency" name="agency" formControlName="agency" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Other Agency</mat-label>
                                            <input matInput placeholder="Other Agency" name="otherParty" formControlName="otherParty" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Lifetime (years)</mat-label>
                                            <input matInput placeholder="Lifetime (years)" name="lifetime" formControlName="lifetime" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>End Date (DD/MM/YYYY)</mat-label>
                                            <input matInput [matDatepicker]="picker3" placeholder="End Date" name="approvalDate" formControlName="approvalDate" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Financial Closure Date (DD/MM/YYYY)</mat-label>
                                            <input matInput [matDatepicker]="picker3" placeholder="Financial Closure Date" name="closureDate" formControlName="closureDate" disabled>
                                        </mat-form-field>


                                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{ 'disabled' : true}">
                                            <mat-label>Start Date (DD/MM/YYYY)</mat-label>
                                            <input matInput [matDatepicker]="picker3" placeholder="Start Date" name="commissioningDate" formControlName="commissioningDate" disabled>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                            <mat-label>MTP Objective Coverage </mat-label>
                                            <mat-select name="ndpObjectiveCoverage" formControlName="ndpObjectiveCoverage">
                                                <mat-option [disabled]="approvalScreen" *ngFor="let ndpObjective of ndpObjectiveCoverageArr;" [value]="ndpObjective">{{ndpObjective}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="adaptationPIForm.controls.ndpObjectiveCoverage.errors && adaptationPIForm.controls.ndpObjectiveCoverage.errors.required">MTP Objective Coverage is Required</mat-error>
                                        </mat-form-field>

                                        <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                            <mat-label>MTP Coverage </mat-label>
                                            <mat-select name="ndpCoverage" formControlName="ndpCoverage" multiple>
                                                <mat-option [disabled]="approvalScreen" *ngFor="let ndpCoverageVal of ndpCoverageArr" [value]="ndpCoverageVal">{{ndpCoverageVal}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="adaptationPIForm.controls.ndpObjectiveCoverage.errors && adaptationPIForm.controls.ndpObjectiveCoverage.errors.required">MTP Coverage is Required</mat-error>
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>

                            <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)">

                                <mat-tab label="Agriculture">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>AGRICULTURE</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let agriculture of agricultureArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'YN'
                               " [question]="agriculture"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let agriculture of agricultureArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'data'
                               " [question]="agriculture"></app-question>
                                                            <!-- <app-question [approvalScreen]="approvalScreen" *ngFor="let poverty of povertyReductionArr;" [type]=" 'data'" [question]="poverty"></app-question> -->
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-tab>
                                <!-- --------------------------------------------------------------------------------------------------------------------------------------->


                                <mat-tab label="Forestry">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>FORESTRY</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let forestry of forestryArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'YN'
                               " [question]="forestry"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let forestry of forestryArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'data'
                               " [question]="forestry"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                <mat-tab label="Water">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>WATER</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let water of waterArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'YN'" [question]="water"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let water of waterArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'data'" [question]="water"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>

                                <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                                <mat-tab label="Energy">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>ENERGY</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let energy of energyArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'YN'" [question]="energy"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let energy of energyArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'data'" [question]="energy"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-tab>
                                <mat-tab label="Health">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>HEALTH</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let health of healthArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'YN'" [question]="health"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let health of healthArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'data'" [question]="health"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-tab>
                                <mat-tab label="Risk Management">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>RISK MANAGEMENT</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let risk of riskArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'YN'" [question]="risk"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [ynArr]="ynArr" [approvalScreen]="approvalScreen" *ngFor="let risk of riskArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]=" 'data'" [question]="risk"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-tab>
                            </mat-tab-group>

                        </div>


                    </div>
                    <!-- card body  end -->
                </div>
                <div class="card-footer">
                    <div class="row" style="display: block;width: 100%;">
                        <div class="col-xs-12">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Remarks*</mat-label>
                                <textarea matInput placeholder="Remarks" name="remarks" [formControl]="remarksCtrl" [readonly]="approvalScreen"></textarea>
                                <mat-error *ngIf="adaptationPIForm.controls.remarks.errors && adaptationPIForm.controls.remarks.errors.required">Remarks are Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-6" *ngIf="approvalScreen">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Approvers Comment*</mat-label>
                                <textarea name="approverComment" formControlName="approverComment" matInput placeholder="Approvers Comment" class="filter-input"> </textarea>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-6">
                            <button type="button" *ngIf="!approvalScreen" (click)="submit()" class="btn btn-success">Submit</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-success" (click)="updateDataStatus( 'approved')">Approve</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-danger" (click)="updateDataStatus( 'rejected')">Reject</button>
                        </div>
                        <!-- footer-> row -->
                    </div>
                    <!-- card-footer -->
                </div>
            </div>
        </form>
    </div>
</div>