<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12 offset-md-1 offset-sm-1">
            <div class="card">
                <div class="card-header">
                    <strong>Manage Menu </strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="menuForm">
                        <div class="row m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>Menu</mat-label>
                                <mat-select formControlName="menu">
                                    <mat-option>Select menu</mat-option>
                                    <mat-option *ngFor="let x of ['GHG INVENTORY','NDC ACTION']" [value]="x">
                                        {{x}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-hint class="col-xs-12 col-md-12 col-sm-12 error-text _ab4"  *ngIf="isInvalid(menuForm,'menu','required')">Please Select a menu
                        </mat-hint>
                        </div>
                    </form>
                    <!-- <div class="row m-b-3"  >
                        <mat-card class="col-xs-12 col-md-12 col-sm-12">
                            No available menus left to be added as children
                        </mat-card>
                    </div> -->
                    <div class="row" style="margin-top: 10px;" *ngIf="menuForm.controls['menu'].value">
                        <mat-card class="col-md-5 example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
                              <mat-card-title class="middle-box-text">Available menus</mat-card-title>
                            </mat-card-header>
                          
                            <mat-card-content style="background-color: #e7e7e7; min-height: 100px; padding: 10px;" [dragula]='"my-bag"' [(dragulaModel)]="availableMenus">
                                <button style="margin-right: 10px;"  class="drag-buttons" mat-raised-button color="primary" *ngFor="let x of availableMenus">
                                    {{x}}
                                </button>
                            </mat-card-content>
                          
                          </mat-card>
                          <div class="col-md-2">
                                <div>
                                   <span class="middle-box-text">Please drag and drop menus from both boxes according to requirement</span><br>
                                   {{'<--------'}}
                                   {{"--------->"}} <br>
                                   {{'<--------'}}
                                   {{"--------->"}}
                                </div>
                          </div>
                          <mat-card class="col-md-5 example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
                              <mat-card-title class="middle-box-text">Added Childrens of {{menuForm.controls['menu'].value}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content  style="background-color: antiquewhite; min-height: 100px;  padding: 10px;"  [dragula]='"my-bag"' [(dragulaModel)]="selectedChildrens">
                                <button style="margin-right: 10px;"  class="drag-buttons" mat-raised-button color="primary"
                                matBadge={{p+1}} matBadgePosition="before" matBadgeColor="accent"  *ngFor="let d of selectedChildrens; index as p">
                                {{d}}
                            </button> 
                            </mat-card-content>
                          </mat-card>
                    </div>
                    <!-- <div class="row m-b-3">
                        <mat-card class="col-xs-12 col-md-12 col-sm-12"  [dragula]='"my-bag"' [(dragulaModel)]="availableMenus">
                                <button  class="drag-buttons" mat-raised-button color="primary" *ngFor="let x of availableMenus">
                                {{x}}
                            </button>
                        </mat-card>
                    </div>
                    <div class="row m-b-3" >
                        <mat-card class="col-xs-12 col-md-12 col-sm-12 m-b-3"   [dragula]='"my-bag"' [(dragulaModel)]="selectedChildrens">
                            <button  class="drag-buttons" mat-raised-button color="primary"
                            matBadge={{p+1}} matBadgePosition="before" matBadgeColor="accent"  *ngFor="let d of selectedChildrens; index as p">
                            {{d}}
                        </button> 
                        </mat-card>
                    </div> -->
                   
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                            <button type="button" class="btn btn-block btn-outline-success"
                                >Add</button>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                            <button type="button" class="btn btn-block btn-outline-danger">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>