.login{
    .card-side-style{
        max-width: 15% !important;
        margin-bottom: -1rem;
        margin-top: -1rem;   
    }
    .error-text{
        color: red;
        margin-top: 1%;
        margin-bottom : 1%;
    }
}