<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <strong>GHG INVENTORY - PRODUCT USES AS SUBSTITUTES FOR OZONE DEPLETING SUBSTANCES </strong>
                </div>
                <div class="card-body">
                    <form class="row" [formGroup]="formGroup">
                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                            <mat-label>Inventory Year</mat-label>
                            <mat-select formControlName="inventoryYear" [disabled]="approvalScreen"  (selectionChange)="loadActivityData('inventoryYear',formGroup.controls['inventoryYear'].value)">
                                <mat-option>Select year</mat-option>
                                <mat-option *ngFor="let x of yearList" [value]="x">
                                    {{x}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls.inventoryYear.errors && formGroup.controls.inventoryYear.errors.required">Inventory Year is required</mat-error>
                        </mat-form-field>


                        <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                            <mat-label>Sector</mat-label>
                            <mat-select formControlName="sector" [disabled]="approvalScreen" >
                                <mat-option *ngFor="let sector of sectorArr" [value]="sector">
                                    {{sector}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls.sector.errors && formGroup.controls.sector.errors.required">Sector is required</mat-error>
                        </mat-form-field>


                        <mat-form-field class="col-xs-6 col-md-4 col-sm-4" appearance="outline">
                            <mat-label>Sub Sector</mat-label>
                            <mat-select formControlName="subSector" [disabled]="approvalScreen" >
                                <mat-option *ngFor="let subSector of subSectorArr" [value]="subSector">
                                    {{subSector}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls.subSector.errors && formGroup.controls.subSector.errors.required">Sub Sector is required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-xs-4 col-md-6 col-sm-6" appearance="outline">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" [disabled]="approvalScreen" >
                                <mat-option *ngFor="let category of categoryArr" [value]="category">
                                    {{category}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls.category.errors && formGroup.controls.category.errors.required">Category is required</mat-error>
                        </mat-form-field>

                        <!-- calculation approach -->
                        <mat-form-field class="col-xs-12 col-md-4 col-sm-4" appearance="outline" disabled="true">
                            <mat-label>Calculation Approach</mat-label>
                            <mat-select formControlName="calculationApproach" [disabled]="approvalScreen" >
                                <mat-option>Select calculationApproach</mat-option>
                                <mat-option value="Tier I">
                                    Tier I
                                </mat-option>
                                <mat-option value="Tier II">
                                    Tier II
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.controls.calculationApproach.errors && formGroup.controls.calculationApproach.errors.required">Calculation Approach is required</mat-error>
                        </mat-form-field>
                    </form>
                    <div class="row m-b-3" *ngIf="formGroup.controls['inventoryYear'].value">
                        <mat-tab-group dynamicHeight mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 col-xs-12 col-md-12 col-sm-12">
                            <mat-tab label="Refrigeration and Stationary Airconditioning">
                                <!-- ///////////////////////////////////////////////////////////////// -->
                                <!-- <div class="row" > -->
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Refrigeration and Stationary Airconditioning</strong>
                                    </div>
                                    <div class="card-body">
                                        <mat-table table-border #table [dataSource]="dataSource" matSort>
                                            <ng-container matColumnDef="select">
                                                <mat-header-cell class="row" *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                                    </mat-checkbox>
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                                                <mat-header-cell class="row" *matHeaderCellDef>
                                                    <mat-label mat-sort-header class="col-xs-12 col-md-12 col-sm-12">
                                                        {{column.value | uppercase}}
                                                    </mat-label>
                                                    <!-- <mat-form-field appearance="outline" class="col-xs-12 col-md-12 col-sm-12">
                                                        <mat-label>Filter</mat-label>
                                                        <input class="filter-input" matInput [formControl]="column.formControl" placeholder="Filter {{column.value}}" />
                                                    </mat-form-field> -->
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>{{column.value}}</mat-label>
                                                        <input matInput placeholder={{column.value}} [(ngModel)]="element[column.id]" [disabled]="column.id === 'gasConsumed' || column.id === 'unit' || approvalScreen">

                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container cdkColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                                <mat-cell class="row" *matCellDef="let element; let i=index;">
                                                    <!-- <mat-icon style="color: #21d521;">save</mat-icon> -->
                                                    <mat-icon *ngIf="!approvalScreen" (click)="removeIndividuallyFromList('exist', i)">delete</mat-icon>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>
                                        <div class="row m-t-5">
                                            <div class="col-xs-12 col-md-6" *ngIf="!approvalScreen">
                                                <button mat-raised-button color="accent" (click)="removeSelected('exist')">
                                                    <mat-icon style="color: #ffffff;">delete</mat-icon> Delete Selected
                                                </button>
                                            </div>
                                            <div class="col-xs-12 col-md-6" style="text-align: right;">
                                                <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                                            </div>
                                        </div>
                                        <!-- first card body ends -->
                                    </div>
                                    <!-- newly added rows -->


                                    <div class="card-body">
                                        <div class="card-header" style="width: fit-content;" *ngIf="!approvalScreen">
                                            <!-- <strong>Newly Added</strong> -->
                                            <button mat-flat-button (click)="addNewRow()">
                                                <i class="material-icons">add_box</i> Add New
                                            </button>
                                        </div>
                                        <mat-table table-border #table [dataSource]="newDataSource">

                                            <ng-container matColumnDef="select">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? newSelection.toggle(element) : null" [checked]="newSelection.isSelected(element)" [aria-label]="checkboxLabelNew(element)">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Lime type -->
                                            <ng-container matColumnDef="gasConsumed">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Gas Consumed</mat-label>
                                                        <mat-select [(ngModel)]="element.gasConsumed">
                                                            <mat-option>Gas Consumed</mat-option>
                                                            <mat-option *ngFor="let x of gasConsumedList" [value]="x">
                                                                {{x}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>


                                            <ng-container matColumnDef="unit">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Unit</mat-label>
                                                        <input matInput placeholder="tonnes" [(ngModel)]="element.unit" disabled>
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="amount">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Amount</mat-label>
                                                        <input matInput type="number" placeholder="Amount" [(ngModel)]="element.amount">
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Reference -->
                                            <ng-container matColumnDef="reference">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Reference</mat-label>
                                                        <input matInput placeholder="Reference" [(ngModel)]="element.reference">
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container cdkColumnDef="actions">
                                                <mat-cell class="row" *matCellDef="let element; let i=index">
                                                    <!-- <mat-icon style="color: #21d521;">save</mat-icon> -->
                                                    <mat-icon (click)="removeIndividuallyFromList('new', i)">delete
                                                    </mat-icon>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>
                                        <div class="row m-t-5" *ngIf="newlyAddedList.length > 0">
                                            <div class="col-xs-12 col-md-6">
                                                <button mat-raised-button color="accent" (click)="removeSelected('new')">
                          <mat-icon style="color: #ffffff;">delete</mat-icon> Delete Selected
                        </button>
                                            </div>
                                        </div>
                                        <!--second card body -->
                                    </div>
                                    <!-- inner card ends -->
                                </div>
                                <!-- row ends -->
                                <!-- </div> -->
                                <!-- ///////////////////////////////////////////////////////////////// -->
                            </mat-tab>
                            <mat-tab label="Mobile Air Conditioning">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Mobile Air Conditioning</strong>
                                    </div>
                                    <div class="card-body">
                                        <mat-table table-border #table [dataSource]="dataSource1" matSort>
                                            <ng-container matColumnDef="select">
                                                <mat-header-cell class="row" *matHeaderCellDef>
                                                    <mat-checkbox (change)="$event ? masterToggle1() : null" [checked]="selection1.hasValue() && isAllSelected1()" [indeterminate]="selection1.hasValue() && !isAllSelected1()" [aria-label]="checkboxLabel1()">
                                                    </mat-checkbox>
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(element) : null" [checked]="selection1.isSelected(element)" [aria-label]="checkboxLabel1(element)">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames1">
                                                <mat-header-cell class="row" *matHeaderCellDef>
                                                    <mat-label mat-sort-header class="col-xs-12 col-md-12 col-sm-12">
                                                        {{column.value | uppercase}}
                                                    </mat-label>
                                                    <!-- <mat-form-field appearance="outline" class="col-xs-12 col-md-12 col-sm-12">
                                                        <mat-label>Filter</mat-label>
                                                        <input class="filter-input" matInput [formControl]="column.formControl" placeholder="Filter {{column.value}}" />
                                                    </mat-form-field> -->
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>{{column.value}}</mat-label>
                                                        <input matInput placeholder={{column.value}} [(ngModel)]="element[column.id]" [disabled]="column.id === 'gasConsumed' || approvalScreen || column.id === 'unit'">

                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container cdkColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                                <mat-cell class="row" *matCellDef="let element; let i=index;">
                                                    <!-- <mat-icon style="color: #21d521;">save</mat-icon> -->
                                                    <mat-icon *ngIf="!approvalScreen" (click)="removeIndividuallyFromList1('exist', i)">delete</mat-icon>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
                                        </mat-table>
                                        <div class="row m-t-5">
                                            <div class="col-xs-12 col-md-6" *ngIf="!approvalScreen">
                                                <button mat-raised-button color="accent" (click)="removeSelected1('exist')">
                          <mat-icon style="color: #ffffff;">delete</mat-icon> Delete Selected
                        </button>
                                            </div>
                                            <div class="col-xs-12 col-md-6" style="text-align: right;">
                                                <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                                            </div>
                                        </div>
                                        <!-- first card body ends -->
                                    </div>
                                    <!-- newly added rows -->


                                    <div class="card-body">
                                        <div class="card-header" style="width: fit-content;" *ngIf="!approvalScreen">
                                            <!-- <strong>Newly Added</strong> -->
                                            <button mat-flat-button (click)="addNewRow1()">
                                                <i class="material-icons">add_box</i> Add New
                                            </button>
                                        </div>
                                        <mat-table table-border #table [dataSource]="newDataSource1">

                                            <ng-container matColumnDef="select">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? newSelection1.toggle(element) : null" [checked]="newSelection1.isSelected(element)" [aria-label]="checkboxLabelNew1(element)">
                                                    </mat-checkbox>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Lime type -->
                                            <ng-container matColumnDef="gasConsumed">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Gas Consumed</mat-label>
                                                        <mat-select [(ngModel)]="element.gasConsumed">
                                                            <mat-option>Gas Consumed</mat-option>
                                                            <mat-option *ngFor="let x of gasConsumedList" [value]="x">
                                                                {{x}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>


                                            <ng-container matColumnDef="unit">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Unit</mat-label>
                                                        <input matInput placeholder="tonnes" [(ngModel)]="element.unit" disabled>
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="amount">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Amount</mat-label>
                                                        <input matInput type="number" placeholder="Amount" [(ngModel)]="element.amount">
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Reference -->
                                            <ng-container matColumnDef="reference">
                                                <mat-cell *matCellDef="let element">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Reference</mat-label>
                                                        <input matInput placeholder="Reference" [(ngModel)]="element.reference">
                                                    </mat-form-field>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container cdkColumnDef="actions">
                                                <mat-cell class="row" *matCellDef="let element; let i=index">
                                                    <!-- <mat-icon style="color: #21d521;">save</mat-icon> -->
                                                    <mat-icon (click)="removeIndividuallyFromList1('new', i)">delete
                                                    </mat-icon>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
                                        </mat-table>
                                        <div class="row m-t-5" *ngIf="newlyAddedList1.length > 0">
                                            <div class="col-xs-12 col-md-6">
                                                <button mat-raised-button color="accent" (click)="removeSelected1('new')">
                          <mat-icon style="color: #ffffff;">delete</mat-icon> Delete Selected
                        </button>
                                            </div>
                                        </div>
                                        <!--second card body -->
                                    </div>
                                    <!-- inner card ends -->
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>

                    <div class="row" style="display: block;width: 100%;">
                        <div class="col-xs-12">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Remarks*</mat-label>
                                <textarea matInput placeholder="Remarks" [formControl]="remarksCtrl"  [readonly]='approvalScreen'></textarea>
                                <mat-error *ngIf="formGroup.controls.remark.errors && formGroup.controls.remark.errors.required">Remark is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row" style="display: block;width: 100%;">

                        <div class="col-xs-6" *ngIf="approvalScreen">
                            <!-- <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Approvers Comment*</mat-label>
                                <textarea matInput placeholder="Approvers Comment" [formControl]="approverCommentCtrl" class="filter-input"> </textarea>
                            </mat-form-field> -->
                        </div>

                        <div class="col-xs-6">
                            <button type="button" *ngIf="!approvalScreen" (click)="saveElectricityGeneration()" class="btn btn-success">Submit</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-success" (click)="updateDataStaus('approved')">Approve</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-danger" (click)="updateDataStaus('rejected')">Reject</button>
                        </div>
                        <!-- footer-> row -->
                    </div>
                    <!-- card-footer -->
                </div>
            </div>
        </div>
    </div>
</div>