mat-table.mat-table {
    width: 100%;
}
.mat-header-cell {
    font-size: 10px;
    font-weight: 800;
    color: black !important;
    min-width: 160px;
    max-width: 160px;
    margin-right: 5px;
    mat-form-field {
        max-width: 130px;
    }
}
