version: "3.3"
volumes:
  data:
    driver: local
  filestore:
    driver: local
services:
  db:
    container_name: db
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "<ANY PASSWORD>"
      POSTGRES_USER: root
      PSQL_USERNAME: root
      # POSTGRES_HOST_AUTH_METHOD: trust
      PGDATA: /data/postgres
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - data:/data/postgres
  national:
    image: 302213478610.dkr.ecr.us-east-1.amazonaws.com/carbon-services:latest
    # build:
    # context: .
    # dockerfile: ./backend/services/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: "<ANY PASSWORD>"
      RUN_MODULE: national-api
      rootEmail: <ROOT EMAIL>
      systemCountryCode: "NG"
      name: "Antactic Region"
      logoBase64: "sss"
      IS_EMAIL_DISABLED: "true"
      LOCATION_SERVICE: OPENSTREET
      ASYNC_OPERATIONS_TYPE: Database
      HOST: "http://localhost:3030"
      DOMAIN_MAP: "true"
      EXPIRES_IN: "7200"
      SYSTEM_TYPE: CARBON_REGISTRY_SYSTEM
    volumes:
      - filestore:/app/backend/services/public
      - ./users.csv:/app/backend/services/users.csv
      - ./organisations.csv:/app/backend/services/organisations.csv
  stats:
    # build:
    #   context: .
    #   dockerfile: ./backend/services/Dockerfile
    image: 302213478610.dkr.ecr.us-east-1.amazonaws.com/carbon-services:latest
    ports:
      - "3100:3100"
    depends_on:
      - db
      - national
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: "<ANY PASSWORD>"
      RUN_PORT: 3100
      RUN_MODULE: analytics-api
      DOMAIN_MAP: "true"
  replicator:
    image: 302213478610.dkr.ecr.us-east-1.amazonaws.com/carbon-services:latest
    # build:
    #   context: .
    #   dockerfile: ./backend/services/Dockerfile
    depends_on:
      - db
      - national
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: "<ANY PASSOWORD>"
      IS_EMAIL_DISABLED: "true"
      # ,data-importer
      RUN_MODULE: replicator,async-operations-handler
      LOCATION_SERVICE: OPENSTREET
      SMTP_ENDPOINT: email-smtp.us-east-1.amazonaws.com
      SMTP_PASSWORD: ""
      ASYNC_OPERATIONS_TYPE: Database
      ITMO_API_KEY: ""
      ITMO_EMAIL: ""
      ITMO_PASSWORD: ""
      SYNC_ENDPOINT: 'http://192.168.123.20:9000'
      SYNC_API_TOKEN: ''
      SYNC_ENABLE: true
      SYSTEM_TYPE: CARBON_REGISTRY_SYSTEM
  web:
    image: 302213478610.dkr.ecr.us-east-1.amazonaws.com/carbon-web:latest
    # build:
    #   context: .
    #   dockerfile: ./web/Dockerfile
    #   args:
    #     PORT: 3030
    #     REACT_APP_BACKEND: http://localhost:3000
    #     REACT_APP_STAT_URL: http://localhost:3100
    #     REACT_APP_COUNTRY_NAME: "CountryX"
    #     REACT_APP_COUNTRY_FLAG_URL: "https://carbon-common-dev.s3.amazonaws.com/flag.png"
    #     REACT_APP_COUNTRY_CODE: "NG"
    ports:
      - "3030:3030"
    depends_on:
      - db
      - national
