.m-b-3 {
    margin-bottom: 3%;
}

.mat-header-cell {
    font-size: 10px;
    font-weight: 800;
    color: black !important;
    min-width: 170px;
    max-width: 170px;
    margin-right: 5px;
    mat-form-field {
        max-width: 230px;
    }
}

.card-body {
    overflow-x: scroll;
}

.mat-row {
    margin-top: 10px;
}

mat-icon:hover {
    color: red !important;
}

mat-cell {
    min-width: 180px;
    max-width: 180px;
    mat-form-field {
        max-width: 180px;
    }
}

mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
    padding-left: 50px;
}

.mat-table {
    width: fit-content;
}

.mat-icon {
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

.m-t-5 {
    margin-top: 5px;
}

::ng-deep.snackbar-global {
    margin-top: 70px !important;
}
.clinker-head{
    margin: 0 -15px;
}