$primary-font-family: 'Inter';
$secondary-font-family: 'Sohne-Breit';

$primary-color: #16B1FF;

$nav-color: #282828;
$text-color: #3A3541;

$line-colors: #D9D9D9;
$error-color: #FF4D4F;
$background-color: #E5E5E5;
$outside-background-color: #FFFFFF;


$title-text-color: rgba($text-color, .75);
$body-text-color: rgba($text-color, .5);

