.example-spacer {
    flex: 1 1 auto;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .register {
    background: url(../../../assets/img/cc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .error-text{
    color: red;
  }
  .input-error{
    border: 2px solid red;
  }