<div class="app-body register">
  <main class="main d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h5>CLIMATE ACTION IMPACT ASSESSMENT MRV TOOL</h5>
              <p class="text-muted">Register to your account</p>
              <mat-horizontal-stepper #stepper>

                <mat-step [stepControl]="basicDetailForm" errorMessage="Fill all required fields.">
                  <form [formGroup]="basicDetailForm">
                    <ng-template matStepLabel>Basic Details</ng-template>

                    <!-- <div class="row">
                      <div class="col-xs-12 col-md-12 col-sm-12 form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                          </div>
                          <input type="text" id="username" name="username" class="form-control"
                            placeholder="Enter username" formControlName="username">
                        </div>
                        <p ion-text color="danger" class="input-error error-text"
                          *ngIf="isInvalid(basicDetailForm,'username','required')">Username is required</p>
                        <p ion-text color="danger" class="input-error error-text"
                          *ngIf="isInvalid(basicDetailForm,'username','pattern')">Invalid username</p>
                      </div>
                    </div> -->

                    <div class="row">
                      <div class="col-xs-6 col-md-6 col-sm-12 form-group">
                        <div class="input-group" [ngClass]="{'input-error': basicDetailForm.touched && basicDetailForm.controls.fname.status== 'INVALID'}">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                            <span class="input-group-text-black"><i class="icon-"></i></span>
                          </div>
                          <input type="text" id="fname" name="fname" class="form-control" placeholder="Enter firstname"
                            formControlName="fname">
                        </div>
                        <p ion-text class="error-text"
                          *ngIf="validateField(basicDetailForm,'fname')">{{validateField(basicDetailForm,'fname')}}</p>
                      </div>

                      <div class="col-xs-6 col-md-6 col-sm-12 form-group">
                        <div class="input-group" [ngClass]="{'input-error': basicDetailForm.touched && basicDetailForm.controls.lname.status== 'INVALID'}">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                            <span class="input-group-text-black"><i class="icon-"></i></span>
                          </div>
                          <input type="text" id="lname" name="lname" class="form-control" placeholder="Enter lastname"
                            formControlName="lname">
                        </div>
                        <p ion-text color="danger" class="error-text"
                          *ngIf="validateField(basicDetailForm,'lname')">{{validateField(basicDetailForm,'lname')}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-md-6 col-sm-12 form-group">
                        <div class="input-group" [ngClass]="{'input-error': basicDetailForm.touched && basicDetailForm.controls.email.status== 'INVALID'}" >
                          <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            <span class="input-group-text-black"><i class="icon-"></i></span>
                          </div>
                          <input type="text" id="email" name="email" class="form-control" placeholder="Enter email"
                            formControlName="email">
                        </div>
                        <p ion-text color="danger" class="error-text"
                          *ngIf="validateField(basicDetailForm,'email')">{{validateField(basicDetailForm,'email')}}</p>
                        
                      </div>
                      <div class="col-xs-6 col-md-6 col-sm-12 form-group">
                        <div class="input-group" [ngClass]="{'input-error': basicDetailForm.touched && basicDetailForm.controls.mobile.status== 'INVALID'}">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-phone"></i></span>
                            <span class="input-group-text-black"><i class="icon-"></i></span>
                          </div>
                          <input type="text" id="mobile" name="mobile" class="form-control"
                            placeholder="Enter mobile number" formControlName="mobile">
                        </div>
                        <p ion-text color="danger" class="error-text"
                          *ngIf="validateField(basicDetailForm,'mobile')">{{validateField(basicDetailForm,'mobile')}}</p>
                        
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-md-6 col-sm-12 form-group">
                        <div class="input-group" [ngClass]="{'input-error': basicDetailForm.touched && basicDetailForm.controls.password.status== 'INVALID'}">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-password"></i></span>
                            <span class="input-group-text-black"><i class="icon-"></i></span>
                          </div>
                          <input type="password" id="password" name="password" class="form-control"
                            placeholder="Enter Password (Min 8 characters)" formControlName="password">
                        </div>
                        <p ion-text color="danger" class="error-text"
                          *ngIf="validateField(basicDetailForm,'password')">{{validateField(basicDetailForm,'password')}}</p>

                      </div>
                      <div class="col-xs-6 col-md-6 col-sm-12 form-group">
                        <div class="input-group" [ngClass]="{'input-error': basicDetailForm.touched && basicDetailForm.controls.confirmPassword.status== 'INVALID'}">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-password"></i></span>
                            <span class="input-group-text-black"><i class="icon-"></i></span>
                          </div>
                          <input type="password" id="confirm-password" name="confirm-password" class="form-control"
                            placeholder="Confirm Password" formControlName="confirmPassword">
                        </div>
                        <p ion-text color="danger" class="error-text"
                          *ngIf="validateField(basicDetailForm,'confirmPassword')">{{validateField(basicDetailForm,'confirmPassword')}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-md-12 col-sm-12 form-group">
                        <div class="input-group" [ngClass]="{'input-error': basicDetailForm.touched && basicDetailForm.controls.department.status== 'INVALID'}">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-group"></i></span>
                            <span class="input-group-text-black"><i class="icon-"></i></span>
                          </div>
                          <input type="text" id="department" name="department" class="form-control"
                            placeholder="Enter Department" formControlName="department">
                        </div>
                        <p ion-text color="danger" class="error-text"
                          *ngIf="validateField(basicDetailForm,'department')">{{validateField(basicDetailForm,'department')}}</p>
                      </div>
                    </div>

                    <div>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-link px-0" (click)="goToLoginPage()">
                        Go back to Login?</button>
                    </div>
                    <div class="col-12 text-center">
                      <button type="button" class="btn btn-link px-0">Please Contact Us for any queries?</button>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="permissionForm" errorMessage="Select all required fields">
                  <form [formGroup]="permissionForm">
                    <ng-template matStepLabel>Permissions</ng-template>

                    <div class="row">
                      <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="role">
                          <mat-option>Select Role</mat-option>
                          <mat-option value="user">
                            User
                          </mat-option>
                          <mat-option value="nodal">
                            Nodal Officer
                          </mat-option>
                        </mat-select>
                        <mat-hint class="error-snackbar" *ngIf="isInvalid(permissionForm, 'role','required')">Please
                          select role</mat-hint>
                      </mat-form-field>
                    </div>
                    <h6 class="text-muted gappedline">Choose Permissions</h6>
                    <div class="row permission-row">
                      <!-- <div class="col-md-4" *ngFor="let x of permissionList">
                        <span class="permission-header">{{x.name}}</span>
                        <mat-selection-list #shoes>
                          <mat-list-option *ngFor="let y of x.children" (click)="y.selected = !y.selected">
                            {{y.label}}
                          </mat-list-option>
                        </mat-selection-list>
                      </div> -->
                      <app-screen-access #screenAccess></app-screen-access>
                    </div>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <!-- <button mat-raised-button color="primary" matStepperNext [disabled]="permissionForm.status == 'INVALID' ||
                        basicDetailForm.status == 'INVALID' " (click)="register()">Register</button> -->
                      <button mat-raised-button color="primary" matStepperNext (click)="register()">Register</button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-link px-0" (click)="goToLoginPage()">
                        Go back to Login?</button>
                    </div>
                    <div class="col-12 text-center">
                      <button type="button" class="btn btn-link px-0">Please Contact Us for any queries?</button>
                    </div>
                  </form>
                </mat-step>
              </mat-horizontal-stepper>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>