/* ------------------------------------------------------------------------------
 *
 *  # Icomoon variables
 *
 *  Includes some set-specific functions and variables (base and icons)
 *
 * ---------------------------------------------------------------------------- */


// Base
$im-font-path:                './fonts' !default;
$im-css-prefix:               'icon' !default;

// Convenience function used to set content property
@function im-content($im-var) {
	@return unquote("\"#{ $im-var }\"");
}

// Icons
$im-var-home: \e900;
$im-var-home2: \e901;
$im-var-home5: \e904;
$im-var-home7: \e906;
$im-var-home8: \e907;
$im-var-home9: \e908;
$im-var-office: \e909;
$im-var-city: \e90a;
$im-var-newspaper: \e90b;
$im-var-magazine: \e90c;
$im-var-design: \e90d;
$im-var-pencil: \e90e;
$im-var-pencil3: \e910;
$im-var-pencil4: \e911;
$im-var-pencil5: \e912;
$im-var-pencil6: \e913;
$im-var-pencil7: \e914;
$im-var-eraser: \e915;
$im-var-eraser2: \e916;
$im-var-eraser3: \e917;
$im-var-quill2: \e919;
$im-var-quill4: \e91b;
$im-var-pen: \e91c;
$im-var-pen-plus: \e91d;
$im-var-pen-minus: \e91e;
$im-var-pen2: \e91f;
$im-var-blog: \e925;
$im-var-pen6: \e927;
$im-var-brush: \e928;
$im-var-spray: \e929;
$im-var-color-sampler: \e92c;
$im-var-toggle: \e92d;
$im-var-bucket: \e92e;
$im-var-gradient: \e930;
$im-var-eyedropper: \e931;
$im-var-eyedropper2: \e932;
$im-var-eyedropper3: \e933;
$im-var-droplet: \e934;
$im-var-droplet2: \e935;
$im-var-color-clear: \e937;
$im-var-paint-format: \e938;
$im-var-stamp: \e939;
$im-var-image2: \e93c;
$im-var-image-compare: \e93d;
$im-var-images2: \e93e;
$im-var-image3: \e93f;
$im-var-images3: \e940;
$im-var-image4: \e941;
$im-var-image5: \e942;
$im-var-camera: \e944;
$im-var-shutter: \e947;
$im-var-headphones: \e948;
$im-var-headset: \e949;
$im-var-music: \e94a;
$im-var-album: \e950;
$im-var-tape: \e952;
$im-var-piano: \e953;
$im-var-speakers: \e956;
$im-var-play: \e957;
$im-var-clapboard-play: \e959;
$im-var-clapboard: \e95a;
$im-var-media: \e95b;
$im-var-presentation: \e95c;
$im-var-movie: \e95d;
$im-var-film: \e95e;
$im-var-film2: \e95f;
$im-var-film3: \e960;
$im-var-film4: \e961;
$im-var-video-camera: \e962;
$im-var-video-camera2: \e963;
$im-var-video-camera-slash: \e964;
$im-var-video-camera3: \e965;
$im-var-dice: \e96a;
$im-var-chess-king: \e972;
$im-var-chess-queen: \e973;
$im-var-chess: \e978;
$im-var-megaphone: \e97a;
$im-var-new: \e97b;
$im-var-connection: \e97c;
$im-var-station: \e981;
$im-var-satellite-dish2: \e98a;
$im-var-feed: \e9b3;
$im-var-mic2: \e9ce;
$im-var-mic-off2: \e9e0;
$im-var-book: \e9e1;
$im-var-book2: \e9e9;
$im-var-book-play: \e9fd;
$im-var-book3: \ea01;
$im-var-bookmark: \ea02;
$im-var-books: \ea03;
$im-var-archive: \ea04;
$im-var-reading: \ea05;
$im-var-library2: \ea06;
$im-var-graduation2: \ea07;
$im-var-file-text: \ea08;
$im-var-profile: \ea09;
$im-var-file-empty: \ea0a;
$im-var-file-empty2: \ea0b;
$im-var-files-empty: \ea0c;
$im-var-files-empty2: \ea0d;
$im-var-file-plus: \ea0e;
$im-var-file-plus2: \ea0f;
$im-var-file-minus: \ea10;
$im-var-file-minus2: \ea11;
$im-var-file-download: \ea12;
$im-var-file-download2: \ea13;
$im-var-file-upload: \ea14;
$im-var-file-upload2: \ea15;
$im-var-file-check: \ea16;
$im-var-file-check2: \ea17;
$im-var-file-eye: \ea18;
$im-var-file-eye2: \ea19;
$im-var-file-text2: \ea1a;
$im-var-file-text3: \ea1b;
$im-var-file-picture: \ea1c;
$im-var-file-picture2: \ea1d;
$im-var-file-music: \ea1e;
$im-var-file-music2: \ea1f;
$im-var-file-play: \ea20;
$im-var-file-play2: \ea21;
$im-var-file-video: \ea22;
$im-var-file-video2: \ea23;
$im-var-copy: \ea24;
$im-var-copy2: \ea25;
$im-var-file-zip: \ea26;
$im-var-file-zip2: \ea27;
$im-var-file-xml: \ea28;
$im-var-file-xml2: \ea29;
$im-var-file-css: \ea2a;
$im-var-file-css2: \ea2b;
$im-var-file-presentation: \ea2c;
$im-var-file-presentation2: \ea2d;
$im-var-file-stats: \ea2e;
$im-var-file-stats2: \ea2f;
$im-var-file-locked: \ea30;
$im-var-file-locked2: \ea31;
$im-var-file-spreadsheet: \ea32;
$im-var-file-spreadsheet2: \ea33;
$im-var-copy3: \ea34;
$im-var-copy4: \ea35;
$im-var-paste: \ea36;
$im-var-paste2: \ea37;
$im-var-paste3: \ea38;
$im-var-paste4: \ea39;
$im-var-stack: \ea3a;
$im-var-stack2: \ea3b;
$im-var-stack3: \ea3c;
$im-var-folder: \ea3d;
$im-var-folder-search: \ea3e;
$im-var-folder-download: \ea3f;
$im-var-folder-upload: \ea40;
$im-var-folder-plus: \ea41;
$im-var-folder-plus2: \ea42;
$im-var-folder-minus: \ea43;
$im-var-folder-minus2: \ea44;
$im-var-folder-check: \ea45;
$im-var-folder-heart: \ea46;
$im-var-folder-remove: \ea47;
$im-var-folder2: \ea48;
$im-var-folder-open: \ea49;
$im-var-folder3: \ea4a;
$im-var-folder4: \ea4b;
$im-var-folder-plus3: \ea4c;
$im-var-folder-minus3: \ea4d;
$im-var-folder-plus4: \ea4e;
$im-var-folder-minus4: \ea4f;
$im-var-folder-download2: \ea50;
$im-var-folder-upload2: \ea51;
$im-var-folder-download3: \ea52;
$im-var-folder-upload3: \ea53;
$im-var-folder5: \ea54;
$im-var-folder-open2: \ea55;
$im-var-folder6: \ea56;
$im-var-folder-open3: \ea57;
$im-var-certificate: \ea58;
$im-var-cc: \ea59;
$im-var-price-tag: \ea5a;
$im-var-price-tag2: \ea5b;
$im-var-price-tags: \ea5c;
$im-var-price-tag3: \ea5d;
$im-var-price-tags2: \ea5e;
$im-var-barcode2: \ea5f;
$im-var-qrcode: \ea60;
$im-var-ticket: \ea61;
$im-var-theater: \ea62;
$im-var-store: \ea63;
$im-var-store2: \ea64;
$im-var-cart: \ea65;
$im-var-cart2: \ea66;
$im-var-cart4: \ea67;
$im-var-cart5: \ea68;
$im-var-cart-add: \ea69;
$im-var-cart-add2: \ea6a;
$im-var-cart-remove: \ea6b;
$im-var-basket: \ea6c;
$im-var-bag: \ea6d;
$im-var-percent: \ea6f;
$im-var-coins: \ea70;
$im-var-coin-dollar: \ea71;
$im-var-coin-euro: \ea72;
$im-var-coin-pound: \ea73;
$im-var-coin-yen: \ea74;
$im-var-piggy-bank: \ea75;
$im-var-wallet: \ea76;
$im-var-cash: \ea77;
$im-var-cash2: \ea78;
$im-var-cash3: \ea79;
$im-var-cash4: \ea7a;
$im-var-credit-card: \ea6e;
$im-var-credit-card2: \ea7b;
$im-var-calculator4: \ea7c;
$im-var-calculator2: \ea7d;
$im-var-calculator3: \ea7e;
$im-var-chip: \ea7f;
$im-var-lifebuoy: \ea80;
$im-var-phone: \ea81;
$im-var-phone2: \ea82;
$im-var-phone-slash: \ea83;
$im-var-phone-wave: \ea84;
$im-var-phone-plus: \ea85;
$im-var-phone-minus: \ea86;
$im-var-phone-plus2: \ea87;
$im-var-phone-minus2: \ea88;
$im-var-phone-incoming: \ea89;
$im-var-phone-outgoing: \ea8a;
$im-var-phone-hang-up: \ea8e;
$im-var-address-book: \ea90;
$im-var-address-book2: \ea91;
$im-var-address-book3: \ea92;
$im-var-notebook: \ea93;
$im-var-envelop: \ea94;
$im-var-envelop2: \ea95;
$im-var-envelop3: \ea96;
$im-var-envelop4: \ea97;
$im-var-envelop5: \ea98;
$im-var-mailbox: \ea99;
$im-var-pushpin: \ea9a;
$im-var-location3: \ea9d;
$im-var-location4: \ea9e;
$im-var-compass4: \ea9f;
$im-var-map: \eaa0;
$im-var-map4: \eaa1;
$im-var-map5: \eaa2;
$im-var-direction: \eaa3;
$im-var-reset: \eaa4;
$im-var-history: \eaa5;
$im-var-watch: \eaa6;
$im-var-watch2: \eaa7;
$im-var-alarm: \eaa8;
$im-var-alarm-add: \eaa9;
$im-var-alarm-check: \eaaa;
$im-var-alarm-cancel: \eaab;
$im-var-bell2: \eaac;
$im-var-bell3: \eaad;
$im-var-bell-plus: \eaae;
$im-var-bell-minus: \eaaf;
$im-var-bell-check: \eab0;
$im-var-bell-cross: \eab1;
$im-var-calendar: \eab2;
$im-var-calendar2: \eab3;
$im-var-calendar3: \eab4;
$im-var-calendar52: \eab6;
$im-var-printer: \eab7;
$im-var-printer2: \eab8;
$im-var-printer4: \eab9;
$im-var-shredder: \eaba;
$im-var-mouse: \eabb;
$im-var-mouse-left: \eabc;
$im-var-mouse-right: \eabd;
$im-var-keyboard: \eabe;
$im-var-typewriter: \eabf;
$im-var-display: \eac0;
$im-var-display4: \eac1;
$im-var-laptop: \eac2;
$im-var-mobile: \eac3;
$im-var-mobile2: \eac4;
$im-var-tablet: \eac5;
$im-var-mobile3: \eac6;
$im-var-tv: \eac7;
$im-var-radio: \eac8;
$im-var-cabinet: \eac9;
$im-var-drawer: \eaca;
$im-var-drawer2: \eacb;
$im-var-drawer-out: \eacc;
$im-var-drawer-in: \eacd;
$im-var-drawer3: \eace;
$im-var-box: \eacf;
$im-var-box-add: \ead0;
$im-var-box-remove: \ead1;
$im-var-download: \ead2;
$im-var-upload: \ead3;
$im-var-floppy-disk: \ead4;
$im-var-floppy-disks: \ead5;
$im-var-usb-stick: \ead6;
$im-var-drive: \ead7;
$im-var-server: \ead8;
$im-var-database: \ead9;
$im-var-database2: \eada;
$im-var-database4: \eadb;
$im-var-database-menu: \eadc;
$im-var-database-add: \eadd;
$im-var-database-remove: \eade;
$im-var-database-insert: \eadf;
$im-var-database-export: \eae0;
$im-var-database-upload: \eae1;
$im-var-database-refresh: \eae2;
$im-var-database-diff: \eae3;
$im-var-database-edit2: \eae5;
$im-var-database-check: \eae6;
$im-var-database-arrow: \eae7;
$im-var-database-time2: \eae9;
$im-var-undo: \eaea;
$im-var-redo: \eaeb;
$im-var-rotate-ccw: \eaec;
$im-var-rotate-cw: \eaed;
$im-var-rotate-ccw2: \eaee;
$im-var-rotate-cw2: \eaef;
$im-var-rotate-ccw3: \eaf0;
$im-var-rotate-cw3: \eaf1;
$im-var-flip-vertical2: \eaf2;
$im-var-flip-horizontal2: \eaf3;
$im-var-flip-vertical3: \eaf4;
$im-var-flip-vertical4: \eaf5;
$im-var-angle: \eaf6;
$im-var-shear: \eaf7;
$im-var-align-left: \eafc;
$im-var-align-center-horizontal: \eafd;
$im-var-align-right: \eafe;
$im-var-align-top: \eaff;
$im-var-align-center-vertical: \eb00;
$im-var-align-bottom: \eb01;
$im-var-undo2: \eb02;
$im-var-redo2: \eb03;
$im-var-forward: \eb04;
$im-var-reply: \eb05;
$im-var-reply-all: \eb06;
$im-var-bubble: \eb07;
$im-var-bubbles: \eb08;
$im-var-bubbles2: \eb09;
$im-var-bubble2: \eb0a;
$im-var-bubbles3: \eb0b;
$im-var-bubbles4: \eb0c;
$im-var-bubble-notification: \eb0d;
$im-var-bubbles5: \eb0e;
$im-var-bubbles6: \eb0f;
$im-var-bubble6: \eb10;
$im-var-bubbles7: \eb11;
$im-var-bubble7: \eb12;
$im-var-bubbles8: \eb13;
$im-var-bubble8: \eb14;
$im-var-bubble-dots3: \eb15;
$im-var-bubble-lines3: \eb16;
$im-var-bubble9: \eb17;
$im-var-bubble-dots4: \eb18;
$im-var-bubble-lines4: \eb19;
$im-var-bubbles9: \eb1a;
$im-var-bubbles10: \eb1b;
$im-var-user: \eb33;
$im-var-users: \eb34;
$im-var-user-plus: \eb35;
$im-var-user-minus: \eb36;
$im-var-user-cancel: \eb37;
$im-var-user-block: \eb38;
$im-var-user-lock: \eb39;
$im-var-user-check: \eb3a;
$im-var-users2: \eb3b;
$im-var-users4: \eb44;
$im-var-user-tie: \eb45;
$im-var-collaboration: \eb46;
$im-var-vcard: \eb47;
$im-var-hat: \ebb8;
$im-var-bowtie: \ebb9;
$im-var-quotes-left: \eb49;
$im-var-quotes-right: \eb4a;
$im-var-quotes-left2: \eb4b;
$im-var-quotes-right2: \eb4c;
$im-var-hour-glass: \eb4d;
$im-var-hour-glass2: \eb4e;
$im-var-hour-glass3: \eb4f;
$im-var-spinner: \eb50;
$im-var-spinner2: \eb51;
$im-var-spinner3: \eb52;
$im-var-spinner4: \eb53;
$im-var-spinner6: \eb54;
$im-var-spinner9: \eb55;
$im-var-spinner10: \eb56;
$im-var-spinner11: \eb57;
$im-var-microscope: \eb58;
$im-var-enlarge: \eb59;
$im-var-shrink: \eb5a;
$im-var-enlarge3: \eb5b;
$im-var-shrink3: \eb5c;
$im-var-enlarge5: \eb5d;
$im-var-shrink5: \eb5e;
$im-var-enlarge6: \eb5f;
$im-var-shrink6: \eb60;
$im-var-enlarge7: \eb61;
$im-var-shrink7: \eb62;
$im-var-key: \eb63;
$im-var-lock: \eb65;
$im-var-lock2: \eb66;
$im-var-lock4: \eb67;
$im-var-unlocked: \eb68;
$im-var-lock5: \eb69;
$im-var-unlocked2: \eb6a;
$im-var-safe: \eb6b;
$im-var-wrench: \eb6c;
$im-var-wrench2: \eb6d;
$im-var-wrench3: \eb6e;
$im-var-equalizer: \eb6f;
$im-var-equalizer2: \eb70;
$im-var-equalizer3: \eb71;
$im-var-equalizer4: \eb72;
$im-var-cog: \eb73;
$im-var-cogs: \eb74;
$im-var-cog2: \eb75;
$im-var-cog3: \eb76;
$im-var-cog4: \eb77;
$im-var-cog52: \eb78;
$im-var-cog6: \eb79;
$im-var-cog7: \eb7a;
$im-var-hammer: \eb7c;
$im-var-hammer-wrench: \eb7d;
$im-var-magic-wand: \eb7e;
$im-var-magic-wand2: \eb7f;
$im-var-pulse2: \eb80;
$im-var-aid-kit: \eb81;
$im-var-bug2: \eb83;
$im-var-construction: \eb85;
$im-var-traffic-cone: \eb86;
$im-var-traffic-lights: \eb87;
$im-var-pie-chart: \eb88;
$im-var-pie-chart2: \eb89;
$im-var-pie-chart3: \eb8a;
$im-var-pie-chart4: \eb8b;
$im-var-pie-chart5: \eb8c;
$im-var-pie-chart6: \eb8d;
$im-var-pie-chart7: \eb8e;
$im-var-stats-dots: \eb8f;
$im-var-stats-bars: \eb90;
$im-var-pie-chart8: \eb91;
$im-var-stats-bars2: \eb92;
$im-var-stats-bars3: \eb93;
$im-var-stats-bars4: \eb94;
$im-var-chart: \eb97;
$im-var-stats-growth: \eb98;
$im-var-stats-decline: \eb99;
$im-var-stats-growth2: \eb9a;
$im-var-stats-decline2: \eb9b;
$im-var-stairs-up: \eb9c;
$im-var-stairs-down: \eb9d;
$im-var-stairs: \eb9e;
$im-var-ladder: \eba0;
$im-var-rating: \eba1;
$im-var-rating2: \eba2;
$im-var-rating3: \eba3;
$im-var-podium: \eba5;
$im-var-stars: \eba6;
$im-var-medal-star: \eba7;
$im-var-medal: \eba8;
$im-var-medal2: \eba9;
$im-var-medal-first: \ebaa;
$im-var-medal-second: \ebab;
$im-var-medal-third: \ebac;
$im-var-crown: \ebad;
$im-var-trophy2: \ebaf;
$im-var-trophy3: \ebb0;
$im-var-diamond: \ebb1;
$im-var-trophy4: \ebb2;
$im-var-gift: \ebb3;
$im-var-pipe: \ebb6;
$im-var-mustache: \ebb7;
$im-var-cup2: \ebc6;
$im-var-coffee: \ebc8;
$im-var-paw: \ebd5;
$im-var-footprint: \ebd6;
$im-var-rocket: \ebda;
$im-var-meter2: \ebdc;
$im-var-meter-slow: \ebdd;
$im-var-meter-fast: \ebdf;
$im-var-hammer2: \ebe1;
$im-var-balance: \ebe2;
$im-var-fire: \ebe5;
$im-var-fire2: \ebe6;
$im-var-lab: \ebe7;
$im-var-atom: \ebe8;
$im-var-atom2: \ebe9;
$im-var-bin: \ebfa;
$im-var-bin2: \ebfb;
$im-var-briefcase: \ebff;
$im-var-briefcase3: \ec01;
$im-var-airplane2: \ec03;
$im-var-airplane3: \ec04;
$im-var-airplane4: \ec05;
$im-var-paperplane: \ec06;
$im-var-car: \ec07;
$im-var-steering-wheel: \ec08;
$im-var-car2: \ec09;
$im-var-gas: \ec0a;
$im-var-bus: \ec0b;
$im-var-truck: \ec0c;
$im-var-bike: \ec0d;
$im-var-road: \ec0e;
$im-var-train: \ec0f;
$im-var-train2: \ec10;
$im-var-ship: \ec11;
$im-var-boat: \ec12;
$im-var-chopper: \ec13;
$im-var-cube: \ec15;
$im-var-cube2: \ec16;
$im-var-cube3: \ec17;
$im-var-cube4: \ec18;
$im-var-pyramid: \ec19;
$im-var-pyramid2: \ec1a;
$im-var-package: \ec1b;
$im-var-puzzle: \ec1c;
$im-var-puzzle2: \ec1d;
$im-var-puzzle3: \ec1e;
$im-var-puzzle4: \ec1f;
$im-var-glasses-3d2: \ec21;
$im-var-brain: \ec24;
$im-var-accessibility: \ec25;
$im-var-accessibility2: \ec26;
$im-var-strategy: \ec27;
$im-var-target: \ec28;
$im-var-target2: \ec29;
$im-var-shield-check: \ec2f;
$im-var-shield-notice: \ec30;
$im-var-shield2: \ec31;
$im-var-racing: \ec40;
$im-var-finish: \ec41;
$im-var-power2: \ec46;
$im-var-power3: \ec47;
$im-var-switch: \ec48;
$im-var-switch22: \ec49;
$im-var-power-cord: \ec4a;
$im-var-clipboard: \ec4d;
$im-var-clipboard2: \ec4e;
$im-var-clipboard3: \ec4f;
$im-var-clipboard4: \ec50;
$im-var-clipboard5: \ec51;
$im-var-clipboard6: \ec52;
$im-var-playlist: \ec53;
$im-var-playlist-add: \ec54;
$im-var-list-numbered: \ec55;
$im-var-list: \ec56;
$im-var-list2: \ec57;
$im-var-more: \ec58;
$im-var-more2: \ec59;
$im-var-grid: \ec5a;
$im-var-grid2: \ec5b;
$im-var-grid3: \ec5c;
$im-var-grid4: \ec5d;
$im-var-grid52: \ec5e;
$im-var-grid6: \ec5f;
$im-var-grid7: \ec60;
$im-var-tree5: \ec61;
$im-var-tree6: \ec62;
$im-var-tree7: \ec63;
$im-var-lan: \ec64;
$im-var-lan2: \ec65;
$im-var-lan3: \ec66;
$im-var-menu: \ec67;
$im-var-circle-small: \ec68;
$im-var-menu2: \ec69;
$im-var-menu3: \ec6a;
$im-var-menu4: \ec6b;
$im-var-menu5: \ec6c;
$im-var-menu62: \ec6d;
$im-var-menu7: \ec6e;
$im-var-menu8: \ec6f;
$im-var-menu9: \ec70;
$im-var-menu10: \ec71;
$im-var-cloud: \ec72;
$im-var-cloud-download: \ec73;
$im-var-cloud-upload: \ec74;
$im-var-cloud-check: \ec75;
$im-var-cloud2: \ec76;
$im-var-cloud-download2: \ec77;
$im-var-cloud-upload2: \ec78;
$im-var-cloud-check2: \ec79;
$im-var-import: \ec7e;
$im-var-download4: \ec80;
$im-var-upload4: \ec81;
$im-var-download7: \ec86;
$im-var-upload7: \ec87;
$im-var-download10: \ec8c;
$im-var-upload10: \ec8d;
$im-var-sphere: \ec8e;
$im-var-sphere3: \ec90;
$im-var-earth: \ec93;
$im-var-link: \ec96;
$im-var-unlink: \ec97;
$im-var-link2: \ec98;
$im-var-unlink2: \ec99;
$im-var-anchor: \eca0;
$im-var-flag3: \eca3;
$im-var-flag4: \eca4;
$im-var-flag7: \eca7;
$im-var-flag8: \eca8;
$im-var-attachment: \eca9;
$im-var-attachment2: \ecaa;
$im-var-eye: \ecab;
$im-var-eye-plus: \ecac;
$im-var-eye-minus: \ecad;
$im-var-eye-blocked: \ecae;
$im-var-eye2: \ecaf;
$im-var-eye-blocked2: \ecb0;
$im-var-eye4: \ecb3;
$im-var-bookmark2: \ecb4;
$im-var-bookmark3: \ecb5;
$im-var-bookmarks: \ecb6;
$im-var-bookmark4: \ecb7;
$im-var-spotlight2: \ecb8;
$im-var-starburst: \ecb9;
$im-var-snowflake: \ecba;
$im-var-weather-windy: \ecd0;
$im-var-fan: \ecd1;
$im-var-umbrella: \ecd2;
$im-var-sun3: \ecd3;
$im-var-contrast: \ecd4;
$im-var-bed2: \ecda;
$im-var-furniture: \ecdb;
$im-var-chair: \ecdc;
$im-var-star-empty3: \ece0;
$im-var-star-half: \ece1;
$im-var-star-full2: \ece2;
$im-var-heart5: \ece9;
$im-var-heart6: \ecea;
$im-var-heart-broken2: \eceb;
$im-var-thumbs-up2: \ecf2;
$im-var-thumbs-down2: \ecf4;
$im-var-thumbs-up3: \ecf5;
$im-var-thumbs-down3: \ecf6;
$im-var-height: \ecf7;
$im-var-man: \ecf8;
$im-var-woman: \ecf9;
$im-var-man-woman: \ecfa;
$im-var-yin-yang: \ecfe;
$im-var-cursor: \ed23;
$im-var-cursor2: \ed24;
$im-var-lasso2: \ed26;
$im-var-select2: \ed28;
$im-var-point-up: \ed29;
$im-var-point-right: \ed2a;
$im-var-point-down: \ed2b;
$im-var-point-left: \ed2c;
$im-var-pointer: \ed2d;
$im-var-reminder: \ed2e;
$im-var-drag-left-right: \ed2f;
$im-var-drag-left: \ed30;
$im-var-drag-right: \ed31;
$im-var-touch: \ed32;
$im-var-multitouch: \ed33;
$im-var-touch-zoom: \ed34;
$im-var-touch-pinch: \ed35;
$im-var-hand: \ed36;
$im-var-grab: \ed37;
$im-var-stack-empty: \ed38;
$im-var-stack-plus: \ed39;
$im-var-stack-minus: \ed3a;
$im-var-stack-star: \ed3b;
$im-var-stack-picture: \ed3c;
$im-var-stack-down: \ed3d;
$im-var-stack-up: \ed3e;
$im-var-stack-cancel: \ed3f;
$im-var-stack-check: \ed40;
$im-var-stack-text: \ed41;
$im-var-stack4: \ed47;
$im-var-stack-music: \ed48;
$im-var-stack-play: \ed49;
$im-var-move: \ed4a;
$im-var-dots: \ed4b;
$im-var-warning: \ed4c;
$im-var-warning22: \ed4d;
$im-var-notification2: \ed4f;
$im-var-question3: \ed52;
$im-var-question4: \ed53;
$im-var-plus3: \ed5a;
$im-var-minus3: \ed5b;
$im-var-plus-circle2: \ed5e;
$im-var-minus-circle2: \ed5f;
$im-var-cancel-circle2: \ed63;
$im-var-blocked: \ed64;
$im-var-cancel-square: \ed65;
$im-var-cancel-square2: \ed66;
$im-var-spam: \ed68;
$im-var-cross2: \ed6a;
$im-var-cross3: \ed6b;
$im-var-checkmark: \ed6c;
$im-var-checkmark3: \ed6e;
$im-var-checkmark2: \e372;
$im-var-checkmark4: \ed6f;
$im-var-spell-check: \ed71;
$im-var-spell-check2: \ed72;
$im-var-enter: \ed73;
$im-var-exit: \ed74;
$im-var-enter2: \ed75;
$im-var-exit2: \ed76;
$im-var-enter3: \ed77;
$im-var-exit3: \ed78;
$im-var-wall: \ed79;
$im-var-fence: \ed7a;
$im-var-play3: \ed7b;
$im-var-pause: \ed7c;
$im-var-stop: \ed7d;
$im-var-previous: \ed7e;
$im-var-next: \ed7f;
$im-var-backward: \ed80;
$im-var-forward2: \ed81;
$im-var-play4: \ed82;
$im-var-pause2: \ed83;
$im-var-stop2: \ed84;
$im-var-backward2: \ed85;
$im-var-forward3: \ed86;
$im-var-first: \ed87;
$im-var-last: \ed88;
$im-var-previous2: \ed89;
$im-var-next2: \ed8a;
$im-var-eject: \ed8b;
$im-var-volume-high: \ed8c;
$im-var-volume-medium: \ed8d;
$im-var-volume-low: \ed8e;
$im-var-volume-mute: \ed8f;
$im-var-speaker-left: \ed90;
$im-var-speaker-right: \ed91;
$im-var-volume-mute2: \ed92;
$im-var-volume-increase: \ed93;
$im-var-volume-decrease: \ed94;
$im-var-volume-mute5: \eda4;
$im-var-loop: \eda5;
$im-var-loop3: \eda7;
$im-var-infinite-square: \eda8;
$im-var-infinite: \eda9;
$im-var-loop4: \edab;
$im-var-shuffle: \edac;
$im-var-wave: \edae;
$im-var-wave2: \edaf;
$im-var-split: \edb0;
$im-var-merge: \edb1;
$im-var-arrow-up5: \edc4;
$im-var-arrow-right5: \edc5;
$im-var-arrow-down5: \edc6;
$im-var-arrow-left5: \edc7;
$im-var-arrow-up-left2: \edd0;
$im-var-arrow-up7: \edd1;
$im-var-arrow-up-right2: \edd2;
$im-var-arrow-right7: \edd3;
$im-var-arrow-down-right2: \edd4;
$im-var-arrow-down7: \edd5;
$im-var-arrow-down-left2: \edd6;
$im-var-arrow-left7: \edd7;
$im-var-arrow-up-left3: \edd8;
$im-var-arrow-up8: \edd9;
$im-var-arrow-up-right3: \edda;
$im-var-arrow-right8: \eddb;
$im-var-arrow-down-right3: \eddc;
$im-var-arrow-down8: \eddd;
$im-var-arrow-down-left3: \edde;
$im-var-arrow-left8: \eddf;
$im-var-circle-up2: \ede4;
$im-var-circle-right2: \ede5;
$im-var-circle-down2: \ede6;
$im-var-circle-left2: \ede7;
$im-var-arrow-resize7: \edfe;
$im-var-arrow-resize8: \edff;
$im-var-square-up-left: \ee00;
$im-var-square-up: \ee01;
$im-var-square-up-right: \ee02;
$im-var-square-right: \ee03;
$im-var-square-down-right: \ee04;
$im-var-square-down: \ee05;
$im-var-square-down-left: \ee06;
$im-var-square-left: \ee07;
$im-var-arrow-up15: \ee30;
$im-var-arrow-right15: \ee31;
$im-var-arrow-down15: \ee32;
$im-var-arrow-left15: \ee33;
$im-var-arrow-up16: \ee34;
$im-var-arrow-right16: \ee35;
$im-var-arrow-down16: \ee36;
$im-var-arrow-left16: \ee37;
$im-var-menu-open: \ee38;
$im-var-menu-open2: \ee39;
$im-var-menu-close: \ee3a;
$im-var-menu-close2: \ee3b;
$im-var-enter5: \ee3d;
$im-var-esc: \ee3e;
$im-var-enter6: \ee3f;
$im-var-backspace: \ee40;
$im-var-backspace2: \ee41;
$im-var-tab: \ee42;
$im-var-transmission: \ee43;
$im-var-sort: \ee45;
$im-var-move-up2: \ee47;
$im-var-move-down2: \ee48;
$im-var-sort-alpha-asc: \ee49;
$im-var-sort-alpha-desc: \ee4a;
$im-var-sort-numeric-asc: \ee4b;
$im-var-sort-numberic-desc: \ee4c;
$im-var-sort-amount-asc: \ee4d;
$im-var-sort-amount-desc: \ee4e;
$im-var-sort-time-asc: \ee4f;
$im-var-sort-time-desc: \ee50;
$im-var-battery-6: \ee51;
$im-var-battery-0: \ee57;
$im-var-battery-charging: \ee58;
$im-var-command: \ee5f;
$im-var-shift: \ee60;
$im-var-ctrl: \ee61;
$im-var-opt: \ee62;
$im-var-checkbox-checked: \ee63;
$im-var-checkbox-unchecked: \ee64;
$im-var-checkbox-partial: \ee65;
$im-var-square: \ee66;
$im-var-triangle: \ee67;
$im-var-triangle2: \ee68;
$im-var-diamond3: \ee69;
$im-var-diamond4: \ee6a;
$im-var-checkbox-checked2: \ee6b;
$im-var-checkbox-unchecked2: \ee6c;
$im-var-checkbox-partial2: \ee6d;
$im-var-radio-checked: \ee6e;
$im-var-radio-checked2: \ee6f;
$im-var-radio-unchecked: \ee70;
$im-var-checkmark-circle: \ee73;
$im-var-circle: \ee74;
$im-var-circle2: \ee75;
$im-var-circles: \ee76;
$im-var-circles2: \ee77;
$im-var-crop: \ee78;
$im-var-crop2: \ee79;
$im-var-make-group: \ee7a;
$im-var-ungroup: \ee7b;
$im-var-vector: \ee7c;
$im-var-vector2: \ee7d;
$im-var-rulers: \ee7e;
$im-var-pencil-ruler: \ee80;
$im-var-scissors: \ee81;
$im-var-filter3: \ee88;
$im-var-filter4: \ee89;
$im-var-font: \ee8a;
$im-var-ampersand2: \ee8b;
$im-var-ligature: \ee8c;
$im-var-font-size: \ee8e;
$im-var-typography: \ee8f;
$im-var-text-height: \ee90;
$im-var-text-width: \ee91;
$im-var-height2: \ee92;
$im-var-width: \ee93;
$im-var-strikethrough2: \ee98;
$im-var-font-size2: \ee99;
$im-var-bold2: \ee9a;
$im-var-underline2: \ee9b;
$im-var-italic2: \ee9c;
$im-var-strikethrough3: \ee9d;
$im-var-omega: \ee9e;
$im-var-sigma: \ee9f;
$im-var-nbsp: \eea0;
$im-var-page-break: \eea1;
$im-var-page-break2: \eea2;
$im-var-superscript: \eea3;
$im-var-subscript: \eea4;
$im-var-superscript2: \eea5;
$im-var-subscript2: \eea6;
$im-var-text-color: \eea7;
$im-var-highlight: \eea8;
$im-var-pagebreak: \eea9;
$im-var-clear-formatting: \eeaa;
$im-var-table: \eeab;
$im-var-table2: \eeac;
$im-var-insert-template: \eead;
$im-var-pilcrow: \eeae;
$im-var-ltr: \eeaf;
$im-var-rtl: \eeb0;
$im-var-ltr2: \eeb1;
$im-var-rtl2: \eeb2;
$im-var-section: \eeb3;
$im-var-paragraph-left2: \eeb8;
$im-var-paragraph-center2: \eeb9;
$im-var-paragraph-right2: \eeba;
$im-var-paragraph-justify2: \eebb;
$im-var-indent-increase: \eebc;
$im-var-indent-decrease: \eebd;
$im-var-paragraph-left3: \eebe;
$im-var-paragraph-center3: \eebf;
$im-var-paragraph-right3: \eec0;
$im-var-paragraph-justify3: \eec1;
$im-var-indent-increase2: \eec2;
$im-var-indent-decrease2: \eec3;
$im-var-share: \eec4;
$im-var-share2: \eec5;
$im-var-new-tab: \eec6;
$im-var-new-tab2: \eec7;
$im-var-popout: \eec8;
$im-var-embed: \eec9;
$im-var-embed2: \eeca;
$im-var-markup: \eecb;
$im-var-regexp: \eecc;
$im-var-regexp2: \eecd;
$im-var-code: \eece;
$im-var-circle-css: \eecf;
$im-var-circle-code: \eed0;
$im-var-terminal: \eed1;
$im-var-unicode: \eed2;
$im-var-seven-segment-0: \eed3;
$im-var-seven-segment-1: \eed4;
$im-var-seven-segment-2: \eed5;
$im-var-seven-segment-3: \eed6;
$im-var-seven-segment-4: \eed7;
$im-var-seven-segment-5: \eed8;
$im-var-seven-segment-6: \eed9;
$im-var-seven-segment-7: \eeda;
$im-var-seven-segment-8: \eedb;
$im-var-seven-segment-9: \eedc;
$im-var-share3: \eedd;
$im-var-share4: \eede;
$im-var-google: \eee3;
$im-var-google-plus: \eee4;
$im-var-google-plus2: \eee5;
$im-var-google-drive: \eee7;
$im-var-facebook: \eee8;
$im-var-facebook2: \eee9;
$im-var-instagram: \eeec;
$im-var-twitter: \eeed;
$im-var-twitter2: \eeee;
$im-var-feed2: \eef0;
$im-var-feed3: \eef1;
$im-var-youtube: \eef3;
$im-var-youtube2: \eef4;
$im-var-youtube3: \eef5;
$im-var-vimeo: \eef8;
$im-var-vimeo2: \eef9;
$im-var-lanyrd: \eefb;
$im-var-flickr: \eefc;
$im-var-flickr2: \eefd;
$im-var-flickr3: \eefe;
$im-var-picassa: \ef00;
$im-var-picassa2: \ef01;
$im-var-dribbble: \ef02;
$im-var-dribbble2: \ef03;
$im-var-dribbble3: \ef04;
$im-var-forrst: \ef05;
$im-var-forrst2: \ef06;
$im-var-deviantart: \ef07;
$im-var-deviantart2: \ef08;
$im-var-steam: \ef09;
$im-var-steam2: \ef0a;
$im-var-dropbox: \ef0b;
$im-var-onedrive: \ef0c;
$im-var-github: \ef0d;
$im-var-github4: \ef10;
$im-var-github5: \ef11;
$im-var-wordpress: \ef12;
$im-var-wordpress2: \ef13;
$im-var-joomla: \ef14;
$im-var-blogger: \ef15;
$im-var-blogger2: \ef16;
$im-var-tumblr: \ef17;
$im-var-tumblr2: \ef18;
$im-var-yahoo: \ef19;
$im-var-tux: \ef1a;
$im-var-apple2: \ef1b;
$im-var-finder: \ef1c;
$im-var-android: \ef1d;
$im-var-windows: \ef1e;
$im-var-windows8: \ef1f;
$im-var-soundcloud: \ef20;
$im-var-soundcloud2: \ef21;
$im-var-skype: \ef22;
$im-var-reddit: \ef23;
$im-var-linkedin: \ef24;
$im-var-linkedin2: \ef25;
$im-var-lastfm: \ef26;
$im-var-lastfm2: \ef27;
$im-var-delicious: \ef28;
$im-var-stumbleupon: \ef29;
$im-var-stumbleupon2: \ef2a;
$im-var-stackoverflow: \ef2b;
$im-var-pinterest2: \ef2d;
$im-var-xing: \ef2e;
$im-var-flattr: \ef30;
$im-var-foursquare: \ef31;
$im-var-paypal: \ef32;
$im-var-paypal2: \ef33;
$im-var-yelp: \ef35;
$im-var-file-pdf: \ef36;
$im-var-file-openoffice: \ef37;
$im-var-file-word: \ef38;
$im-var-file-excel: \ef39;
$im-var-libreoffice: \ef3a;
$im-var-html5: \ef3b;
$im-var-html52: \ef3c;
$im-var-css3: \ef3d;
$im-var-git: \ef3e;
$im-var-svg: \ef3f;
$im-var-codepen: \ef40;
$im-var-chrome: \ef41;
$im-var-firefox: \ef42;
$im-var-IE: \ef43;
$im-var-opera: \ef44;
$im-var-safari: \ef45;
$im-var-check2: \e601;
$im-var-home4: \e603;
$im-var-people: \e81b;
$im-var-checkmark-circle2: \e853;
$im-var-arrow-up-left32: \e8ae;
$im-var-arrow-up52: \e8af;
$im-var-arrow-up-right32: \e8b0;
$im-var-arrow-right6: \e8b1;
$im-var-arrow-down-right32: \e8b2;
$im-var-arrow-down52: \e8b3;
$im-var-arrow-down-left32: \e8b4;
$im-var-arrow-left52: \e8b5;
$im-var-calendar5: \e985;
$im-var-move-alt1: \e986;
$im-var-reload-alt: \e987;
$im-var-move-vertical: \e988;
$im-var-move-horizontal: \e989;
$im-var-hash: \e98b;
$im-var-bars-alt: \e98c;
$im-var-eye8: \e98d;
$im-var-search4: \e98e;
$im-var-zoomin3: \e98f;
$im-var-zoomout3: \e990;
$im-var-add: \e991;
$im-var-subtract: \e992;
$im-var-exclamation: \e993;
$im-var-question6: \e994;
$im-var-close2: \e995;
$im-var-task: \e996;
$im-var-inbox: \e997;
$im-var-inbox-alt: \e998;
$im-var-envelope: \e999;
$im-var-compose: \e99a;
$im-var-newspaper2: \e99b;
$im-var-calendar22: \e99c;
$im-var-hyperlink: \e99d;
$im-var-trash: \e99e;
$im-var-trash-alt: \e99f;
$im-var-grid5: \e9a0;
$im-var-grid-alt: \e9a1;
$im-var-menu6: \e9a2;
$im-var-list3: \e9a3;
$im-var-gallery: \e9a4;
$im-var-calculator: \e9a5;
$im-var-windows2: \e9a6;
$im-var-browser: \e9a7;
$im-var-portfolio: \e9a8;
$im-var-comments: \e9a9;
$im-var-screen3: \e9aa;
$im-var-iphone: \e9ab;
$im-var-ipad: \e9ac;
$im-var-googleplus5: \e9ad;
$im-var-pin: \e9ae;
$im-var-pin-alt: \e9af;
$im-var-cog5: \e9b0;
$im-var-graduation: \e9b1;
$im-var-air: \e9b2;
$im-var-droplets: \e7ee;
$im-var-statistics: \e9b4;
$im-var-pie5: \e7ef;
$im-var-cross: \e9b6;
$im-var-minus2: \e9b7;
$im-var-plus2: \e9b8;
$im-var-info3: \e9b9;
$im-var-info22: \e9ba;
$im-var-question7: \e9bb;
$im-var-help: \e9bc;
$im-var-warning2: \e9bd;
$im-var-add-to-list: \e9bf;
$im-var-arrow-left12: \e9c0;
$im-var-arrow-down12: \e9c1;
$im-var-arrow-up12: \e9c2;
$im-var-arrow-right13: \e9c3;
$im-var-arrow-left22: \e9c4;
$im-var-arrow-down22: \e9c5;
$im-var-arrow-up22: \e9c6;
$im-var-arrow-right22: \e9c7;
$im-var-arrow-left32: \e9c8;
$im-var-arrow-down32: \e9c9;
$im-var-arrow-up32: \e9ca;
$im-var-arrow-right32: \e9cb;
$im-var-switch2: \e647;
$im-var-checkmark5: \e600;
$im-var-ampersand: \e9cc;
$im-var-alert: \e9cf;
$im-var-alignment-align: \e9d0;
$im-var-alignment-aligned-to: \e9d1;
$im-var-alignment-unalign: \e9d2;
$im-var-arrow-down132: \e9d3;
$im-var-arrow-up13: \e9da;
$im-var-arrow-left13: \e9d4;
$im-var-arrow-right14: \e9d5;
$im-var-arrow-small-down: \e9d6;
$im-var-arrow-small-left: \e9d7;
$im-var-arrow-small-right: \e9d8;
$im-var-arrow-small-up: \e9d9;
$im-var-check: \e9db;
$im-var-chevron-down: \e9dc;
$im-var-chevron-left: \e9dd;
$im-var-chevron-right: \e9de;
$im-var-chevron-up: \e9df;
$im-var-clippy: \f035;
$im-var-comment: \f02b;
$im-var-comment-discussion: \f04f;
$im-var-dash: \e9e2;
$im-var-diff: \e9e3;
$im-var-diff-added: \e9e4;
$im-var-diff-ignored: \e9e5;
$im-var-diff-modified: \e9e6;
$im-var-diff-removed: \e9e7;
$im-var-diff-renamed: \e9e8;
$im-var-file-media: \f012;
$im-var-fold: \e9ea;
$im-var-gear: \e9eb;
$im-var-git-branch: \e9ec;
$im-var-git-commit: \e9ed;
$im-var-git-compare: \e9ee;
$im-var-git-merge: \e9ef;
$im-var-git-pull-request: \e9f0;
$im-var-graph: \f043;
$im-var-law: \e9f1;
$im-var-list-ordered: \e9f2;
$im-var-list-unordered: \e9f3;
$im-var-mail5: \e9f4;
$im-var-mail-read: \e9f5;
$im-var-mention: \e9f6;
$im-var-mirror: \f024;
$im-var-move-down: \f0a8;
$im-var-move-left: \f074;
$im-var-move-right: \f0a9;
$im-var-move-up: \f0a7;
$im-var-person: \f018;
$im-var-plus22: \e9f7;
$im-var-primitive-dot: \f052;
$im-var-primitive-square: \f053;
$im-var-repo-forked: \e9f8;
$im-var-screen-full: \e9f9;
$im-var-screen-normal: \e9fa;
$im-var-sync: \e9fb;
$im-var-three-bars: \e9fc;
$im-var-unfold: \e9fe;
$im-var-versions: \e9ff;
$im-var-x: \ea00;
