@import '../../Assets/Fonts/fonts.scss';
@import '../../Styles/variables.scss';

.login-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $outside-background-color;

  .login-language-selection-container {
    
    position: absolute;
    bottom: 26px;
    left: 2rem;
    font-weight: regular;
    font-size: 0.8rem;
    color: $body-text-color;

    .login-language-selection-txt {
      font-size: 0.8rem;
      font-weight: 500;
    }

    .ant-select-selector {
      border: none !important;
      color: $body-text-color !important;
      font-size: 0.8rem;
      padding: 0px !important;
    }

    .ant-select-selection-item {
      color: $body-text-color !important;
    }

    .ant-select-arrow {
      color: $body-text-color !important;
    }

    .sep {
      padding: 0px 5px;
    }

    .ant-select {
      width: 100px;
      // margin-left: 10px;
    }
  }

  .login-img-container {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(4, 104, 177, 0.6) 0.01%),
      url('../../Assets/Images/factory.png') left 10% bottom 20% / cover no-repeat border-box;
    height: 100vh;
    background-position-x: 90%;
    background-position-y: 100%;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    flex: 1;
    text-align: left;
    background-size: 300vh;

    @media (max-width: $lg-size) {
      text-align: center;
      justify-content: center;
    }

    span {
      margin-left: 2vw;
      margin-bottom: 8vh;
      font-family: $secondary-font-family;
      font-size: 4rem;
      color: $outside-background-color;
      line-height: 1.2em;
      text-transform: uppercase;

      @media (max-width: $lg-size) {
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: unset;
        // width: 100vw;
        line-height: 1.5em;
      }
    }
  }

  .login-country-logo {
    flex-direction: column;
    align-items: center;
    display: flex;

    @media (max-width: $lg-size) {
      // width: 100vw;;
    }

    img {
      margin-top: 20px;
      object-fit: cover;
      height: auto;
      width: 5rem;
    }
  }

  .login-country-name {
    font-size: 0.6rem;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 1.5vh;
    color: $title-text-color;

    span {
      @media (max-width: $lg-size) {
        text-align: center;
      }
    }

  }

  .login-text-contents {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;


    @media (max-width: $lg-size) {
      text-align: center;
    }


    .login-text-signin {
      font-size: 2.4rem;
      line-height: 2rem;
      color: $title-text-color;
      font-weight: 600;

      .login-text-welcome {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
  }

  .login-input-fields {
    margin-top: 3vh;
    height: 15vh;

    @media (max-width: $lg-size) {
      margin: auto;
      padding: 30px;
      width: 100vw;
      margin-bottom: 350px;
    }

    .login-error-message-container {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .login-error-message-txt {
        font-size: 0.9rem;
        color: $error-color;
      }
    }

    .ant-form-item {
      margin-bottom: 14px;

      .login-input-email {
        margin-bottom: 0.2rem;
      }

      .ant-form-item-explain-error {
        // padding-left: 1rem;
        margin-bottom: 0.2rem;
        color: $error-color;
      }

      #login-details_password_help {
        margin-top: 0.2rem;
      }
    }

    .login-forget-pwd-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 1;
      margin-top: 0.2rem;

      .login-forget-pwd-txt {
        font-size: 0.8rem;
        color: $title-text-color;
        cursor: pointer;
      }
    }

    .login-submit-btn-container {
      margin-top: 2rem;
    }

    .login-register-new-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 1rem;
      font-size: 0.9rem;
      color: $body-text-color;

      .login-register-new-txt {
        font-size: 0.8rem;
        color: $body-text-color;
        cursor: pointer;

        .login-register-new-txt-span {
          color: $primary-color;
          font-weight: bold;
        }
      }
    }

    .ant-form-item-label {
      label {
        color: $title-text-color;
      }
    }

    .login-input-email {
      .ant-input {
        height: 2.8rem;
        border-radius: 0.3rem;
        font-size: 0.8rem;
        border: 1px solid $line-colors;
        padding-left: 1.5rem;
        color: $title-text-color;
      }

      input[type='username']:-webkit-autofill,
      input[type='username']:-webkit-autofill:hover,
      input[type='username']:-webkit-autofill:focus {
        -webkit-text-fill-color: $title-text-color;
        -webkit-box-shadow: 0 0 0 30px $outside-background-color inset !important;
      }

      .ant-input:focus {
        box-shadow: none;
      }
    }

    .login-input-password {
      .ant-input {
        height: 2.8rem;
        font-size: 0.8rem;
        border-radius: 0.3rem;
        // border: 1px solid $line-colors;
        padding-left: 0.8rem;
        box-shadow: none;
      }

      .ant-input-password {
        border: 1px solid $line-colors;
        border-radius: 0.3rem;
        box-shadow: none;
        background-color: $outside-background-color !important;
        padding: 0px 11px;
      }

      input[type='password']:-webkit-autofill,
      input[type='password']:-webkit-autofill:hover,
      input[type='password']:-webkit-autofill:focus {
        -webkit-text-fill-color: $title-text-color;
        -webkit-box-shadow: 0 0 0 30px $outside-background-color inset !important;
      }
    }
  }

  .ant-input::placeholder {
    font-size: 1rem;
    color: $light-text-color;
  }

  .ant-btn-primary {
    // background-color: $login-red;
    // color: $login-white;
    background: linear-gradient(to right, $gradient-background-start, $gradient-background-end);
    border: none;
    height: 2.4rem;
    font-size: 1rem;
    border-radius: 0.3vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  }

  .ant-select-selector {
    border: none;
    color: $background-color;
  }


}