@import '../Common/colors.login.scss';
@import '../../Assets/Fonts/fonts.scss';

.login-container {
  height: 100vh;
  overflow: hidden;
  .ant-row {
    .ant-col-15 {
      .login-img-container {
        background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(4, 104, 177, 0.6) 0.01%),
          url('../../Assets/Images/login.jpeg') left 10% bottom 20% / cover no-repeat border-box;
        height: 100vh;
        background-position-x: 75%;
        background-position-y: 75%;
        // zoom: 1.2;
        flex-direction: column;
        justify-content: flex-end;
        display: flex;
        flex: 1;
        background-size: 300vh;
        span {
          margin-left: 2vw;
          margin-bottom: 2vw;
          font-family: 'Sohne-Breit';
          font-size: 5vw;
          color: $login-white;
          line-height: 6vw;
        }
      }
    }
    .ant-col-9 {
      .ant-col-offset-3 {
        .login-country-logo {
          flex-direction: column;
          align-items: center;
          display: flex;
          img {
            margin-top: 2vw;
            object-fit: cover;
            height: auto;
            width: 10vw;
          }
        }
        .login-country-name {
          font-family: 'Proxima-Nova-Regular';
          font-size: 0.7vw;
          flex-direction: column;
          align-items: center;
          display: flex;
          margin-top: 1.5vh;
        }
        .login-text-contents {
          display: flex;
          flex-direction: column;
          margin-top: 5vh;
          .login-text-signin {
            font-family: 'Proxima-Nova-Black';
            font-size: 3vw;
            line-height: 2vw;
            .login-text-welcome {
              font-family: 'Proxima-Nova-Regular';
              font-size: 1vw;
            }
          }
        }
        .login-input-fields {
          margin-top: 3vw;
          height: 15vw;
          .ant-form-item {
            .login-input-email {
              margin-bottom: 1vw;
            }
            .ant-form-item-explain-error {
              padding-left: 1vw;
              margin-bottom: 1vw;
              font-family: 'Proxima-Nova-Regular';
              // margin-top: 1vw;
            }
            #login-details_password_help {
              margin-top: 1vw;
            }
          }
          .login-forget-pwd-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            flex: 1;
            margin-top: 1vw;
            .login-forget-pwd-txt {
              font-family: 'Proxima-Nova-Regular';
              font-size: 0.8vw;
              color: $login-grey;
              cursor: pointer;
            }
          }
          .login-submit-btn-container {
            margin-top: 2vw;
          }
          .login-register-new-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 1vw;
            font-family: 'Proxima-Nova-Regular';
            font-size: 0.9vw;
            .login-register-new-txt {
              font-family: 'Proxima-Nova-Regular';
              font-size: 0.8vw;
              color: $login-grey;
              cursor: pointer;
              .login-register-new-txt-span {
                color: $login-red;
                font-family: 'Proxima-Nova-Bold';
              }
            }
          }
        }
        .login-language-selection-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 15vw;
          font-family: 'Proxima-Nova-Regular';
          font-size: 1vw;
          color: $login-black;
        }
        .ant-input {
          height: 4vw;
          border-radius: 0.3vw;
          font-family: 'Proxima-Nova-Regular';
          font-size: 1vw;
          box-shadow: 14px 16px 15px rgba(0, 0, 0, 0.06);
          border: red;
        }
        .ant-input::placeholder {
          font-family: 'Proxima-Nova-Regular';
          font-size: 1vw;
          color: $login-grey-shade;
        }
        .ant-btn-primary {
          background-color: $login-red;
          color: $login-white;
          font-family: 'Proxima-Nova-Regular';
          border: none;
          height: 3vw;
          font-size: 1vw;
          border-radius: 0.3vw;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
        }
        .ant-select-selector {
          border: none;
          color: $login-grey;
        }
        .ant-select-focused .ant-select-selector,
        .ant-select-selector:focus,
        .ant-select-selector:active,
        .ant-select-open .ant-select-selector {
          border-color: none;
          box-shadow: none !important;
        }
      }
    }
  }
}
