<style>
    .p-foot:hover{
        color: #84c55c !important;
    }
</style>
<div class="mb-0">
    <!--begin::Curve top-->
   
    <!--end::Curve top-->
    <!--begin::Wrapper-->
    <div class=" pt-10" style="background-color: #244035;">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Row-->
            <div class="row py-5 py-lg-10">
                <div class="col-lg-3">
                    <div class="d-flex flex-column flex-md-row flex-stack py-7 py-lg-10">
                        <!--begin::Copyright-->
                        <div class="d-flex align-items-center order-2 order-md-1">
                            <!--begin::Logo-->
                            <a href="/">
                                <img alt="Logo" src="/ext/logo/logos.png" class="h-80px h-md-80px" />
                            </a>
                            <!--end::Logo image-->
                            <!--begin::Logo image-->
                          
                            <!--end::Logo image-->
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Menu-->
                      
                        <!--end::Menu-->
                    </div>
                    <div>
                        <p style="color:white;font-size: 13px; font-weight: 500; font-family: 'Montserrat', sans-serif;">Régistre national carbone de la Côte D'Ivoire</p>
                    </div>
                    <div>
                        <a href="#" class="mb-6">
                            <img src="/assets/media/svg/brand-logos/facebook-4.svg" class="h-40px me-2" alt="" />
                            
                        </a>
                     
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row ">
                        <div class="col-lg-3 offset-lg-1 mt-15" style="padding-right: 20px;">
                            <!--begin::Links-->
                            <div class="d-flex fw-semibold flex-column ">
                                <!--begin::Subtitle-->
                                <h4 style="color:white;font-size: 18px; font-weight: 700; font-family: 'Montserrat', sans-serif;">Liens principaux</h4>
                                <!--end::Subtitle-->
                                <!--begin::Link-->
                                <a class="p-foot pt-5 pb-5 opacity-50" href="/eligibilite" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Eligibilité</a>
                                <!--end::Link-->
                                <!--begin::Link-->
                                <a href="#" class="p-foot pt-5 pb-5 opacity-50" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Bureau National du marché carbone</a>
                                <!--end::Link-->
                                <!--begin::Link-->
                                <a href="/contact"class="p-foot pt-5 pb-5 opacity-50" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Contacts</a>
                                <!--end::Link-->
                            </div>
                            <!--end::Links-->
                        </div>
                        <div class="col-lg-4 mt-15">
                            <div class="d-flex fw-semibold flex-column ms-lg-20">
                                <!--begin::Subtitle-->
                                <h4 style="color:white;font-size: 18px; font-weight: 700; font-family: 'Montserrat', sans-serif;">Liens utiles</h4>
                                <!--end::Subtitle-->
                                <!--begin::Link-->
                                <a class="p-foot pt-5 pb-5 opacity-50" href="/projet" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Projets</a>
                                <!--end::Link-->
                                <!--begin::Link-->
                                <a class="p-foot pt-5 pb-5 opacity-50" href="/secteur" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Secteurs CDN</a>
                                <!--end::Link-->
                                <!--begin::Link-->
                                <a class="p-foot pt-5 pb-5 opacity-50" href="/org" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Les Organisations</a>
                                <!--end::Link-->
                                <!--begin::Link-->
                                <a class="p-foot pt-5 pb-5 opacity-50" href="/credit" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Crédit</a>
                                <!--end::Link-->
                            </div>
                        </div>
                        <div class="col-lg-4 mt-15">
                            <!--begin::Links-->
                            <div class="d-flex fw-semibold flex-column me-20">
                                <!--begin::Subtitle-->
                                <h4 style="color:white;font-size: 18px; font-weight: 700; font-family: 'Montserrat', sans-serif;">Ressources</h4>
                                <!--end::Subtitle-->
                                <!--begin::Link-->
                                <a class="p-foot pt-5 pb-5 opacity-50" href="/doc" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Documentation</a>
                                <!--end::Link-->
                                 <!--begin::Link-->
                                 <a class="p-foot pt-5 pb-5 opacity-50" href="#" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">Guide d'utilisation du registre</a>
                                 <!--end::Link-->
                                <!--begin::Link-->
                                <a class="p-foot pt-5 pb-5 opacity-50" href="/faq" style="color:white;font-size: 15px; font-weight: 400; font-family: 'Montserrat', sans-serif;" class="mb-6">FAQ</a>
                                <!--end::Link-->
                            </div>
                            <!--end::Links-->
                        </div>
                    </div>
                </div>
                
            </div>
         
            <!--end::Row-->
        </div>
        <!--end::Container-->
        <!--begin::Separator-->
     
        <!--end::Separator-->
        <!--begin::Container-->
        <div class="container">
            <!--begin::Wrapper-->
            
                <!--begin::Copyright-->
                <div class="text-center pb-5">
                    <!--begin::Logo-->
                  
                    <!--begin::Logo image-->
                    <span style="font-size: 13px; font-weight: 400; font-family: 'Montserrat', sans-serif; color: white;" class="mx-5  pt-1" >&copy; Copyright Bureau du marché carbone – République de la Côte D’Ivoire</span> <br>
                    <a style="font-size: 13px; font-weight: 400; font-family: 'Montserrat', sans-serif; color: rgba(255, 102, 0, 0.895)" target="_blank" class="mx-5  pt-1" href="https://skyvisionafrica.com/">&copy; Build by skyvision Africa</a>
                    <!--end::Logo image-->
                </div>
                <!--end::Copyright-->
                
            
            <!--end::Wrapper-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Wrapper-->
</div>