<style>
    .rotate_a{ 
 -webkit-transform : rotate(-1.78deg); 
 -moz-transform : rotate(-1.78deg); 
 -ms-transform : rotate(-1.78deg); 
 -o-transform : rotate(-1.78deg); 
 transform : rotate(-1.78deg); 
 width: 50%;
}
.special-item>a{
    color: #a1a5b7 !important;
    cursor: pointer;
}
.special-item.active>a{
    color: white !important;
    cursor: pointer;
}
.special-item>a:hover{
    color: #84c55c !important;
    cursor: pointer;
}
.menu-link:hover{
    color: #84c55c !important;
}
</style>
<div class="mb-0" id="home">
    <!--begin::Wrapperlanding-dark-bg 
    background-image: url(assets/media/svg/illustrations/landing.svg)
    
    -->
    <div class="bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom " style="background: #244035">
        <!--begin::Header-->
        <div class="landing-header" data-kt-sticky="true" data-kt-sticky-name="landing-header" data-kt-sticky-offset="{default: '100px', lg: '200px'}">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Wrapper-->
                <div class="d-flex align-items-center justify-content-between">
                    <!--begin::Logo-->
                    <div class="d-flex align-items-center flex-equal">
                        <!--begin::Mobile menu toggle-->
                        <button class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none" id="kt_landing_menu_toggle">
                            <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                            <span class="svg-icon svg-icon-2hx">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
                                    <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </button>
                        <!--end::Mobile menu toggle-->
                        <!--begin::Logo image-->
                        <a href="/">
                            <img alt="Logo" src="/ext/logo/logos.png" class="logo-default h-25px h-lg-60px" />
                            <img alt="Logo" src="/ext/logo/logos.png" class="logo-sticky h-20px h-lg-55px" />
                        </a>
                        <!--end::Logo image-->
                    </div>
                    <!--end::Logo-->
                    <!--begin::Menu wrapper-->
                    <div class="d-lg-block" id="kt_header_nav_wrapper">
                        <div class="d-lg-block p-5 p-lg-0" data-kt-drawer="true" data-kt-drawer-name="landing-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="200px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_landing_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav_wrapper'}">
                            <!--begin::Menu-->
                            <div class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-title-gray-500 menu-state-title-primary nav nav-flush fs-5 fw-semibold" id="kt_landing_menu">
                                <!--begin::Menu item-->
                                <div class="menu-item">
                                    <!--begin::Menu link-->
                                    <a class="menu-link nav-link  py-3 px-4 px-xxl-6" href="/" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Accueil</a>
                                    <!--end::Menu link-->
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item">
                                    <!--begin::Menu link-->
                                    <a class="menu-link nav-link <%if(area=='apropos'){%>active<%}%> py-3 px-4 px-xxl-6" href="/apropos" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">A propos</a>
                                    <!--end::Menu link-->
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item">
                                    <!--begin::Menu link-->
                                    <a class="menu-link nav-link <%if(area=='explorer'){%>active<%}%> py-3 px-4 px-xxl-6" href="/explorer" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Explorer</a>
                                    <!--end::Menu link-->
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item">
                                    <!--begin::Menu link-->
                                    <a class="menu-link nav-link <%if(area=='eligibilite'){%>active<%}%> py-3 px-4 px-xxl-6" href="/eligibilite" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Eligibilité</a>
                                    <!--end::Menu link-->
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item">
                                    <!--begin::Menu link-->
                                    <a class="menu-link nav-link <%if(area=='projet'){%>active<%}%>  py-3 px-4 px-xxl-6" href="/projet" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Projets</a>
                                    <!--end::Menu link-->
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                               
                                <!--begin::Menu wrapper-->
                                <div class="menu-item special-item <%if(area=='ressources'){%>active<%}%> ">
                                        <!--begin::Toggle-->
                                        <a  class="  rotate " data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-offset="30px, 30px">
                                            Ressources
                                            <span class="svg-icon fs-3 rotate-180 ms-3 me-0"><i class="fa-solid fa-chevron-down"></i></span>
                                        </a>
                                        <!--end::Toggle-->

                                        <!--begin::Menu-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-auto min-w-200 mw-300px" data-kt-menu="true">
                                            <!--begin::Menu item-->
                                         
                                            <!--end::Menu separator-->

                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="/doc" class="menu-link px-3">
                                                   Documentation
                                                </a>
                                            </div>
                                            <!--end::Menu item-->

                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                 <a href="/faq" class="menu-link px-3">
                                              FAQ
                                            </a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="/verify" class="menu-link px-3">
                                            Verifier un document
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                            
                                        </div>
                                        <!--end::Menu-->
                                </div>
                                    <!--end::Dropdown wrapper-->
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item">
                                    <!--begin::Menu link-->
                                    <a class="menu-link nav-link <%if(area=='contact'){%>active<%}%> py-3 px-4 px-xxl-6" href="/contact" data-kt-scroll-toggle="true" data-kt-drawer-dismiss="true">Contact</a>
                                    <!--end::Menu link-->
                                </div>
                                <!--end::Menu item-->
                            </div>
                            <!--end::Menu-->
                        </div>
                    </div>
                    <!--end::Menu wrapper-->
                    <!--begin::Toolbar-->
                    <div class="flex-equal text-end ms-1">
                        <a href="https://ci.registrecarbone.skyvisionafrica.com/login" class="btn btn-success fw-bold">Se connecter</a>
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Header-->
        <!--begin::Landing hero flex-center-->
        <div class="d-flex flex-column mt-lg-10 pb-10 w-100 min-h-100px min-h-lg-100px px-9">
            <!--begin::Heading  -->
            <div class="row">
                <div class="col-lg-12">
                    <span class="p-20"  style="font-size: 60px; font-weight: 800; font-family: 'Montserrat', sans-serif; color:white">
                        <%=title%>
                    </span> <br>
                    <span class="p-20"  style="font-size: 30px; font-weight: 400;line-height: 36.57px; font-family: 'Montserrat', sans-serif; color:white">
                        <%=description%>
                    </span>
                </div>
               
            </div>
           
            
            <!--end::Heading-->
            <!--begin::Clients-->
            
            <!--end::Clients-->
        </div>
        <!--end::Landing hero-->
    </div>
    <!--end::Wrapper-->
    <!--begin::Curve bottom-->
   
    <!--end::Curve bottom-->
</div>

