@import './common.form.colors.scss';

.create-user-container {
  .common-form-class {
    .ant-form-item-label > label {
      color: $common-form-label;
      font-family: 'Inter-Regular';
      font-size: 1rem;
    }
    .ant-input {
      height: 3.2rem;
      background: #ffffff;
      box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
      border-radius: 0.3rem;
      border: none;
      padding-left: 1.5rem;
    }
    .ant-input::placeholder {
      color: $common-form-placeholder !important;
      font-family: 'Inter-Regular';
      font-size: 1rem;
    }
    .ant-select-selector {
      height: 3.5rem;
      background: #ffffff;
      box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
      border-radius: 0.3rem;
      border: none;
      padding-left: 1.5rem;
      flex-direction: row;
      align-items: center;
    }
    .ant-select-selection-search {
      flex-direction: row !important;
      align-items: center !important;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-left: 0.8vw;
    }
    .ant-form-item-explain-error {
      padding-left: 1.5rem;
      margin-top: 0.6rem;
    }
    .PhoneInputInput {
      height: 3.5rem;
      background: #ffffff;
      box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
      border-radius: 0.3rem;
      border: none;
      padding-left: 1.5rem;
      flex-direction: row;
      align-items: center;
      color: $common-form-label;
      font-family: 'Inter-Regular';
      font-size: 1rem;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
      -webkit-text-fill-color: $common-form-label;
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    .PhoneInputInput:focus {
      outline: none !important;
    }
  }
}
