@import './common.table.colors.scss';

.common-table-class {
  .ant-table {
    border-radius: 1rem;
    .ant-table-thead {
      justify-content: center;
      .ant-table-cell {
        color: $common-table-txt-color;
        font-family: 'Inter-Bold';
        font-size: 1rem;
        text-align: center;
      }
    }
    .ant-table-tbody {
      font-family: 'Inter-Regular';
      font-size: 1rem;
      text-align: center;
    }
  }
}
