@import '../../Styles/variables.scss';

.login-language-selection-container {
    font-weight: regular;
    font-size: 0.8rem;

    .ant-select-selector {
        border: none;
        color: #16B1FF;
        border-radius: 5px !important;
    }
}