<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="card">
            <div class="card-header">
                <strong>NDC Action Form</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="ndcCreateForm">
                    <div class="row m-b-3">
                        <div class="col-sm-12">
                            <div class="place-list">
                                <mat-card class="place-entry">
                                    <mat-horizontal-stepper [linear]="true" #stepper>
                                        <mat-step label="Project Details">
                                            <ng-template matStepLabel>Project Details</ng-template>
                                            <div class="row" >
                                               <!--  <mat-form-field class="col-xs-6 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Cause</mat-label>
                                                    <mat-select name="cause" formControlName="cause">
                                                        <mat-option [value]="'Climate Change'">Climate Change</mat-option>
                                                        <mat-option [value]="'Sustainable Development'">Sustainable Development</mat-option>
                                                    </mat-select>
                                                </mat-form-field> -->
                                                <mat-form-field class="col-xs-6 col-md-4 col-sm-4" appearance="outline" >
                                                    <mat-label>Intervention*</mat-label>
                                                    <mat-select w-100 name="division" formControlName="division" [ngClass]="{'disabled' : approvalScreen}" (selectionChange)="mappingChange('division')">
                                                        <mat-option *ngFor="let division of divisionArr" [value]="division">{{division}} </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="ndcCreateForm.controls.division.errors && ndcCreateForm.controls.division.errors.required">Intervention is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-6 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Sector*</mat-label>
                                                    <mat-select multiple name="sector" formControlName="sector" (selectionChange)="mappingChange('sector')">
                                                        <mat-option [disabled]="approvalScreen" *ngFor="let sector of sectorArr" [value]="sector">{{sector}} </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="ndcCreateForm.controls.sector.errors && ndcCreateForm.controls.sector.errors.required">Sector is Required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="row">
                                                <mat-form-field class="col-md-6 " appearance="outline">
                                                    <mat-label>Sub Sector*</mat-label>

                                                    <mat-select multiple name="subSector" formControlName="subSector">
                                                        <mat-option [disabled]="approvalScreen" *ngFor="let subSector of subSectorArr;" [value]="subSector">{{subSector}} </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="ndcCreateForm.controls.subSector.errors && ndcCreateForm.controls.subSector.errors.required">Sub Sector is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-md-5" appearance="outline">
                                                    <mat-label>Area</mat-label>
                                                    <mat-select name="area" formControlName="area" (selectionChange)="onAreaChange(ndcCreateForm.controls.area.value)">
                                                        <!-- <mat-option *ngFor="let area of ndcAreaArr;" [value]="area.value">{{area.value}} </mat-option> -->
                                                        <mat-option [value]="'Principle'">Principle</mat-option>
                                                        <mat-option [value]="'Significant'">Significant</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="ndcCreateForm.controls.area.errors && ndcCreateForm.controls.area.errors.required">Area is Required</mat-error>
                                                </mat-form-field>
                                                
                                                <span class="areaInfo" *ngIf="ndcCreateForm.controls.area.value"><i class="icon-info my-tooltip"  [matTooltip]="areaToolTip"></i></span>
                                            </div>
                                            <div>
                                                <button mat-raised-button color="primary" matStepperNext>Next</button>
                                            </div>
                                        </mat-step>
                                        <mat-step label="Agency Details">
                                            <ng-template matStepLabel>Agency Details</ng-template>
                                            <div class="row" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                                    <mat-label>Implementing Agency*</mat-label>
                                                    <input name="agency" formControlName="agency" placeholder="Implementing Agency" matInput>
                                                    <mat-error *ngIf="ndcCreateForm.controls.agency.errors && ndcCreateForm.controls.agency.errors.required">Implementing Agency is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                                    <mat-label>Other Agency</mat-label>
                                                    <input name="otherParty" formControlName="otherParty" placeholder="Other Agency" matInput>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                                    <mat-label>Project Title*</mat-label>
                                                    <input name="projectTitle" formControlName="projectTitle" placeholder="Project Title" matInput>
                                                    <mat-error *ngIf="ndcCreateForm.controls.projectTitle.errors && ndcCreateForm.controls.projectTitle.errors.required">Project Title is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                                    <mat-label>Lifetime (years)</mat-label>
                                                    <input name="lifetime" formControlName="lifetime" numbersOnly type="number" placeholder="Lifetime (years)" matInput>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                                <button mat-raised-button color="primary" matStepperNext>Next</button>
                                            </div>
                                        </mat-step>
                                        <mat-step label="Other Details">
                                            <ng-template matStepLabel>Other Details</ng-template>
                                            <div class="row" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Part of NAP*</mat-label>
                                                    <mat-select name="napa" formControlName="napa">
                                                        <mat-option [value]="'Yes'">Yes </mat-option>
                                                        <mat-option [value]="'No'">No</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="ndcCreateForm.controls.napa.errors && ndcCreateForm.controls.napa.errors.required">Part of NAP is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Included in NDC*</mat-label>
                                                    <mat-select name="ndc" formControlName="ndc">
                                                        <mat-option [value]="'Yes'">Yes </mat-option>
                                                        <mat-option [value]="'No'">No</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="ndcCreateForm.controls.ndc.errors && ndcCreateForm.controls.ndc.errors.required">Included in NDC is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Area Name</mat-label>
                                                    <mat-select name="location" formControlName="location">
                                                        
                                                    <!-- <mat-option *ngFor="let location of locationArr;" [value]="location.value">{{location.value}} </mat-option> -->
                                                    <mat-option>Select location </mat-option>
                                                    <mat-option [value]="'National'">National </mat-option>
                                                    <mat-option [value]="'County'">County</mat-option>
                                                    <mat-option [value]="'Sub County'">Sub County</mat-option>
                                                    <mat-option [value]="'Ward'">Ward</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="ndcCreateForm.controls.location.errors && ndcCreateForm.controls.location.errors.required">Area Name is Required</mat-error>
                                                
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Geo Coordinates</mat-label>
                                                    <input name="coordinates" formControlName="coordinates" placeholder="Geo Coordinate " matInput>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Project Cost (USD)*
                                                    </mat-label>
                                                    <input name="costAmount" formControlName="costAmount" numbersOnly type="number" placeholder="Project Cost (USD)" matInput>
                                                    <mat-error *ngIf="ndcCreateForm.controls.costAmount.errors && ndcCreateForm.controls.costAmount.errors.required">Project Cost is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline">
                                                    <mat-label>Source of Funding*
                                                    </mat-label>
                                                    <mat-select name="funding" formControlName="funding">
                                                        <!-- <mat-option *ngFor="let funding of fundingArr" [value]="funding.value">{{funding.value}} </mat-option> -->
                                                        <mat-option  >Select Fund</mat-option>
                                                        <mat-option [value]="'Board source funding'">Board source funding</mat-option>
                                                        <mat-option [value]="'Gov,Grant or Loan'">Gov,Grant or Loan</mat-option>
                                                        <mat-option [value]="'Others'">Others</mat-option>

                                                    </mat-select>
                                                    <mat-error *ngIf="ndcCreateForm.controls.funding.errors && ndcCreateForm.controls.funding.errors.required">Funding is Required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                                <button mat-raised-button color="primary" matStepperNext>Next</button>
                                            </div>
                                        </mat-step>
                                        <mat-step label="Timeline Details">
                                            <ng-template matStepLabel>Timeline Details</ng-template>
                                            <div class="row" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                                    <mat-label>Start Date* (DD/MM/YYYY)</mat-label>
                                                    <input name="commissioningDate" formControlName="commissioningDate" matInput [matDatepicker]="picker3">
                                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker3></mat-datepicker>
                                                    <mat-error *ngIf="ndcCreateForm.controls.commissioningDate.errors && ndcCreateForm.controls.commissioningDate.errors.required">Start Date is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                                    <mat-label>End Date* (DD/MM/YYYY)</mat-label>
                                                    <input name="approvalDate" formControlName="approvalDate" matInput [matDatepicker]="picker1">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                    <mat-error *ngIf="ndcCreateForm.controls.approvalDate.errors && ndcCreateForm.controls.approvalDate.errors.required">End Date is Required</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline">
                                                    <mat-label>Financial Closure Date* (DD/MM/YYYY)</mat-label>
                                                    <input name="closureDate" formControlName="closureDate" matInput [matDatepicker]="picker2">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                    <mat-error *ngIf="ndcCreateForm.controls.closureDate.errors && ndcCreateForm.controls.closureDate.errors.required">Financial Closure Date is Required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div>
                                                <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                                <!-- <button mat-raised-button color="primary">Submit</button> -->
                                            </div>
                                        </mat-step>
                                    </mat-horizontal-stepper>
                                </mat-card>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer" *ngIf="approvalScreen">
                        <div class="row" style="display: block;width: 100%;">

                            <div class="col-xs-6">
                                <mat-form-field style="width:100%" appearance="outline">
                                    <mat-label>Approvers Comment*</mat-label>
                                    <textarea matInput placeholder="Approvers Comment" name="approverComment" formControlName="approverComment" class="filter-input"> </textarea>
                                </mat-form-field>
                            </div>

                            <div class="col-xs-6">

                                <button type="button" class="btn btn-success" (click)="updateDataStatus('approved')">Approve</button>
                                <button type="button" class="btn btn-danger" (click)="updateDataStatus('rejected')">Reject</button>
                            </div>
                            <!-- footer-> row -->
                        </div>
                        <!-- card-footer -->
                    </div>
                    <div class="form-group form-actions" *ngIf="!approvalScreen">
                        <button type="button" class="btn btn-success" (click)="saveNDC()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>