@import '../../Pages//Common/colors.layout.sider.scss';

.layout-sider-container {
  overflow: auto;
  height: 100vh;
  position: fixed;
  z-index: 20;
  background-color: $layout-bg;
  .layout-sider-div-container {
    padding-top: 2vw;
    .layout-sider-heading-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      // margin-bottom: 2vw;
      // padding-left: 2rem;
      padding: 0rem 2rem 0 2rem;
      cursor: pointer;
      .title {
        font-family: 'Proxima-Nova-Bold';
        font-size: 1.2rem;
        color: $layout-sider-menu-txt;
        font-weight: 800;
        margin-right: 0.5rem;
      }

      .title-sub {
        font-weight: lighter !important;
        font-family: 'Proxima-Nova-Regular';
        font-size: 1.2rem;
        color: $layout-sider-menu-txt;
        padding-bottom: 3px;
      }
      .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        overflow: hidden;
        margin-right: 0.8rem;
        // background-color: red;
        img {
          object-fit: cover;
          height: auto;
          height: 70%;
        }
      }
    }
    .layout-sider-menu-container {
      .ant-menu {
        background-color: $layout-bg;
        .ant-menu-title-content {
          font-family: 'Proxima-Nova-Regular';
          font-size: 0.9rem;
          color: $layout-sider-menu-txt;
        }
        .ant-menu-item-selected {
          background-color: $layout-bg;
          border-radius: 0.5vw;
          // border-bottom-left-radius: 0.5vw;
          .ant-menu-title-content {
            font-family: 'Proxima-Nova-Regular';
            font-size: 1rem;
            color: $layout-sider-menu-txt;
          }
        }
        .ant-menu-submenu {
          height: 3.2rem;
          margin: 2px 10px;
          width: 285px;
          .ant-menu-sub {
            height: 1.2rem !important;
            width: 285px;
          }
          .ant-menu-submenu-arrow {
            color: $black;
            font-family: "Barlow";
            font-weight: 500;
            font-size: 15px;
          }
        
          .ant-menu-submenu-arrow:hover {
            color: $black;
          }
        }
        .ant-menu-item {
          height: 3.2rem;
          margin: 2px 10px;
          width: 285px;
        }
      }
    }
  }
}
@media screen and (max-width: 1170px) {
  .layout-sider-container {
    position: unset !important;
    height: 100vh !important;
  }
}
