.ndc
{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

label
{
    font-size: 14px;
    color: #222;
}

.ndc .col2
{
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-top: 80px;
}

.ndc .col2 .contentRow
{
    border: 2px solid #D81B60;
    margin: 20px;
}

.ndc .col2 .contentRow .top
{
    background:  #D81B60;
    color: #fff;
    padding: 12px 20px;
    text-align: center  ;
}

/* from css */

.twoInput,
.oneInput,
.dataEntry
{
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.rowContent
{
    padding: 20px;
}

.rowContent .twoInput
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 300px;
}

.rowContent .twoInput > div
{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .first
{
    justify-content: flex-end;
}
.last
{
    justify-content: flex-end;
} */

.input
{
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 15px;
    width: 280px;
    min-width: 250px;
}

.rowContent .oneInput
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rowContent .oneInput .input
{
    width:84% ;
}

.dataEntry .input
{
    max-width: 250px;
}

.input:focus {
	outline: 0;
	border-color: #D81B60;
}

.deleteBtn
{
    text-decoration: underline;
    color: #004DD9;
    cursor: pointer;
}

.addBtn
{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.forms {
    background: #fff !important;
    box-shadow:unset !important;
    width: auto !important;
}

.button
{
    width: fit-content;
}

.button a
{
    color: #fff;
    text-decoration: none;
}

form a{
    text-decoration: none;
}

/* //table css */
#table1_paginate,
#table2_paginate
{
    display: none;
}

.sorting {
    background-image: unset !important;
}

.sorting_asc
{
    background-image: unset !important;
}

.sorting_desc
{
    background-image: unset !important;
}

.buttons-copy
{
    display: none !important;
}
.dataTables_info
{
    display: none !important;
}

.secTable
{
    margin-top: 50px !important;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.badge span:hover
{
    color: #fff !important;
}
.bootstrap-tagsinput
{
    padding: 10px !important;
}
.badge
{
    background: #0097A7;
    color: #fff;
    border-radius: 5px;
    margin: 5px !important;
    font-size: 15px;
}

/* #tRow1,
#tRow2
{
    display: none;
} */

.rowShow
{
    display: unset !important;
}

.multiselect-input
{
    width: 230px !important;
    padding: 10px !important;
    margin-left: 10px !important;
}

.multiselect-wrapper ul {
    padding: 10px 3px !important;
}

.multiselect-wrapper ul li.active {
    background: none !important;
}

.multiselect-wrapper ul li {
    margin-top: 6px;
}

table th{
    pointer-events: none;
}

#some{
    cursor: pointer !important;
    pointer-events: unset !important;
}