.mat-header-cell{
    font-size: smaller;
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
    padding-right: 20px;
}
.mat-cell, .mat-footer-cell{
    padding-right: 20px;
    padding-left: 20px;
    font-size: smaller;
}