/* ------------------------------------------------------------------------------
 *
 *  # Components
 *
 *  Components import. Ordering matters. See _config.scss for more options
 *
 * ---------------------------------------------------------------------------- */


// Core
// ------------------------------

// Import custom template config
@import "../../../../config";
@import "../../../../shared/utils/ll-functions";
@import "../../../../shared/utils/ll-mixins";
@import "../../../../themes/dark/colors/palette";

// Core variables and mixins
@import "../../../../_bootstrap/functions";
@import "../../../../_bootstrap/variables";
@import "../../../../_bootstrap/mixins";

// Import template's variables
@import "../variables/variables-core";
@import "../variables/variables-custom";
@import "../../../../themes/dark/bootstrap_limitless/mixins";

// FOUC helpers
@import "../../../../shared/utils/fouc";


// Page loader
// ------------------------------

// Pace page loader
@import "../../../../shared/pace/theme-default";

// Pace.js demo, remove in real project
@import "../../../../shared/pace/pace-demo";


// Forms
// ------------------------------

// Uniform
@import "../../../../themes/dark/components/forms/uniform";

// Switchery
@import "../../../../themes/dark/components/forms/switchery";

// BS switch
@import "../../../../themes/dark/components/forms/bootstrap-switch";


// Select2
@import "../../../../themes/dark/components/forms/select2";

// Multiselect
@import "../../../../themes/dark/components/forms/multiselect";


// Passy
@import "../../../../themes/dark/components/forms/passy";

// Typeahead
@import "../../../../themes/dark/components/forms/typeahead";

// Validation
@import "../../../../themes/dark/components/forms/validation";

// Floating labels
@import "../../../../themes/dark/components/forms/floating-labels";

// Alpaca
@import "../../../../themes/dark/components/forms/alpaca";


// Tokenfield
@import "../../../../themes/dark/components/forms/tokenfield";

// Tags input
@import "../../../../themes/dark/components/forms/tags-input";


// Touchspin spinners
@import "../../../../themes/dark/components/forms/touchspin";

// Dual listboxes
@import "../../../../themes/dark/components/forms/dual-listbox";


// Wizard
@import "../../../../themes/dark/components/forms/wizard";


// Text editors
// ------------------------------

// Summernote
@import "../../../../themes/dark/components/forms/editors/summernote";

// Trumbowyg
@import "../../../../themes/dark/components/forms/editors/trumbowyg";

// Ace
@import "../../../../themes/dark/components/forms/editors/ace";


// Pickers
// ------------------------------

// Daterange picker
@import "../../../../themes/dark/components/pickers/daterange";

// Pickadate base
@import "../../../../themes/dark/components/pickers/pickadate/base";

// Pickadate date picker
@import "../../../../themes/dark/components/pickers/pickadate/date";

// Pickadate time picker
@import "../../../../themes/dark/components/pickers/pickadate/time";

// Anytime picker
@import "../../../../themes/dark/components/pickers/anytime";

// Color picker
@import "../../../../themes/dark/components/pickers/spectrum";


// File uploaders
// ------------------------------

// Plupload
@import "../../../../themes/dark/components/forms/uploaders/plupload";

// File input
@import "../../../../themes/dark/components/forms/uploaders/file-input";

// Dropzone
@import "../../../../themes/dark/components/forms/uploaders/dropzone";


// Notifications
// ------------------------------

// Noty notifications
@import "../../../../themes/dark/components/notifications/noty";

// PNotify notifications
@import "../../../../themes/dark/components/notifications/pnotify";

// jGrowl notifications
@import "../../../../themes/dark/components/notifications/jgrowl";

// Sweet Alerts
@import "../../../../themes/dark/components/notifications/sweet-alerts";


// Sliders
// ------------------------------

// Slider pips
@import "../../../../themes/dark/components/sliders/slider-pips";

// NoUI slider
@import "../../../../themes/dark/components/sliders/noui-slider";

// Ion range slider
@import "../../../../themes/dark/components/sliders/ion-range-slider";


// jQuery UI components
// ------------------------------

// Interactions
@import "../../../../themes/dark/components/jquery_ui/interactions";

// Widgets
@import "../../../../themes/dark/components/jquery_ui/widgets";


// UI components
// ------------------------------

// Prism - syntax highlighter
@import "../../../../themes/dark/components/ui/prism";

// Slinky - multi level drilldown menu
@import "../../../../themes/dark/components/ui/slinky";

// Sticky kit
@import "../../../../themes/dark/components/ui/sticky";

// Headroom - hhide navbar on scroll
@import "../../../../themes/dark/components/ui/headroom";

// Dragula
@import "../../../../themes/dark/components/ui/dragula";

// Perfect scrollbar
@import "../../../../themes/dark/components/ui/perfect-scrollbar";


// Misc components
// ------------------------------

// [Material] Floating action buttons
@import "../../../../themes/dark/components/misc/fab";

// Fancytree
@import "../../../../themes/dark/components/misc/fancytree";

// Progress buttons
@import "../../../../themes/dark/components/misc/progress-buttons";

// Full calendar
@import "../../../../themes/dark/components/misc/fullcalendar";

// Image cropper
@import "../../../../themes/dark/components/misc/image-cropper";

// Lightbox plugin
@import "../../../../themes/dark/components/misc/fancybox";


// Tables
// ------------------------------

// Footable - responsive table tools
@import "../../../../themes/dark/components/tables/footable";


// Datatables
// ------------------------------

// Core
@import "../../../../themes/dark/components/tables/datatables/datatables";

// Datatables - columns reorder
@import "../../../../themes/dark/components/tables/datatables/datatable-columns-reorder";

// Datatables - rows reorder
@import "../../../../themes/dark/components/tables/datatables/datatable-rows-reorder";

// Datatables - fixed columns
@import "../../../../themes/dark/components/tables/datatables/datatable-fixed-columns";

// Datatables - fixed header
@import "../../../../themes/dark/components/tables/datatables/datatable-fixed-header";

// Datatables - autofill
@import "../../../../themes/dark/components/tables/datatables/datatable-autofill";

// Datatables - select
@import "../../../../themes/dark/components/tables/datatables/datatable-select";

// Datatables - buttons
@import "../../../../themes/dark/components/tables/datatables/datatable-buttons";

// Datatables - key table
@import "../../../../themes/dark/components/tables/datatables/datatable-keytable";

// Datatables - scroller
@import "../../../../themes/dark/components/tables/datatables/datatable-scroller";

// Datatables - responsive
@import "../../../../themes/dark/components/tables/datatables/datatable-responsive";


// Maps
// ------------------------------

// Google Maps
@import "../../../../shared/maps/google-maps";

// jVectorMap
@import "../../../../shared/maps/jvectormap";


// Charts
// ------------------------------

// Charts base
@import "../../../../shared/charts/charts";

// C3 chart library
@import "../../../../shared/charts/c3";

// D3 chart library
@import "../../../../shared/charts/d3";


// Page kits
// ------------------------------

// ECommerce
@import "../../../../shared/pages/ecommerce";

// Blog
@import "../../../../shared/pages/blog";

// Task manager
@import "../../../../shared/pages/task-manager";

// Inbox
@import "../../../../shared/pages/inbox";

// Profile
@import "../../../../shared/pages/profile";

// Login
@import "../../../../shared/pages/login";

// Timelines
@import "../../../../shared/pages/timelines";

// Chats
@import "../../../../shared/pages/chats";

// Error page
@import "../../../../shared/pages/error";


// Other components
// ------------------------------

// Heading elements
@import "../../../../themes/dark/components/ui/header-elements";

// Helpers
@import "../../../../shared/utils/helpers";

// Plugins demo, remove in real project
@import "../../../../themes/dark/components/demo";
