mat-cell:first-of-type, 
mat-footer-cell:first-of-type, 
mat-header-cell:first-of-type{
    padding-left: 24px;
    min-width: 350px;
}
.mat-expansion-panel-body{
    padding: 0 0 16px 30px !important;
}
