	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.html");
  src: url("../fonts/Flaticond41d.html?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-001-agreement:before { content: "\f100"; }
.flaticon-002-analysis:before { content: "\f101"; }
.flaticon-003-announcement:before { content: "\f102"; }
.flaticon-004-bar-chart:before { content: "\f103"; }
.flaticon-005-brainstorm:before { content: "\f104"; }
.flaticon-006-budget:before { content: "\f105"; }
.flaticon-007-business:before { content: "\f106"; }
.flaticon-008-business:before { content: "\f107"; }
.flaticon-009-business:before { content: "\f108"; }
.flaticon-010-business:before { content: "\f109"; }
.flaticon-011-business:before { content: "\f10a"; }
.flaticon-012-business:before { content: "\f10b"; }
.flaticon-013-business-strategy:before { content: "\f10c"; }
.flaticon-014-business:before { content: "\f10d"; }
.flaticon-015-business:before { content: "\f10e"; }
.flaticon-016-checklist:before { content: "\f10f"; }
.flaticon-017-collaboration:before { content: "\f110"; }
.flaticon-018-corporate:before { content: "\f111"; }
.flaticon-019-currency:before { content: "\f112"; }
.flaticon-020-database:before { content: "\f113"; }
.flaticon-021-date:before { content: "\f114"; }
.flaticon-022-discussion:before { content: "\f115"; }
.flaticon-023-dividends:before { content: "\f116"; }
.flaticon-024-document:before { content: "\f117"; }
.flaticon-025-dollar:before { content: "\f118"; }
.flaticon-026-economy:before { content: "\f119"; }
.flaticon-027-employee:before { content: "\f11a"; }
.flaticon-028-financial:before { content: "\f11b"; }
.flaticon-029-financial:before { content: "\f11c"; }
.flaticon-030-financial:before { content: "\f11d"; }
.flaticon-031-financial:before { content: "\f11e"; }
.flaticon-032-financial:before { content: "\f11f"; }
.flaticon-033-focus:before { content: "\f120"; }
.flaticon-034-hr-manager:before { content: "\f121"; }
.flaticon-035-human-resources:before { content: "\f122"; }
.flaticon-036-idea:before { content: "\f123"; }
.flaticon-037-investment:before { content: "\f124"; }
.flaticon-038-jigsaw:before { content: "\f125"; }
.flaticon-039-loss:before { content: "\f126"; }
.flaticon-040-money-bag:before { content: "\f127"; }
.flaticon-041-network:before { content: "\f128"; }
.flaticon-042-organization-chart:before { content: "\f129"; }
.flaticon-043-paper-money:before { content: "\f12a"; }
.flaticon-044-partnership:before { content: "\f12b"; }
.flaticon-045-presentation:before { content: "\f12c"; }
.flaticon-046-privacy-policy:before { content: "\f12d"; }
.flaticon-047-process:before { content: "\f12e"; }
.flaticon-048-profit:before { content: "\f12f"; }
.flaticon-049-profit:before { content: "\f130"; }
.flaticon-050-money-bag:before { content: "\f131"; }
.flaticon-051-profit:before { content: "\f132"; }
.flaticon-052-project-plan:before { content: "\f133"; }
.flaticon-053-project:before { content: "\f134"; }
.flaticon-054-retirement:before { content: "\f135"; }
.flaticon-055-rewards:before { content: "\f136"; }
.flaticon-056-rupee:before { content: "\f137"; }
.flaticon-057-statistics:before { content: "\f138"; }
.flaticon-058-suitcase:before { content: "\f139"; }
.flaticon-059-target:before { content: "\f13a"; }
.flaticon-060-team-work:before { content: "\f13b"; }
.flaticon-061-weak:before { content: "\f13c"; }
.flaticon-062-workflow:before { content: "\f13d"; }