.mat-header-cell{
    margin-right: 10px;
}
.adaptation-details{
    mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
        padding-right: 20px;
    }
}
.mat-cell, .mat-footer-cell{
    font-size: smaller;
}
.make-title{
    color: #000;
    background: #d1e0eb;
    font-weight: 700;
}