@import '../../Styles/variables.scss';

.password-reset-model {
  .mg-left-3 {
    margin-left: 3rem;
  }

  .mg-top-1 {
    margin-top: 1rem;
  }

  .mg-top-2 {
    margin-top: 2rem;
  }

  .ant-input-password {
    height: 56px;
  }

  .icon {
    img {
      width: 100px;
      height: 100px;
      fill: #16b1ff;
    }
  }

  .ant-btn-default {
    color: $border-default-btn !important;
    border-color: $border-default-btn !important;
  }

  .ant-form-item-explain-error{
    text-align: start;
  }
}
