<style>
    .p-font{

    }
    .p-icon{
        color:#84C55C6B!important
    }
    .p-body{
        background-color: #84C55C6B;

    }
    .page-item:hover:not(.active):not(.offset):not(.disabled) .page-link {
    color: #244035!important
    }
    .page-item.active>.page-link{
        background-color: #244035!important
    }
</style>
<div class="container mt-10 mb-10">
    <!--begin::Row-->
    <div class="row ">
        <!--begin::Col-->
        <div class="col-3">
            <!--begin::Items-->
            <div class="p-body rounded-2 px-6 py-5">
                <!--begin::Symbol-->
                <div class="symbol symbol-30px me-5 mb-8">
                    <span class="symbol-label">
                        <!--begin::Svg Icon | path: icons/duotune/medicine/med005.svg-->
                        <span class="svg-icon svg-icon-1 svg-icon-success">
                           <svg class="h-full w-full" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_752_12561)"><path d="M9.0197 5.56856C8.63809 5.84062 8.17109 6.00065 7.66671 6.00065C6.37804 6.00065 5.33337 4.95598 5.33337 3.66732C5.33337 2.37865 6.37804 1.33398 7.66671 1.33398C8.50203 1.33398 9.23484 1.77293 9.64705 2.43275M4.00004 13.3921H5.74023C5.96713 13.3921 6.19263 13.4191 6.41258 13.4731L8.2513 13.9199C8.65027 14.0171 9.06589 14.0265 9.46902 13.9483L11.502 13.5527C12.0391 13.4481 12.5331 13.1909 12.9203 12.8143L14.3586 11.4151C14.7694 11.0162 14.7694 10.3689 14.3586 9.96936C13.9888 9.60961 13.4032 9.56911 12.9848 9.87419L11.3084 11.0972C11.0684 11.2727 10.7762 11.3672 10.4758 11.3672H8.85704L9.88742 11.3672C10.4682 11.3672 10.9386 10.9095 10.9386 10.3446V10.1401C10.9386 9.67098 10.6104 9.26196 10.1428 9.14856L8.55244 8.76181C8.29363 8.69904 8.02858 8.66732 7.76213 8.66732C7.11893 8.66732 5.95464 9.19986 5.95464 9.19986L4.00004 10.0172M13.3334 4.33398C13.3334 5.62265 12.2887 6.66732 11 6.66732C9.71138 6.66732 8.66671 5.62265 8.66671 4.33398C8.66671 3.04532 9.71138 2.00065 11 2.00065C12.2887 2.00065 13.3334 3.04532 13.3334 4.33398ZM1.33337 9.73398L1.33337 13.6007C1.33337 13.974 1.33337 14.1607 1.40604 14.3033C1.46995 14.4288 1.57194 14.5307 1.69738 14.5947C1.83999 14.6673 2.02667 14.6673 2.40004 14.6673H2.93337C3.30674 14.6673 3.49343 14.6673 3.63603 14.5947C3.76148 14.5307 3.86346 14.4288 3.92738 14.3033C4.00004 14.1607 4.00004 13.974 4.00004 13.6007V9.73398C4.00004 9.36062 4.00004 9.17393 3.92738 9.03132C3.86346 8.90588 3.76148 8.8039 3.63603 8.73998C3.49343 8.66732 3.30674 8.66732 2.93337 8.66732L2.40004 8.66732C2.02667 8.66732 1.83999 8.66732 1.69738 8.73998C1.57194 8.8039 1.46995 8.90588 1.40604 9.03132C1.33337 9.17393 1.33337 9.36062 1.33337 9.73398Z" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_752_12561"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Stats-->
                <div class="m-0">
                    <!--begin::Number-->
                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=0%></span>
                    <!--end::Number-->
                    <!--begin::Desc-->
                    <span class="text-gray-500 fw-semibold fs-6">Signature en attente</span>
                    <!--end::Desc-->
                </div>
                <!--end::Stats-->
            </div>
            <!--end::Items-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-3">
            <!--begin::Items-->
            <div class="p-body rounded-2 px-6 py-5">
                <!--begin::Symbol-->
                <div class="symbol symbol-30px me-5 mb-8">
                    <span class="symbol-label">
                        <!--begin::Svg Icon | path: icons/duotune/finance/fin001.svg-->
                        <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg class="h-full w-full" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9186 13.3933C10.7796 14.2208 9.40784 14.6665 7.99998 14.6665C6.59212 14.6665 5.2204 14.2208 4.08142 13.3933M10.9225 2.00788C12.1878 2.62504 13.2253 3.62696 13.8863 4.87003C14.5473 6.11309 14.7977 7.5335 14.6018 8.92766M1.39826 8.92759C1.20232 7.53343 1.45278 6.11303 2.11373 4.86996C2.77468 3.62689 3.8122 2.62498 5.07757 2.00781M11.6666 7.99984C11.6666 10.0249 10.025 11.6665 7.99998 11.6665C5.97494 11.6665 4.33332 10.0249 4.33332 7.99984C4.33332 5.97479 5.97494 4.33317 7.99998 4.33317C10.025 4.33317 11.6666 5.97479 11.6666 7.99984Z" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Stats-->
                <div class="m-0">
                    <!--begin::Number-->
                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=0%></span>
                    <!--end::Number-->
                    <!--begin::Desc-->
                    <span class="text-gray-500 fw-semibold fs-6">Total signature</span>
                    <!--end::Desc-->
                </div>
                <!--end::Stats-->
            </div>
            <!--end::Items-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-3">
            <!--begin::Items-->
            <div class="p-body rounded-2 px-6 py-5">
                <!--begin::Symbol-->
                <div class="symbol symbol-30px me-5 mb-8">
                    <span class="symbol-label">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen020.svg-->
                        <span class="svg-icon svg-icon-1 ">
                            <svg viewBox="0 0 24 24" fill="#50cd89" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.84467 7.90533C9.13756 8.19822 9.61244 8.19822 9.90533 7.90533L11.625 6.18566L11.625 14.375C11.625 14.7892 11.9608 15.125 12.375 15.125C12.7892 15.125 13.125 14.7892 13.125 14.375V6.18566L14.8447 7.90533C15.1376 8.19822 15.6124 8.19822 15.9053 7.90533C16.1982 7.61244 16.1982 7.13756 15.9053 6.84467L12.9053 3.84467C12.6124 3.55178 12.1376 3.55178 11.8447 3.84467L8.84467 6.84467C8.55178 7.13756 8.55178 7.61244 8.84467 7.90533Z" fill="#50cd89"></path> <path d="M12.375 20.375C16.7933 20.375 20.375 16.7933 20.375 12.375L16.625 12.375C15.6822 12.375 15.2108 12.375 14.9179 12.6679C14.625 12.9608 14.625 13.4322 14.625 14.375C14.625 15.6176 13.6176 16.625 12.375 16.625C11.1324 16.625 10.125 15.6176 10.125 14.375C10.125 13.4322 10.125 12.9608 9.83211 12.6679C9.53921 12.375 9.06781 12.375 8.125 12.375H4.375C4.375 16.7933 7.95672 20.375 12.375 20.375Z" fill="#50cd89"></path> </g></svg>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Stats-->
                <div class="m-0">
                    <!--begin::Number-->
                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=0%></span>
                    <!--end::Number-->
                    <!--begin::Desc-->
                    <span class="text-gray-500 fw-semibold fs-6">Signature rejetée</span>
                    <!--end::Desc-->
                </div>
                <!--end::Stats-->
            </div>
            <!--end::Items-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-3">
            <!--begin::Items-->
            <div class="p-body rounded-2 px-6 py-5">
                <!--begin::Symbol-->
                <div class="symbol symbol-30px me-5 mb-8">
                    <span class="symbol-label">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen013.svg-->
                        <span class="svg-icon svg-icon-1 svg-icon-success">
                            <svg class="w-full h-full" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_752_12553)"><path d="M11.3334 2.22587C13.326 3.37856 14.6667 5.53304 14.6667 8.00065C14.6667 11.6826 11.6819 14.6673 8.00004 14.6673C4.31814 14.6673 1.33337 11.6826 1.33337 8.00065C1.33337 5.53304 2.67404 3.37856 4.66671 2.22587M5.33337 8.00065L8.00004 10.6673M8.00004 10.6673L10.6667 8.00065M8.00004 10.6673V1.33398" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_752_12553"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg>
                        </span>
                        <!--end::Svg Icon-->
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Stats-->
                <div class="m-0">
                    <!--begin::Number-->
                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=0%></span>
                    <!--end::Number-->
                    <!--begin::Desc-->
                    <span class="text-gray-500 fw-semibold fs-6">Signature approuvée</span>
                    <!--end::Desc-->
                </div>
                <!--end::Stats-->
            </div>
            <!--end::Items-->
        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->
    <div class="row mt-10">
        <div class="col-lg-12 p-5">
            <div class="card p-5">
                <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th>Date</th>
                            <th>Projet</th>
                            <th>Organisation</th>
                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2011/04/25</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                          
                            <td><a class="btn btn-sm btn-success" href="/myregister/surv/doc">Détail</a></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
      
      
    </div>
    <!-- Row -->
</div>