<div class="container mt-10 mb-10">
    <div class="d-flex flex-column flex-lg-row">
        <!--begin::Content-->
        <div class="flex-lg-row-fluid me-lg-15 order-2 order-lg-1 mb-10 mb-lg-0">
            <!--begin::Card-->
            <div class="card card-flush pt-3 mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h2 class="fw-bold">Détail de la lettre</h2>
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <a href="#" target="_blank" class="btn btn-light-primary">Voir la lettre</a>
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-3">
                    <!--begin::Section-->
                    <div class="mb-10">
                        <!--begin::Title-->
                        <h5 class="mb-4">Information générale:</h5>
                        <!--end::Title-->
                        <!--begin::Details-->
                        <div class="d-flex flex-wrap py-5">
                            <!--begin::Row-->
                            <div class="flex-equal me-5">
                                <!--begin::Details-->
                                <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400 min-w-175px w-175px">Bill to:</td>
                                        <td class="text-gray-800 min-w-200px">
                                            <a href="../../pages/apps/customers/view.html" class="text-gray-800 text-hover-primary">smith@kpmg.com</a>
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">Customer Name:</td>
                                        <td class="text-gray-800">Emma Smith</td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">Address:</td>
                                        <td class="text-gray-800">Floor 10, 101 Avenue of the Light Square, New York, NY, 10050.</td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">Phone:</td>
                                        <td class="text-gray-800">(555) 555-1234</td>
                                    </tr>
                                    <!--end::Row-->
                                </table>
                                <!--end::Details-->
                            </div>
                            <!--end::Row-->
                            <!--begin::Row-->
                            <div class="flex-equal">
                                <!--begin::Details-->
                                <table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400 min-w-175px w-175px">Subscribed Product:</td>
                                        <td class="text-gray-800 min-w-200px">
                                            <a href="#" class="text-gray-800 text-hover-primary">Basic Bundle</a>
                                        </td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">Subscription Fees:</td>
                                        <td class="text-gray-800">$149.99 / Year</td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">Billing method:</td>
                                        <td class="text-gray-800">Annually</td>
                                    </tr>
                                    <!--end::Row-->
                                    <!--begin::Row-->
                                    <tr>
                                        <td class="text-gray-400">Currency:</td>
                                        <td class="text-gray-800">USD - US Dollar</td>
                                    </tr>
                                    <!--end::Row-->
                                </table>
                                <!--end::Details-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Section-->
                    <!--begin::Section-->
                    
                    <!--end::Section-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
            <div class="card card-flush pt-3 mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h2 class="fw-bold">Détail de la lettre</h2>
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <a href="#" target="_blank" class="btn btn-light-primary">Voir la lettre</a>
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-3">
                    <!--begin::Section-->
                    <iframe src="/register-1715346772973-Guide d'utilisation.pdf" width="100%" height="600px"></iframe>
                    <!--end::Section-->
                    <!--begin::Section-->
                    
                    <!--end::Section-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Content-->
        <!--begin::Sidebar-->
        <div class="flex-column flex-lg-row-auto w-lg-350px w-xl-350px mb-10 order-1 order-lg-2">
            
            <!--begin::Card-->
            <div class="card card-flush mb-0" data-kt-sticky="true" data-kt-sticky-name="subscription-summary" data-kt-sticky-offset="{default: false, lg: '350px'}" data-kt-sticky-width="{lg: '350px', xl: '350px'}" data-kt-sticky-left="auto" data-kt-sticky-top="150px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
                <!--begin::Card header-->
                <div class="card-header">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h2>Signature</h2>
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                
                    <!--end::Card toolbar-->
                </div>
                <div class="card-body bg-dark" >
                    <div id="signature-pad" class="signature-pad">
                        <div id="canvas-wrapper" class="signature-pad--body">
                        <canvas></canvas>
                        </div>
                        <div class="signature-pad--footer">
                        <div class="description text-white text-center">Signer au dessus</div>

                        <div class="signature-pad--actions text-center">
                            <div class="column">
                            <button type="button" class="button clear btn btn-danger btn-sm" data-action="clear" >Effacer</button>
                            <button type="button" class="button btn btn-warning btn-sm" data-action="undo" title="Ctrl-Z"><-</button>
                            <!--  <button type="button" class="button" data-action="redo" title="Ctrl-Y">Redo</button>
                             <br/>
                            <button type="button" class="button" data-action="change-color">Change color</button>
                             <button type="button" class="button" data-action="change-width">Change width</button>
                            <button type="button" class="button" data-action="change-background-color">Change background color</button>
                        -->
                            </div>
                            <!--  <div class="column">
                            <button type="button" class="button save" data-action="save-png">Save as PNG</button>
                            <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
                            <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
                            <button type="button" class="button save" data-action="save-svg-with-background">Save as SVG with
                                background</button>
                            </div> -->
                        </div>

                        <!--<div>
                            <button type="button" class="button" data-action="open-in-window">Open in Window</button>
                        </div> -->
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h2>Action</h2>
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0 fs-6 text-center">
                    <!--begin::Section-->
                    
                    <!--end::Section-->
                    <!--begin::Seperator-->
                    <div class="separator separator-dashed mb-7"></div>
                    <!--end::Seperator-->
                    <!--begin::Section-->
                    <div class="mb-2">
                        <a  class="btn btn-success btn-sm" id="r_approuve">Approuver</a>
                    </div>
                    <!--end::Section-->
                    <!--begin::Seperator-->
                    <div class="separator separator-dashed mb-7"></div>
                    <!--end::Seperator-->
                    <!--begin::Section-->
            
                        <!--begin::Title-->
                    <div class="mb-3">
                        <a class="btn btn-danger btn-sm" id="r_refuser">Refuser</a>
                    </div>
                        <!--end::Details-->
                
                    <!--end::Section-->
                    <!--begin::Seperator-->
                    <div class="separator separator-dashed mb-7"></div>
                    <!--end::Seperator-->
                    <!--begin::Section-->
                
                    <!--end::Section-->
                    <!--begin::Actions-->
                    <div class="mb-3">
                        <a  class="btn btn-warning btn-sm" id="r_reouvrir">Reouvrir</a>
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Sidebar-->
    </div>