<div class="app-body forgot-password">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-10 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="forgotpasswordForm">
                  <h1>Forgot Password</h1>
                  <p class="text-muted">Enter your Email to generate OTP </p>
                  <div class="form-group">
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-phone"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
                      </div>
                      <p class="help-block error-text"
                        *ngIf="forgotpasswordForm.controls['email'].touched && forgotpasswordForm.controls['email'].errors &&  forgotpasswordForm.controls['email'].errors.required">
                        Email is required</p>
                      <p class="help-block error-text"
                        *ngIf="forgotpasswordForm.controls['email'].touched && forgotpasswordForm.controls['email'].errors &&  forgotpasswordForm.controls['email'].errors.email">
                        Invalid email pattern
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 text-right">
                      <div class="form-group form-actions">
                        <button type="submit" style="background: #20a8d8;" class="btn btn-sm btn-secondary"
                          [disabled]="forgotpasswordForm.status == 'INVALID'" (click)="forgotPassword()">Get OTP</button>
                      </div>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="goToLogin()">Back to Login
                        Page</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>