@import "../../Styles/colors.role.scss";
@import "../../Styles/variables.scss";

.ndc-steps-actions {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  justify-content: center;

  .action-btn {
    border: 1px solid $primary-color;
    color: $primary-color;
    margin-right: 1rem;
  }
  .back-btn {
    border: 1px solid $border-default-btn;
    color: $border-default-btn;
    margin-right: 1rem;
  }
  .mg-left-1 {
    margin-left: 1rem;
  }
}

.ndc-details {
  // .ant-table-expanded-row {
  //   .ant-table-cell {
  //     padding-left: 33px;
  //   }
  // }
  .ant-input-number-input-wrap {
    margin-right: 10px;
  }

  tbody {
    vertical-align: top;
  }

  td {
    .ant-space-item {
      margin-top: 5px;
    }
  }

  .ant-table-pagination.ant-pagination {
    margin-top: 16px;
    margin-right: 0px;
    margin-left: 24px;
    margin-bottom: 0px;
  }

  .ndc-button-row {
    margin-top: 16px;
  }

  .btn-danger {
    color: $danger-btn !important;
    border-color: $danger-btn-border !important;
  }
}
