<div class="animated fadeIn">
    <div class="row">
        <form class="row" [formGroup]="sdgPIForm">
            <div class="col-md-12">
                <div class="card">

                    <!-- card header start -->
                    <div class="card-header">
                        <strong>SDG ASSESSMENT - PROJECT INFORMATION</strong>
                    </div>
                    <!-- card header end -->

                    <!-- card body start -->
                    <div class="card-body">
                        <!-- form start -->

                        <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                            <mat-label>Project Id</mat-label>
                            <mat-select  [disabled]="approvalScreen" name="parentProject" formControlName="parentProject" (selectionChange)="onProjectSelect($event.value)">
                                <mat-option disabled>Select a Project</mat-option>
                                <mat-option *ngFor="let project of projects;" [value]="project">
                                    {{project.projectId}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="sdgPIForm.controls.parentProject.errors && sdgPIForm.controls.parentProject.errors.required">Project is required</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline" disabled="true">
                            <mat-label>Describe environmental and social screening approach, identified risks and management approach (if conducted)</mat-label>
                            <textarea [disabled]="approvalScreen" name="screeningApproach" formControlName="screeningApproach" matInput placeholder="Describe environmental and social screening approach, identified risks and management approach (if conducted)"></textarea>
                        </mat-form-field>
                        <!-- form end -->


                        <div class="row">
                            <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)">

                                <mat-tab label="Stakeholder Consulation">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>STAKEHOLDER INPUTS</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Stakeholder Feedback
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>

                                                            <mat-accordion class="example-headers-align" multi>

                                                                <app-question [approvalScreen]="approvalScreen" *ngFor="let stakeholder of stakeholderInputArr;" [type]="'strengths'" [question]="stakeholder"></app-question>
                                                            </mat-accordion>

                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-tab>
                                <!-- --------------------------------------------------------------------------------------------------------------------------------------->


                                <mat-tab label="Poverty Reduction">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>POVERTY REDUCTION</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualiitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [approvalScreen]="approvalScreen" *ngFor="let poverty of povertyReductionArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]="'likelihood'" [question]="poverty"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [approvalScreen]="approvalScreen" *ngFor="let poverty of povertyReductionArr;" [type]="'data'" [question]="poverty"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                                <!-- ------------------------------------------------------------------------------------------------------------------------ -->
                                <mat-tab label="Reducing Inequality">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>PREDUCING INEQUALITY</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualiitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [approvalScreen]="approvalScreen" *ngFor="let reducingInequality of reducingInequalityArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]="'likelihood'" [question]="reducingInequality"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [approvalScreen]="approvalScreen" *ngFor="let reducingInequality of reducingInequalityArr;" [type]="'data'" [question]="reducingInequality"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>

                                <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                                <mat-tab label="Gender Parity">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>GENDER PAIRTY</strong>
                                                </div>
                                                <!-- card header end -->

                                                <!-- card body start -->
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Qualitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [approvalScreen]="approvalScreen" *ngFor="let  genderParity of genderParityArr;" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr" [type]="'likelihood'" [question]="genderParity"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                                <div class="card-body">
                                                    <mat-accordion class="example-headers-align" multi>
                                                        <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Quantitative Impact
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <hr>
                                                            <app-question [approvalScreen]="approvalScreen" *ngFor="let  genderParity of genderParityArr;" [type]="'data'" [question]="genderParity"></app-question>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-tab>
                                <mat-tab label="Other SDG Impacts">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <!-- card header start -->
                                                <div class="card-header">
                                                    <strong>Other SDG Impacts</strong>
                                                </div>
                                                <div class="card-body">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>SDG Impacts</mat-label>
                                                        <mat-select formControlName="showImpacts" (selectionChange)="showSDGImpacts($event.value)">
                                                            <mat-option *ngFor="let x of otherSdgValueArr" [value]="x">
                                                                {{x}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <div class="row" *ngFor="let otherSdg of otherSDGArr;">
                                                            <div class="col-md-12" *ngIf="otherSdg.isVisible">
                                                                <app-other-sdg [approvalScreen]="approvalScreen" [otherSdg]="otherSdg" [likelihoodArr]="likelihoodArr" [impactArr]="impactArr"></app-other-sdg>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Remarks*</mat-label>
                                <textarea matInput placeholder="Remarks" name="remarks" [formControl]="remarksCtrl"  [readonly]='approvalScreen'></textarea>
                                <mat-error *ngIf="remarksCtrl.errors && remarksCtrl.errors.required">Remarks is required</mat-error>
                            </mat-form-field>
                        </div>


                    </div>
                    <!-- card body  end -->
                </div>
                <div class="card-footer">
                    <div class="row" style="display: block;width: 100%;">

                        <div class="col-xs-6" *ngIf="approvalScreen">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Approvers Comment*</mat-label>
                                <textarea name="approverComment" formControlName="approverComment" matInput placeholder="Approvers Comment" class="filter-input"> </textarea>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-6">
                            <button type="button" *ngIf="!approvalScreen" (click)="submit()" class="btn btn-success">Submit</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-success" (click)="updateDataStatus('approved')">Approve</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-danger" (click)="updateDataStatus('rejected')">Reject</button>
                        </div>
                        <!-- footer-> row -->
                    </div>
                    <!-- card-footer -->
                </div>
            </div>
        </form>
    </div>

</div>