service: lambda-layer

provider:
  name: aws
  runtime: nodejs16.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  iam:
    role: arn:aws:iam::302213478610:role/lambda-role
  vpc:
    subnetIds:
      - subnet-0c29051002d165a2c
      - subnet-0c29051002d165a2c
    securityGroupIds:
      - sg-029b80f0fd44eb16a

layers:
  service-dependencies-1:
    path: dependency_layer
    name: service-dependencies-${self:provider.stage}-1
    description: "Node Modules Dependencies 1"
    package:
      exclude:
        - node_modules/**
        - '!node_modules/@c*/**'
        - '!node_modules/@d*/**'
        - '!node_modules/@j*/**'
        - '!node_modules/@l*/**'
        - '!node_modules/@n*/**'
        - '!node_modules/@p*/**'
        - '!node_modules/@s*/**'
        - '!node_modules/@t*/**'
        - '!node_modules/@u*/**'
        - '!node_modules/@v*/**'
        - '!node_modules/a*/**'
        - '!node_modules/b*/**'
        - '!node_modules/c*/**'
  service-dependencies-2:
    path: dependency_layer
    name: service-dependencies-${self:provider.stage}-2
    description: "Node Modules Dependencies 2"
    package:
      exclude:
        - 'node_modules/@*/**'
        - 'node_modules/a*/**'
        - 'node_modules/b*/**'
        - 'node_modules/c*/**'
        - 'node_modules/aws-sdk/**'