<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>User List</strong>
                    <button class="float-right"  mat-raised-button color="primary" (click)="goToNewNDC()"><i class="icon-plus"></i> &nbsp; New NDC</button>
                </div>
                <div class="card-body">
                    <mat-table table-border #table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                            <mat-header-cell class="row" *matHeaderCellDef>
                                <!-- <span mat-sort-header class="col-xs-12 col-md-12 col-sm-12">{{column.value | uppercase}}</span>
                                    <input class="col-xs-12 col-md-12 col-sm-12" class="filter-input" matInput [formControl]="column.formControl"
                                    placeholder="Filter {{column.value}}" /> -->
                                <mat-label mat-sort-header class="col-xs-12 col-md-12 col-sm-12">{{column.value | uppercase}}</mat-label>
                                <mat-form-field appearance="outline" class="col-xs-8 col-md-8 col-sm-8">
                                    <mat-label>Filter</mat-label>
                                    <input class="filter-input" matInput [formControl]="column.formControl"
                                        placeholder="Filter {{column.value}}" />
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
                        </ng-container>
                        <!-- <ng-container cdkColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                            <mat-cell class="row" *matCellDef="let element">
                                <button type="button" class="btn btn-block btn-primary active" aria-pressed="true"
                                    (click)="gotouserdetaillist(element)">View/update</button>
                            </mat-cell>
                        </ng-container> -->
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>