<div class="app-body login">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="getotpForm">
                  <h1>Change Password</h1>
                  <p class="text-muted">An OTP has been sent to <strong>{{email}}</strong> . Please enter the OTP below
                  </p>
                  <button type="button" class="btn btn-link px-0" (click)="goToForgotPw()">Not this email ?</button>
                  <div class="form-group">
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter OTP here" formControlName="otp">
                      </div>
                      <p class="help-block error-text"
                        *ngIf="getotpForm.controls['otp'].touched && getotpForm.controls['otp'].errors &&  getotpForm.controls['otp'].errors.required">
                        Please enter OTP</p>
                      <p class="help-block error-text"
                        *ngIf="getotpForm.controls['otp'].touched && getotpForm.controls['otp'].errors &&  getotpForm.controls['otp'].errors.pattern">
                        Invalid OTP (OTP should be a 4 digit number)
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="icon-lock"></i>
                          </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Enter new password"
                          formControlName="password">
                      </div>
                      <p class="help-block error-text"
                        *ngIf="getotpForm.controls['password'].touched && getotpForm.controls['password'].errors &&  getotpForm.controls['password'].errors.required">
                        Please enter new password</p>
                      <p class="help-block error-text"
                        *ngIf="getotpForm.controls['password'].touched && getotpForm.controls['password'].errors &&  getotpForm.controls['password'].errors.pattern">
                        Invalid password (password should minimum 8 character & must contain letter,symbol & number)
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="icon-lock"></i>
                          </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Enter again to confirm password"
                          formControlName="confirmPassword">
                      </div>
                      <p class="help-block error-text"
                        *ngIf="getotpForm.controls['confirmPassword'].touched && getotpForm.controls['confirmPassword'].errors &&  getotpForm.controls['confirmPassword'].errors.required">
                        Please re-enter new password</p>
                      <p class="help-block error-text"
                        *ngIf="getotpForm.controls['confirmPassword'].touched && getotpForm.controls['confirmPassword'].errors &&  getotpForm.controls['confirmPassword'].errors.NoPassswordMatch">
                        Password Missmatch
                      </p>
                    </div>
                  </div>
                  <div class="row float-right">
                    <button type="button" class="btn btn-link px-0" (click)="goToLogin()">Go back to login</button>
                  </div>
                  <div class="row">
                    <div class="col-6 text-right">
                      <button type="submit" style="background: #20a8d8;" class="btn btn-sm btn-secondary"
                        [disabled]="getotpForm.status == 'INVALID'" (click)="resetPassword()">Reset Password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>