<mat-accordion *ngIf="userDetails">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                User Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="userForm">
            <!-- <div class="form-group">
                <div class="input-group">
                    <input type="text" id="username" name="username" class="form-control" placeholder="PHONE NUMBER"
                        formControlName="username">
                    <div class="input-group-append">
                    </div>
                </div>
                <p text color="danger" class="help-block error-text"
                    *ngIf="userForm.get('username').touched && userForm.get('username').hasError('required')">
                    This field is required</p>
                <p text color="danger" class="input-error error-text"
                    *ngIf="userForm.get('username').touched && userForm.get('username').hasError('pattern')">
                    Phone should be a 10 digit number</p>
            </div> -->
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name"
                        formControlName="firstName" [(ngModel)] = "userDetails.firstName">
                    <div class="input-group-append">
                    </div>
                </div>
                <p class="help-block error-text"
                    *ngIf="userForm.controls['firstName'].touched && userForm.controls['firstName'].errors && userForm.controls['firstName'].errors.required">
                    This field is required
                </p>
                <p class="help-block error-text"
                    *ngIf="userForm.controls['firstName'].touched && userForm.controls['firstName'].errors &&  userForm.controls['firstName'].errors.pattern">
                    Name should be in letter</p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="lastName" name="lastName" [(ngModel)] = "userDetails.lastName" class="form-control" placeholder="Last Name"
                        formControlName="lastName">
                    <div class="input-group-append">
                    </div>
                </div>
                <p class="help-block error-text"
                    *ngIf="userForm.controls['lastName'].touched && userForm.controls['lastName'].errors && userForm.controls['lastName'].errors.required">
                    This field is required
                </p>
                <p class="help-block error-text"
                    *ngIf="userForm.controls['lastName'].touched && userForm.controls['lastName'].errors &&  userForm.controls['lastName'].errors.pattern">
                    Name should be in letter</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="email" name="email" class="form-control" placeholder="EMAIL"
                        formControlName="email" [(ngModel)] = "userDetails.email" disabled>
                    <div class="input-group-append">
                    </div>
                </div>
                <p text color="danger" class="help-block error-text"
                    *ngIf="userForm.get('email').touched && userForm.controls['email'].errors && userForm.controls['email'].errors.required">
                    This field is required</p>
                <p text color="danger" class="input-error error-text"
                    *ngIf="userForm.get('email').touched && userForm.controls['email'].errors && userForm.controls['email'].errors.email">
                    Email should be like, example:abcd@ghij.com</p>
            </div>
           <!--  <div class="form-group">
                <div class="input-group">
                    <input type="text" id="status" name="status" class="form-control" placeholder="STATUS"
                        formControlName="status">
                    <div class="input-group-append">
                    </div>
                </div>
                <p class="help-block error-text"
                    *ngIf="userForm.controls['status'].touched && userForm.controls['status'].errors && userForm.controls['status'].errors.required">
                    This field is required
                </p>
                <p class="help-block error-text"
                    *ngIf="userForm.controls['status'].touched && userForm.controls['status'].errors &&  userForm.controls['status'].errors.pattern">
                    This should be in letter</p>
            </div> -->
            <div class="form-group form-actions">
                <button type="submit" class="btn btn-sm btn-success" [disabled]="userForm.status == 'INVALID'"
                    (click)="updateUser()">Update</button>
            </div>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Update Password
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="passwordUpdateForm">

            <div class="form-group">
                <div class="input-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Current password"
                        formControlName="password" >
                    <div class="input-group-append">
                    </div>
                </div>
                <p class="help-block error-text"
                    *ngIf="passwordUpdateForm.controls['password'].touched && passwordUpdateForm.controls['password'].errors && passwordUpdateForm.controls['password'].errors.required">
                    This field is required
                </p>
                <p class="help-block error-text"
                    *ngIf="passwordUpdateForm.controls['password'].touched && passwordUpdateForm.controls['password'].errors &&  passwordUpdateForm.controls['password'].errors.pattern">
                    Name should be in letter</p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="password" id="confirmPassword" name="confirmPassword"  class="form-control" placeholder="Confirm password"
                        formControlName="confirmPassword">
                    <div class="input-group-append">
                    </div>
                </div>
                <p class="help-block error-text"
                    *ngIf="passwordUpdateForm.controls['confirmPassword'].touched && passwordUpdateForm.controls['confirmPassword'].errors && passwordUpdateForm.controls['confirmPassword'].errors.required">
                    This field is required
                </p>
                <p class="help-block error-text"
                    *ngIf="passwordUpdateForm.controls['confirmPassword'].touched && passwordUpdateForm.controls['confirmPassword'].errors &&  passwordUpdateForm.controls['confirmPassword'].errors.pattern">
                   Invalid password</p>

                </div>
                <p class="help-block error-text"
                *ngIf="passwordUpdateForm.status =='VALID' && passwordUpdateForm.controls['confirmPassword'].value != passwordUpdateForm.controls['password'].value">
               Invalid password</p>
            <div class="form-group form-actions">
                <button type="submit" class="btn btn-sm btn-success" [disabled]="userForm.status == 'INVALID'"
                    (click)="updatePassword()" [disabled]="passwordUpdateForm.status !='VALID' || passwordUpdateForm.controls['confirmPassword'].value != passwordUpdateForm.controls['password'].value">Update</button>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>
