<style>
    .shape-right{
        z-index: -30;
        position: absolute;
        background-image: url('ext/image/shape.png');
        width: 309px;
        height:368px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .shape-left{
        z-index: -30;
        position: absolute;
        background-image: url('ext/image/shape.png');
        width: 309px;
        height:368px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        right: 0%;
        transform: rotate(180deg);
    }
</style>
<div     style="background-image: url('ext/image/714766633efbdac80b6eaf3ff833023a.jpg'); height: 550px;background-repeat: no-repeat;
background-position: center center;
background-size: cover;">

</div>
<div class="container-fluid mb-10">
    <div class="row pt-10">
        <div class="col-lg-12 p-10">
            <span class="" style="font-weight: 800;font-size: 37px; font-family: 'Montserrat', sans-serif;">
                La réalité du changement <br>
                
            </span>
            <span style="font-weight: 800;font-size: 37px; font-family: 'Montserrat', sans-serif;">
               
                climatique est indéniable !
            </span>
            <P  style="font-weight: 400;font-size: 18px; font-family: 'Montserrat', sans-serif;">
                La réalité du changement climatique est indéniable, avec des preuves évidentes que les émissions anthropiques atteignent un point critique. Il est impératif de prendre des mesures immédiates pour atténuer les impacts du changement climatique et réduire les émissions.
            </P>
            <p style="font-weight: 400;font-size: 18px; font-family: 'Montserrat', sans-serif;">
                Selon l’indice ND-Gain, la Côte d’Ivoire est l’un des pays les plus vulnérables alors qu’elle fait partie des moins préparés aux changements climatiques. Conscient de cette réalité, les autorités ivoiriennes entendent honorer les engagements climatiques du pays et contribuer à l’effort mondial de lutte contre le changement climatique.
                Le Registre a donc été conçu pour opérationnaliser le cadre de l'article 6 de la Côte d’ivoire, y compris d'autres marchés et non-marchés pour les obligations mondiales, nationales, d'entreprise et volontaires.
                Ce registre est la pierre angulaire de la mise en œuvre des mécanismes de marché et non marché carbone en Côte d'Ivoire. Il facilite la liste transparente des informations sur les projets validés et/ou certifiés, les unités émises et retirées, et permet le transfert d'unités. 
            </p>
            <p style="font-weight: 400;font-size: 18px; font-family: 'Montserrat', sans-serif;">
                Le registre carbone de côte d’Ivoire garantit également le caractère unique des projets et des crédits dans le système. Un compte actif est donc requis pour toute entité souhaitant enregistrer des projets ou émettre, retirer ou transférer des unités.
            </p>
            <p style="font-weight: 400;font-size: 18px; font-family: 'Montserrat', sans-serif;">
                Le registre carbone ivoirien fonctionne en recevant, traitant, enregistrant et stockant des données sur les projets d'atténuation, l'émission, la détention, le transfert, l'acquisition, l'annulation et le retrait des crédits de réduction/évitement des émissions.
            </p>
            <p style="font-weight: 400;font-size: 18px; font-family: 'Montserrat', sans-serif;">
            Ce registre garantit que le marché du carbone fonctionne de manière efficace et efficiente en fournissant des données ou des informations précises et transparentes aux acteurs du marché et au grand public.
            </p>
        </div>
    </div>
    <div class="row pt-10">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="card" style="height:
                    197px;background-image: url(ext/image/74e3aff0320583624fc415b83c23312f.jpg);background-size: 100% auto; background-position: center center;
    background-size: cover;">
                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="height:
                    209px;background-image: url(ext/image/059f7e7978519aed567e4715ab7b2764.jpg);background-size: 100% auto; background-position: center center;
    background-size: cover;">
                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="card" style="height:
                    209px;background-image: url(ext/image/e541ed8a37d379ea365c7a0b9319116e.png);background-size: 100% auto; background-position: center center;
    background-size: cover;">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6  p-5">
            <span class="mb-2" style="font-weight: 800;font-size: 37px; font-family: 'Montserrat', sans-serif;">
                Notre mission
            </span>
            <P  style="font-weight: 500;font-size: 18px; font-family: 'Montserrat', sans-serif;">
                Soutenir les efforts d’atténuation des organisations et des projets, pour un développement bas carbone aligné sur les objectifs des Contributions Déterminées au niveau National, avec un accès privilégié aux opportunités de financement
                sur les marchés internationaux du carbone.
            </P>
            <P  style="font-weight: 500;font-size: 18px; font-family: 'Montserrat', sans-serif;">
                
                Nous sommes convaincus qu’en travaillant ensemble dans la transparence, nous pouvons accélérer la transition vers une économie à faibles émissions de carbone et construire
                un pays résilient face aux changements climatiques.
            </P>
        </div>
    </div>
    <div class="row pt-20">
        <div class="col-12 text-center mb-18">
            <span class="text-center" style="font-weight: 800;font-size: 37px; font-family: 'Montserrat', sans-serif;">
                Nos valeurs
                
            </span>
        </div>
        <div class="col-12">
            <div class="row ">
                <div class="col-lg-4  ">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="card " style="background-color: #244035; height: 166px; width: 166px;">
                            <div class="card-body">
                                <img src="/ext/image/efficiency1.png" style="height: 106px;" alt="" srcset="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="text-center mt-10">
                        <span class="text-center" style="font-weight: 800;font-size: 25px; font-family: 'Montserrat', sans-serif;">
                           Efficacité
                            
                        </span>
                        <p class="" style="font-weight: 500;font-size: 16px; font-family: 'Montserrat', sans-serif;">
                            Ce registre permet des transactions quasi instantanées et sans  intermédiaires, offrant ainsi une option rapide et attrayante pour les  entreprises et les particuliers
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  ">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="card " style="background-color: #244035; height: 166px; width: 166px;">
                            <div class="card-body">
                                <img src="/ext/image/shield.png" style="height: 106px;" alt="" srcset="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="text-center mt-10">
                        <span class="text-center" style="font-weight: 800;font-size: 25px; font-family: 'Montserrat', sans-serif;">
                            Intégrité
                            
                        </span>
                        <p class="" style="font-weight: 500;font-size: 16px; font-family: 'Montserrat', sans-serif;">
                            Grâce à une communication claire, nous fournissons à nos clients des  connaissances clés sur les projets carbone, renforçant ainsi la  confiance des utilisateurs dans le système
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  ">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="card " style="background-color: #244035; height: 166px; width: 166px;">
                            <div class="card-body">
                                <img src="/ext/image/transparency.png" style="height: 106px;" alt="" srcset="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="text-center mt-10">
                        <span class="text-center" style="font-weight: 800;font-size: 25px; font-family: 'Montserrat', sans-serif;">
                          Transparence
                            
                        </span>
                        <p class="" style="font-weight: 500;font-size: 16px; font-family: 'Montserrat', sans-serif;">
                            C'est une démonstration d'intégrité, d'éthique, de responsabilité,  d'honneur et de loyauté dans la gestion et la communication des données  des utilisateurs du registre
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-right" >

        </div>
        <div class="shape-left">

        </div>
    </div>
</div>
