<%- include('../partials/mini_header_account.ejs') %>

<div class="container">
    <div class="row">
        <!-- Table -->
        <div class="col-lg-6 offset-lg-3">
            <div class="table-responsive">
                <table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
                    <thead>
                        <tr class="fw-semibold fs-6 text-muted">
                            <th>Projet</th>
                            <th>Date</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                           
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Projet</th>
                            <th>Date</th>
                            <th>Statut</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
        <!-- Table -->
    </div>
</div>