<style>
    .pnud-font{
        font-family: 'Montserrat', sans-serif;
    }
    .s-title{
        font-weight: 700px;
        font-size: 25px;
        line-height: 30.48px
    }
    .s-zone{
        background: #84C55C33;
       



    }
    .p-check{
        color: #059547!important;
    }
    .p-zone{
 
        font-size: 18px;
        font-weight: 400;
        line-height: 21.94px;
        text-align: justified;

    }
    .p-badge{
        margin-right: 10px;
    }
    
</style>
<div class="container mt-20 mb-20">
    <div class="row">
        <div class="col-lg-12">
            <span class="pnud-font s-title">Les critères d’éligibilité des projets et programmes au registre carbone
                de Côte D’ivoire sont :
            </span>
        </div>
        <div class="col-lg-12 mt-2 p-5 s-zone" >
            <p class="p-zone d-flex item-content-center justify-content-center">
                <span >
                   
                    <span class="p-check" >
                        <svg  xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24">
                            <path d="M10.0813 3.7242C10.8849 2.16438 13.1151 2.16438 13.9187 3.7242V3.7242C14.4016 4.66147 15.4909 5.1127 16.4951 4.79139V4.79139C18.1663 4.25668 19.7433 5.83365 19.2086 7.50485V7.50485C18.8873 8.50905 19.3385 9.59842 20.2758 10.0813V10.0813C21.8356 10.8849 21.8356 13.1151 20.2758 13.9187V13.9187C19.3385 14.4016 18.8873 15.491 19.2086 16.4951V16.4951C19.7433 18.1663 18.1663 19.7433 16.4951 19.2086V19.2086C15.491 18.8873 14.4016 19.3385 13.9187 20.2758V20.2758C13.1151 21.8356 10.8849 21.8356 10.0813 20.2758V20.2758C9.59842 19.3385 8.50905 18.8873 7.50485 19.2086V19.2086C5.83365 19.7433 4.25668 18.1663 4.79139 16.4951V16.4951C5.1127 15.491 4.66147 14.4016 3.7242 13.9187V13.9187C2.16438 13.1151 2.16438 10.8849 3.7242 10.0813V10.0813C4.66147 9.59842 5.1127 8.50905 4.79139 7.50485V7.50485C4.25668 5.83365 5.83365 4.25668 7.50485 4.79139V4.79139C8.50905 5.1127 9.59842 4.66147 10.0813 3.7242V3.7242Z" fill="currentColor"></path>
                            <path d="M14.8563 9.1903C15.0606 8.94984 15.3771 8.9385 15.6175 9.14289C15.858 9.34728 15.8229 9.66433 15.6185 9.9048L11.863 14.6558C11.6554 14.9001 11.2876 14.9258 11.048 14.7128L8.47656 12.4271C8.24068 12.2174 8.21944 11.8563 8.42911 11.6204C8.63877 11.3845 8.99996 11.3633 9.23583 11.5729L11.3706 13.4705L14.8563 9.1903Z" fill="white"></path>
                        </svg>
                    </span>
                </span>
                <span >
                    Les activités ne doivent pas figurer dans la liste négative qui regroupe les
                    activités d'atténuation pour atteindre les objectifs inconditionnels des
                   CDN
                </span>
            </p>
            <p class="p-zone d-flex item-content-center justify-content-center">
                    <span >
                       
                        <span class="p-check" >
                            <svg  xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24">
                                <path d="M10.0813 3.7242C10.8849 2.16438 13.1151 2.16438 13.9187 3.7242V3.7242C14.4016 4.66147 15.4909 5.1127 16.4951 4.79139V4.79139C18.1663 4.25668 19.7433 5.83365 19.2086 7.50485V7.50485C18.8873 8.50905 19.3385 9.59842 20.2758 10.0813V10.0813C21.8356 10.8849 21.8356 13.1151 20.2758 13.9187V13.9187C19.3385 14.4016 18.8873 15.491 19.2086 16.4951V16.4951C19.7433 18.1663 18.1663 19.7433 16.4951 19.2086V19.2086C15.491 18.8873 14.4016 19.3385 13.9187 20.2758V20.2758C13.1151 21.8356 10.8849 21.8356 10.0813 20.2758V20.2758C9.59842 19.3385 8.50905 18.8873 7.50485 19.2086V19.2086C5.83365 19.7433 4.25668 18.1663 4.79139 16.4951V16.4951C5.1127 15.491 4.66147 14.4016 3.7242 13.9187V13.9187C2.16438 13.1151 2.16438 10.8849 3.7242 10.0813V10.0813C4.66147 9.59842 5.1127 8.50905 4.79139 7.50485V7.50485C4.25668 5.83365 5.83365 4.25668 7.50485 4.79139V4.79139C8.50905 5.1127 9.59842 4.66147 10.0813 3.7242V3.7242Z" fill="currentColor"></path>
                                <path d="M14.8563 9.1903C15.0606 8.94984 15.3771 8.9385 15.6175 9.14289C15.858 9.34728 15.8229 9.66433 15.6185 9.9048L11.863 14.6558C11.6554 14.9001 11.2876 14.9258 11.048 14.7128L8.47656 12.4271C8.24068 12.2174 8.21944 11.8563 8.42911 11.6204C8.63877 11.3845 8.99996 11.3633 9.23583 11.5729L11.3706 13.4705L14.8563 9.1903Z" fill="white"></path>
                            </svg>
                        </span>
                    </span>
                    <span >
                        Le projet doit contribuer au développement durable de la Côte d’Ivoire,
                        respecter les mesures des sauvegardes environnementales et sociales 
                    </span>
            </p>
            <p class="p-zone d-flex item-content-center justify-content-center">
                <span >
                   
                    <span class="p-check" >
                        <svg  xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24">
                            <path d="M10.0813 3.7242C10.8849 2.16438 13.1151 2.16438 13.9187 3.7242V3.7242C14.4016 4.66147 15.4909 5.1127 16.4951 4.79139V4.79139C18.1663 4.25668 19.7433 5.83365 19.2086 7.50485V7.50485C18.8873 8.50905 19.3385 9.59842 20.2758 10.0813V10.0813C21.8356 10.8849 21.8356 13.1151 20.2758 13.9187V13.9187C19.3385 14.4016 18.8873 15.491 19.2086 16.4951V16.4951C19.7433 18.1663 18.1663 19.7433 16.4951 19.2086V19.2086C15.491 18.8873 14.4016 19.3385 13.9187 20.2758V20.2758C13.1151 21.8356 10.8849 21.8356 10.0813 20.2758V20.2758C9.59842 19.3385 8.50905 18.8873 7.50485 19.2086V19.2086C5.83365 19.7433 4.25668 18.1663 4.79139 16.4951V16.4951C5.1127 15.491 4.66147 14.4016 3.7242 13.9187V13.9187C2.16438 13.1151 2.16438 10.8849 3.7242 10.0813V10.0813C4.66147 9.59842 5.1127 8.50905 4.79139 7.50485V7.50485C4.25668 5.83365 5.83365 4.25668 7.50485 4.79139V4.79139C8.50905 5.1127 9.59842 4.66147 10.0813 3.7242V3.7242Z" fill="currentColor"></path>
                            <path d="M14.8563 9.1903C15.0606 8.94984 15.3771 8.9385 15.6175 9.14289C15.858 9.34728 15.8229 9.66433 15.6185 9.9048L11.863 14.6558C11.6554 14.9001 11.2876 14.9258 11.048 14.7128L8.47656 12.4271C8.24068 12.2174 8.21944 11.8563 8.42911 11.6204C8.63877 11.3845 8.99996 11.3633 9.23583 11.5729L11.3706 13.4705L14.8563 9.1903Z" fill="white"></path>
                        </svg>
                    </span>
                </span>
                <span >
                    Le projet doit être aligner avec les priorités nationales et l’inclusion des
                    perspectives de genre et inclusion sociale pour la participation des
                    communautés locales 
                </span>
         </p>
        </div>
    </div>
    <div class="row mt-10" >
        <div class="col-lg-12 mb-14">
            <span class="pnud-font s-title">Le projet doit répondre aux critères des marchés carbone 
            </span>
        </div>
        <div class="col-lg-12 p-5 s-zone pnud-font">
            <p class="p-zone">
                <span class="fw-bold">Mesurabilité : </span>La quantité de carbone évitée ou séquestrée doit
                être mesurable pour le projet candidat à la finance carbone.
            </p>
            <p class="p-zone">
                <span class="fw-bold">Vérifiabilité : </span>La vérification et la validation des efforts
                d'évitement et/ou de séquestration des tonnes équivalent
               (teqCO2) doit être assurée par des organismes indépendants accrédité.
            </p>
            <p class="p-zone">
                <span class="fw-bold">Permanence : </span>La réduction des émissions de gaz à effet de serre
                réalisée dans le cadre du projet doit être effective pendant une
                 temporalité bien définie.
            </p>
            <p class="p-zone">
                <span class="fw-bold">Additionnalité financière et environnementale : </span>Cela englobe les
                aspects environnementaux et financiers qui garantissent que les
                réductions d'émissions ne se produiraient pas sans le soutien de la
               vente de crédits carbone.
            </p>
        </div>
    </div>
    <div class="row mt-10" >
        <div class="col-lg-12 mb-14">
            <span class="pnud-font s-title">Cycle de projet carbone
            </span>  <br> <br>
            <span style="font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 21.94px;
      
            ">Etapes d’un projet carbone</span>
        </div>
        <div class="col-lg-12 p-5 s-zone pnud-font">
            <p class="p-zone">
           
                    <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">1</span>
                    Identification des activités d'atténuation éligibles.
            </p>
            <p class="p-zone">
                <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">2</span>La vérification et la validation des efforts
                Autorisation / signature des approches coopératives.
            </p>
            <p class="p-zone">
                <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">3</span>La réduction des émissions de gaz à effet de serre
                Approbation et de non-objection relatives au marché du carbone et aux
                activités non fondées sur le marché à développer en Côte d’Ivoire. Cela
                comprend : 
                <div style="margin: 22px!important; font-size: 16px;" class="pnud-font">
                    <li>
                        L’approbation des activités de l’article 6.2 et du MVC demandant un
    ajustement correspondant de la part du gouvernement ivoirien ;
    
                    </li>
                    <li>

                        L’approbation d’activités au titre de l’article 6.4 ;
                    </li>
                    <li>
                        L’autorisation des participants aux activités de l’article 6.2, 6.4 et MVC ajusté ;

                    </li>
                    <li>
                        La lettre de non-objection pour les activités du MVC ne demandant pas des ajustements correspondants ;

                    </li>
                    <li>
                        La lettre de non-objection pour les initiatives au titre de l’article 6.8.
                    </li>
                    <li>
                        Le registre des activités approuvées au titre de l’article 6.2, 6.4 et MVC ajusté.
                    </li>
                </div>
               
            </p>
            <p class="p-zone">
                <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">4</span>Vérification et délivrance des ITMO
            </p>
            <p class="p-zone">
                <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">5</span>Autorisation d'utilisation des ITMO.
            </p>
            <p class="p-zone">
                <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">6</span>Gestion de l'infrastructure de suivi.
            </p>
            <p class="p-zone">
                <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">7</span>Application des ajustements correspondants.
            </p>
            <p class="p-zone">
                <span class="badge badge-lg badge-circle p-badge" style="background-color: #059547;color:white">8</span>Rapports.
            </p>
        </div>
    </div>
</div>