<%- include('../partials/mini_header_account.ejs') %>

<div class="container mt-10 mb-10">
    <div class="row">
        <!-- File -->
        <div class="col-lg-6">
            <!--begin::Card-->
            <div class="card card-flush h-lg-100">
                <!--begin::Card header-->
                <div class="card-header mt-6">
                    <!--begin::Card title-->
                    <div class="card-title flex-column">
                        <h3 class="fw-bold mb-1">Fichier de la note</h3>
                        <div class="fs-6 text-gray-400">Total 382</div>
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                   
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body p-9 pt-3">
                    <!--begin::Files-->
                    <div class="d-flex flex-column mb-9">
                        <!--begin::File-->
                        <div class="d-flex align-items-center mb-5">
                            <!--begin::Icon-->
                            <div class="symbol symbol-30px me-5">
                                <img alt="Icon" src="../../assets/media/svg/files/pdf.svg">
                            </div>
                            <!--end::Icon-->
                            <!--begin::Details-->
                            <div class="fw-semibold">
                                <a class="fs-6 fw-bold text-dark text-hover-primary" href="#">Note de projet</a>
                                <div class="text-gray-400">2 days ago 
                                <a href="#">Modifiable jusqu'au 10/06/2024</a></div>
                            </div>
                            <!--end::Details-->
                            <!--begin::Menu-->
                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-primary btn-active-light-primary ms-auto" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
                                <span class="svg-icon svg-icon-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="5" y="5" width="5" height="5" rx="1" fill="currentColor"></rect>
                                            <rect x="14" y="5" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                            <rect x="5" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                            <rect x="14" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                                        </g>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </button>
                            <!--begin::Menu 1-->
                            <div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="kt_menu_635b1e27e4796" style="">
                                <!--begin::Header-->
                                <div class="px-7 py-5">
                                    <div class="fs-5 text-dark fw-bold">Changer le fichier</div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Menu separator-->
                                <div class="separator border-gray-200"></div>
                                <!--end::Menu separator-->
                                <!--begin::Form-->
                                <div class="px-7 py-5">
                                    <!--begin::Input group-->
                                    <div class="mb-10">
                                        <!--begin::Label-->
                                        <label class="form-label fw-semibold">Remplacer votre note d'idée:</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <div>
                                            <!-- <select class="form-select form-select-solid select2-hidden-accessible" data-kt-select2="true" data-placeholder="Select option" data-dropdown-parent="#kt_menu_635b1e27e4796" data-allow-clear="true" data-select2-id="select2-data-16-1jdw" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                                                <option data-select2-id="select2-data-18-dd11"></option>
                                                <option value="1">Approved</option>
                                                <option value="2">Pending</option>
                                                <option value="2">In Process</option>
                                                <option value="2">Rejected</option>
                                            </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-17-onfa" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-y1y3-container" aria-controls="select2-y1y3-container"><span class="select2-selection__rendered" id="select2-y1y3-container" role="textbox" aria-readonly="true" title="Select option"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span> -->
                                        <input type="file" class="form-control form-control-lg form-control-solid" >
                                        </div>
                                        <!--end::Input-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    
                                    <!--end::Input group-->
                                    <!--begin::Actions-->
                                    <div class="d-flex justify-content-end">
                                        <button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true">Annuler</button>
                                        <button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Modifier</button>
                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end::Form-->
                            </div>
                            <!--end::Menu 1-->
                            <!--end::Menu-->
                        </div>
                        <!--end::File-->
                        <!--begin::File-->
                        <div class="d-flex align-items-center mb-5">
                            <!--begin::Icon-->
                            <div class="symbol symbol-30px me-5">
                                <img alt="Icon" src="../../assets/media/svg/files/doc.svg">
                            </div>
                            <!--end::Icon-->
                            <!--begin::Details-->
                            <div class="fw-semibold">
                                <a class="fs-6 fw-bold text-dark text-hover-primary" href="#">Critère d'éligibilité</a>
                                <div class="text-gray-400">Due in 1 day 
                              </div>
                            </div>
                            <!--end::Details-->
                           
                            <!--end::Menu-->
                        </div>
                        <!--end::File-->
                        <!--begin::File-->
                       
                        <!--end::File-->
                    </div>
                    <!--end::Files-->
                    <!--begin::Notice-->
                    
                    <!--end::Notice-->
                </div>
                <!--end::Card body -->
            </div>
            <!--end::Card-->
        </div>
        <!-- File -->
        <!-- Transaction -->
        <div class="col-lg-6">
            <!--begin::Card-->
            <div class="card card-flush h-lg-100">
                <!--begin::Card header-->
                <div class="card-header mt-6">
                    <!--begin::Card title-->
                    <div class="card-title flex-column">
                        <h3 class="fw-bold mb-1">Transaction</h3>
                        <div class="fs-6 text-gray-400">validée</div>
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                   
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body p-9 pt-3 d-none">
                    <!--begin::Files-->
                    <!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required"> Type paiement</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="note_type" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="true">
												<option></option>
												<option value="Tresor pay">Tresor pay</option>
												<option value="Transfert Bancaire">Transfert Bancaire</option>
												
											</select>
                                          
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--end::Label-->
											<label class="form-label required">Identifiant de transaction</label>
											<!--end::Label-->
											<!--begin::Input-->
                                            <input name="note_transaction" class="form-control form-control-lg form-control-solid" value="" />
                                           
											<!--end::Input-->
										</div>
										<!--end::Input group-->
										<!--begin::Input group-->
										<div class="fv-row mb-0">
											<!--begin::Label-->
											<label class="fs-6 fw-semibold form-label ">Document justiificatif de transaction (optionnel)</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="note_option" type="file" class="form-control form-control-lg form-control-solid"  />
                                            
											<!--end::Input-->
										</div>
                                        <div class="mt-10 text-center">
                                            <button class="btn  btn-success">Modifer</button>
                                        </div>
										<!--end::Input group-->
				</div>
                    <!--end::Files-->


                <div class="card-body p-9 pt-3 text-center">
                    <svg style="height: 200px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle opacity="0.5" cx="12" cy="12" r="10" stroke="green" stroke-width="1.5"></circle> <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="green" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </div>
                    <!--begin::Notice-->
                    
                    <!--end::Notice-->
            </div>
                <!--end::Card body -->
        </div>
            <!--end::Card-->
        <div class="col-lg-6 mt-4">
            <div class="card card-flush h-lg-100">
                <!--begin::Card header-->
                <div class="card-header mt-6">
                    <!--begin::Card title-->
                    <div class="card-title flex-column">
                        <h3 class="fw-bold mb-1">Historique des actions</h3>
                        
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body p-9 pt-3">
                    <!--begin::Files-->
                    <!--begin::Input group-->
                    <div class="table-responsive">
                        <table id="kt_datatable_zero_configuration" class="table table-row-bordered gy-5">
                            <thead>
                                <tr class="fw-semibold fs-6 text-muted">
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
					<!--end::Input group-->
				</div>
               
                    
                    <!--end::Notice-->
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div class="card card-flush h-lg-100">
                <!--begin::Card header-->
                <div class="card-header mt-6">
                    <!--begin::Card title-->
                    <div class="card-title flex-column">
                        <h3 class="fw-bold mb-1">Action</h3>
                        <div class="fs-6 text-gray-400">Action requis (2)</div>
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <a href="#" class="btn btn-bg-light btn-light-success btn-sm">Déclencher une action</a>
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body p-9 pt-3">
                    <!--begin::Files-->
                    <!--begin::Input group-->
                    <div class="mb-10">
                        <!--begin::Label-->
                        <div class="row">
                            <div class="col-lg-6 fv-row">
                                <label class="form-label mb-3 required">Votre MADD</label>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Le nom officiel ou légal d'une organisation, utilisé dans les documents juridiques et administratifs pour l'identifier."></i></label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="file" class="form-control form-control-lg form-control-solid" name="note_idee" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <div class="col-lg-6 fv-row">
                                <label class="form-label mb-3 required">Votre rapport de validation</label>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Le nom officiel ou légal d'une organisation, utilisé dans les documents juridiques et administratifs pour l'identifier."></i></label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="file" class="form-control form-control-lg form-control-solid" name="doc_conformite" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                        </div>
                       
                    </div>
                    <div class="mb-10" >
                        <!--begin::Label-->
                        <label class="form-label fw-semibold">Certificateur : </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        
                        Champs de recherche
                        <!--end::Input-->
                    </div>	
                    <div class="fv-row mb-10">
                        <!--end::Label-->
                        <label class="form-label required">Identifiant ducertificateur ou immatriculation</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input name="note_certif_id" class="form-control form-control-lg form-control-solid" value="" />
                       
                        <!--end::Input-->
                    </div>
                    <div class="fv-row mb-10">
                        <!--end::Label-->
                        <label class="form-label required">Fichier de conception des activités</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input name="note_file_conpect" type="file" class="form-control form-control-lg form-control-solid" value="" />
                       
                        <!--end::Input-->
                    </div>
                    <div class="mb-10 text-center">
                        <button class="btn btn-success">Envoyer</button>
                    </div>
					<!--end::Input group-->
				</div>
                <div class="card-body p-9 pt-3">
                    <div class="mb-10">
                        <div class="fv-row mb-10">
                            <!--end::Label-->
                            <label class="form-label required">Fichier de demande d'aggrément d'activités</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input name="note_file_conpect" type="file" class="form-control form-control-lg form-control-solid" value="" />
                           
                            <!--end::Input-->
                        </div>
                    </div>
                    <div class="mb-10 text-center">
                        <button class="btn btn-success">Envoyer</button>
                    </div>
                </div>
                    <!--end::Files-->
                    <div class="card-body p-9 pt-3">
                        <div class="mb-10">
                            <div class="fv-row mb-10">
                                <!--end::Label-->
                                <label class="form-label required">Rapport de validation d'activité</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input name="note_file_conpect" type="file" class="form-control form-control-lg form-control-solid" value="" />
                               
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="mb-10 text-center">
                            <button class="btn btn-success">Envoyer</button>
                        </div>
                    </div>
                    <div class="card-body p-9 pt-3">
                        <div class="mb-10">
                            <div class="fv-row mb-10">
                                <!--end::Label-->
                                <label class="form-label required">Rapport de vérification </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input name="note_file_conpect" type="file" class="form-control form-control-lg form-control-solid" value="" />
                               
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="mb-10 text-center">
                            <button class="btn btn-success">Envoyer</button>
                        </div>
                    </div>
                    <!--begin::Notice-->
                    
                    <!--end::Notice-->
            </div>
        </div>
    </div>
        <!-- Transaction -->
        <!-- Action -->
</div>
