<div class="container-fluid mt-15 mb-15">
    <div class="row mt-20">

        <div class="col-lg-8 offset-lg-2">
            <div class="m-0">
                <!--begin::Heading-->
                <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_1">
                   
                    <!--begin::Title-->
                    <h4 class="text-gray-700 fw-bold cursor-pointer mb-0" style="width: 90%;">C'est quoi un registre carbone?</h4>
                    <!--end::Title-->
                     <!--begin::Icon-->
                     <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5" style="width:10%;">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
                        <span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon toggle-off svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Icon-->
                </div>
                <!--end::Heading-->
                <!--begin::Body-->
                <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
                    <!--begin::Text-->
                    <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10"> Un registre carbone, ou carnet carbone, est un outil utilisé pour suivre et enregistrer les émissions de dioxyde de carbone (CO2) produites par une organisation, une entreprise ou même un individu. C'est un élément clé de la gestion des émissions de carbone et de la réduction de l'empreinte carbone. En tenant un registre carbone, on peut identifier les sources d'émissions de carbone et mettre en place des mesures pour les réduire. Cela peut contribuer à la lutte contre le changement climatique en réduisant les émissions de gaz à effet de serre.</div>
                    <!--end::Text-->
                </div>
                <!--end::Content-->
                <!--begin::Separator-->
                <div class="separator separator-dashed"></div>
                <!--end::Separator-->
            </div>
            <!--begin::Section-->
            <div class="m-0">
                                                        <!--begin::Heading-->
                                                        <div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_2">
<!--begin::Title-->
<h4 class="text-gray-700 fw-bold cursor-pointer mb-0" style="width: 90%;">le registre est t-il transparent?</h4>
<!--end::Title-->
                                                            <!--begin::Icon-->
                                                            <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5" style="width: 10%;">
                                                                <!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
                                                                <span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
                                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                                                        <rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                                                    </svg>
                                                                </span>
                                                                <!--end::Svg Icon-->
                                                                <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                                                                <span class="svg-icon toggle-off svg-icon-1">
                                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                                                        <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                                                        <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                                                    </svg>
                                                                </span>
                                                                <!--end::Svg Icon-->
                                                            </div>
                                                            <!--end::Icon-->
                                                            
                                                        </div>
                                                        <!--end::Heading-->
                                                        <!--begin::Body-->
                                                        <div id="kt_job_4_2" class="collapse fs-6 ms-1">
                                                            <!--begin::Text-->
                                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                                                                Notre engagement envers la réduction des émissions de carbone repose sur une base de transparence rigoureuse, reflétée dans la gestion de notre registre carbone. Nous croyons fermement que la transparence est essentielle pour assurer la crédibilité de nos efforts et pour favoriser la confiance de toutes les parties prenantes concernées.

                                                            </div>
                                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                                                                
                                                                <b>Collecte de données précise</b>   : Nous nous engageons à collecter des données précises et complètes sur nos émissions de dioxyde de carbone. Notre processus de collecte de données est transparent et documenté, utilisant des méthodologies reconnues et des outils de mesure fiables pour garantir l'exactitude de nos enregistrements.
                                                            </div>
                                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                                                                
                                                                <b>Déclaration complète des sources d'émissions</b>    : Notre registre carbone inclut une déclaration complète des sources spécifiques de nos émissions de carbone. Nous identifions et catégorisons clairement chaque source, qu'il s'agisse des émissions directes de nos installations ou des émissions indirectes associées à nos activités, telles que les déplacements professionnels ou l'approvisionnement en électricité.
                                                            </div>
                                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                                                              <b>Mesures de réduction transparentes </b>  : Nous documentons également de manière transparente les mesures que nous prenons pour réduire nos émissions de carbone. Chaque action de réduction est enregistrée, accompagnée d'une explication claire de son impact attendu sur nos émissions totales. De cette manière, nous rendons compte de nos progrès et de nos résultats en matière de réduction des émissions.
                                                            </div>
                                                            <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">
                                                              <b>Accessibilité et communication ouverte </b>  : Enfin, nous nous engageons à rendre notre registre carbone accessible à toutes les parties prenantes intéressées. Nous favorisons une communication ouverte et transparente sur nos efforts de gestion des émissions de carbone, fournissant des informations claires et accessibles sur nos objectifs, nos stratégies et nos résultats.
                                                            </div>
                                                            <!--end::Text-->
                                                        </div>
                                                        <!--end::Content-->
                                                        <!--begin::Separator-->
                                                        <div class="separator separator-dashed"></div>
                                                        <!--end::Separator-->
            </div>
            <!--end::Section-->
        </div>
    </div>
</div>