<style>
    .bg-s-1{
        background-image: url('ext/image/clouds-cloud-svgrepo-com.svg');
        background-size: 100px; 
        background-position: 30% 5%;
    }
    .cloud_elt_1{
        background-image: url('ext/image/clouds-cloud-svgrepo-com.svg');
        background-size: 100px; 
        background-repeat: no-repeat;
        background-position: 0% 60%;
        top:-5%;
        height: 70px;
        position:relative
    }
    .cloud_elt_2{
        background-image: url('ext/image/clouds-cloud-svgrepo-com.svg');
        background-size: 150px; 
        background-repeat: no-repeat;
        background-position: 40% 60%;
        top:-40%;
        height: 100px;
        position:relative
    }
    .cloud_elt_4{
        background-image: url('ext/image/clouds-cloud-svgrepo-com.svg');
        background-size: 50px; 
        background-repeat: no-repeat;
        background-position: 10% 60%;
        top:-75%;
        height: 100px;
        position:relative
    }

</style>
<div class="mb-0 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom bg-s-1 bg-s-2" style="background-color:#244035;">

    <div class="d-flex flex-column mt-lg-20 w-100 min-h-350px min-h-lg-500px px-9 pb-15">
        <div class="row">
            <div class="col-lg-6 d-flex flex-center flex-column">
                <span style="font-size: 36px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">Quelques statistiques des programmes et <br>
                    <span style="background-color:orange;font-weight: 800; ;font-size: 35px; font-family: 'Montserrat', sans-serif;" class="text-white">résultat d'atténuation. </span></span> 
                
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <!-- El -->
                    <div class="col-lg-4 mt-2 mb-2">
                        <div class="card" style="background-color: #009E60; height: 290px; width: 214px;">
                         
                            <div class="card-body text-center " style="height: 100%; " >
                                <div style="height: 70%;">
                                    <div class="d-flex flex-center" style="height: 80%;  background-color: #244035; border-radius: 50%;">
                                   
                                        <img src="ext/image/to-be-published-svgrepo-com.svg"  style="height: 70px;" alt="" srcset="">
                                    </div><br>
                                </div>
                                
                                <div style="height: 30%;" class="pt-5">
                                    <span style="font-size: 18px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">ITMO émis</span> <br>
                                    <span style="font-size: 40px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">354</span>
                                </div>
                               
                              
                               
                            </div>
                        </div>
                    </div>
                     <!-- El -->
                     <!-- El -->
                    <div class="col-lg-4 mt-2 mb-2">
                        <div class="card" style="background-color: #009E60; height: 290px; width: 214px;">
                         
                            <div class="card-body text-center " style="height: 100%; " >
                                <div style="height: 70%;">
                                    <div class="d-flex flex-center" style="height: 80%;  background-color: #244035; border-radius: 50%;">
                                        
                                        <img src="ext/image/send-svgrepo-com.svg"  style="height: 70px;" alt="" srcset="">
                                    </div><br>
                                </div>
                                
                                <div style="height: 30%;" class="pt-5">
                                    <span style="font-size: 16px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">ITMO Transférés</span> <br>
                                    <span style="font-size: 40px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">354</span>
                                </div>
                               
                              
                               
                            </div>
                        </div>
                    </div>
                     <!-- El -->
                     <!-- El -->
                    <div class="col-lg-4 mt-2 mb-2">
                        <div class="card" style="background-color: #009E60; height: 290px; width: 214px;">
                         
                            <div class="card-body text-center " style="height: 100%; " >
                                <div style="height: 70%;">
                                    <div class="d-flex flex-center" style="height: 80%;  background-color: #244035; border-radius: 50%;">
                                       
                                        <img src="ext/image/in-progress-svgrepo-com(1).svg"  style="height: 70px;" alt="" srcset=""> 
                                    </div><br>
                                </div>
                                
                                <div style="height: 30%;" class="pt-5">
                                    <span style="font-size: 18px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">ITMO en cours</span> <br>
                                    <span style="font-size: 40px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">354</span>
                                </div>
                               
                              
                               
                            </div>
                        </div>
                    </div>
                     <!-- El -->
                     <!-- El -->
                    <div class="col-lg-4 mt-2 mb-2">
                        <div class="card" style="background-color: #009E60; height: 290px; width: 214px;">
                         
                            <div class="card-body text-center " style="height: 100%; " >
                                <div style="height: 70%;">
                                    <div class="d-flex flex-center" style="height: 80%;  background-color: #244035; border-radius: 50%;">
                                        <img src="ext/image/cancelled-svgrepo-com.svg"  style="height: 70px;" alt="" srcset=""> 
                                    </div><br>
                                </div>
                                
                                <div style="height: 30%;" class="pt-5">
                                    <span style="font-size: 18px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">ITMO annulés</span> <br>
                                    <span style="font-size: 40px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">354</span>
                                </div>
                               
                              
                               
                            </div>
                        </div>
                    </div>
                     <!-- El -->
                     <!-- El -->
                    <div class="col-lg-4 mt-2 mb-2">
                        <div class="card" style="background-color: #009E60; height: 290px; width: 214px;">
                         
                            <div class="card-body text-center " style="height: 100%; " >
                                <div style="height: 70%;">
                                    <div class="d-flex flex-center" style="height: 80%;  background-color: #244035; border-radius: 50%;">
                                        <img src="ext/image/ok-circle-filled-svgrepo-com.svg"  style="height: 70px;" alt="" srcset=""> 
                                    </div><br>
                                </div>
                                
                                <div style="height: 30%;" class="">
                                    <span style="font-size: 15px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">ITMO prêt pour autorisation</span> <br>
                                    <span style="font-size: 40px; font-weight: 800; font-family: 'Montserrat', sans-serif;" class="text-white">354</span>
                                </div>
                               
                              
                               
                            </div>
                        </div>
                    </div>
                     <!-- El -->
                </div>
            </div>
        </div>

    </div>
    <div class="cloud_elt_1">
        
    </div>
    <div class="cloud_elt_2">
        
    </div>
    <div class="cloud_elt_4">
        
    </div>
    
</div>
<!-- Section -->
<div class="mb-0 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom " >
    <div class="d-flex flex-column mt-lg-20 w-100 min-h-350px min-h-lg-500px px-9 pb-15">
        <div class="row">
            <div class="col-lg-4">
                <span style="font-size: 36px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                    Qui peut participer au registre ?
                </span> <br>
                <span style="font-size: 20px; font-weight: 500; font-family: 'Montserrat', sans-serif;">
                    Les acteurs du registre
                </span>

                
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <!-- ELT -->
                    <div class="col-lg-4">
                        <div class="card shadow-sm ">
                            <div class="card-head text-center p-2">
                                <span style="font-size: 25px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                                    Organisation
                                </span>
                            </div>
                            <div class="card-body">
                                <p>
                                    lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sitlorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit
                                </p>
                            </div>
                            <div class="card-body" style="width: 100%;">
                               <a href="" class="badge badge_sp badge-success" style="width: 100%; height: 30px!important;">
                                <span > <span >En savoir plus</span> <span style="margin-left: 100px;"><i class="fa-solid fa-circle-right" style="color: black;"></i></span>   
                               </a>
                                
                            </div>
                        </div>
                    </div>
                     <!-- ELT -->
                      <!-- ELT -->
                    <div class="col-lg-4">
                        <div class="card shadow-sm ">
                            <div class="card-head text-center p-2">
                                <span style="font-size: 25px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                                    Gouvernement
                                </span>
                            </div>
                            <div class="card-body">
                                <p>
                                    lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sitlorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit
                                </p>
                            </div>
                            <div class="card-body" style="width: 100%;">
                               <a href="" class="badge badge_sp badge-success" style="width: 100%; height: 30px!important;">
                                <span > <span >En savoir plus</span> <span style="margin-left: 100px;"><i class="fa-solid fa-circle-right" style="color: black;"></i></span>   
                               </a>
                                
                            </div>
                        </div>
                    </div>
                     <!-- ELT -->
                      <!-- ELT -->
                    <div class="col-lg-4">
                        <div class="card shadow-sm ">
                            <div class="card-head text-center p-2">
                                <span style="font-size: 25px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                                    Entreprise
                                </span>
                            </div>
                            <div class="card-body">
                                <p>
                                    lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sitlorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit lorem ipsum dolor sit
                                </p>
                            </div>
                            <div class="card-body" style="width: 100%;">
                               <a href="" class="badge badge_sp badge-success" style="width: 100%; height: 30px!important;">
                                <span > <span >En savoir plus</span> <span style="margin-left: 100px;"><i class="fa-solid fa-circle-right" style="color: black;"></i></span>   
                               </a>
                                
                            </div>
                        </div>
                    </div>
                     <!-- ELT -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section -->
<!-- Section -->
<div class="mb-0 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom" >
    <div class="d-flex flex-column mt-lg-20 w-100 min-h-350px min-h-lg-500px px-9 pb-15">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span style="font-size: 36px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                    Nos résultats en chiffre
                </span>
            </div>
        </div>
        <div class="row " style="margin-top: 10%;">
            <div class="col-lg-12">
                <div class="card shadow-sm" style="border-radius: 25px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <span style="font-size: 50px; font-weight: 700; font-family: 'Montserrat', sans-serif; color:#009E60;">2</span> <br>
                                <span style="font-size: 20px; font-weight: 700; font-family: 'Montserrat', sans-serif;" class="t">Programmes</span>
                            </div>
                            <div class="col-lg-2 text-center">
                                <span style="font-size: 50px; font-weight: 700; font-family: 'Montserrat', sans-serif; color:#009E60;">94</span> <br>
                                <span style="font-size: 20px; font-weight: 700; font-family: 'Montserrat', sans-serif;" class="t">Projets</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <span style="font-size: 50px; font-weight: 700; font-family: 'Montserrat', sans-serif; color:#009E60;">500K</span> <br>
                                <span style="font-size: 20px; font-weight: 700; font-family: 'Montserrat', sans-serif;" class="t">t C02-e impact</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <span style="font-size: 50px; font-weight: 700; font-family: 'Montserrat', sans-serif; color:#009E60;">10M+</span> <br>
                                <span style="font-size: 20px; font-weight: 700; font-family: 'Montserrat', sans-serif;" class="t">t CO2-e dans le pipelin</span>
                            </div>
                            <div class="col-lg-2 text-center">
                                <span style="font-size: 50px; font-weight: 700; font-family: 'Montserrat', sans-serif; color:#009E60;">16</span> <br>
                                <span style="font-size: 20px; font-weight: 700; font-family: 'Montserrat', sans-serif;" class="t">Secteurs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section -->
<!-- Section -->
<div class="mb-0 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom " >
    <div class="d-flex flex-column mt-lg-20 w-100 min-h-350px min-h-lg-500px px-9 pb-15">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span style="font-size: 36px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                    Questions fréquemment posées
                </span>
            </div>
        </div>
        <div class="row mt-20">

            <div class="col-lg-8 offset-lg-2">
                <div class="m-0">
                    <!--begin::Heading-->
                    <div class="d-flex align-items-center collapsible py-3 toggle mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_1">
                       
                        <!--begin::Title-->
                        <h4 class="text-gray-700 fw-bold cursor-pointer mb-0" style="width: 90%;">How does it work?</h4>
                        <!--end::Title-->
                         <!--begin::Icon-->
                         <div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5" style="width:10%;">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
                            <span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                    <rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                            <span class="svg-icon toggle-off svg-icon-1">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                    <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                    <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Icon-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Body-->
                    <div id="kt_job_4_1" class="collapse show fs-6 ms-1">
                        <!--begin::Text-->
                        <div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
                        <!--end::Text-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed"></div>
                    <!--end::Separator-->
                </div>
                <!--begin::Section-->
				<div class="m-0">
															<!--begin::Heading-->
															<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0" data-bs-toggle="collapse" data-bs-target="#kt_job_4_2">
<!--begin::Title-->
<h4 class="text-gray-700 fw-bold cursor-pointer mb-0" style="width: 90%;">Do I need a designer to use Admin Theme ?</h4>
<!--end::Title-->
                                                                <!--begin::Icon-->
																<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5" style="width: 10%;">
																	<!--begin::Svg Icon | path: icons/duotune/general/gen036.svg-->
																	<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																	<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
																	<span class="svg-icon toggle-off svg-icon-1">
																		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																			<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																			<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
																			<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
																		</svg>
																	</span>
																	<!--end::Svg Icon-->
																</div>
																<!--end::Icon-->
																
															</div>
															<!--end::Heading-->
															<!--begin::Body-->
															<div id="kt_job_4_2" class="collapse fs-6 ms-1">
																<!--begin::Text-->
																<div class="mb-4 text-gray-600 fw-semibold fs-6 ps-10">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</div>
																<!--end::Text-->
															</div>
															<!--end::Content-->
															<!--begin::Separator-->
															<div class="separator separator-dashed"></div>
															<!--end::Separator-->
				</div>
				<!--end::Section-->
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <div class="col-lg-6">
                        <span style="font-size: 15px; font-weight: 800; font-family: 'Montserrat', sans-serif; ">As-tu plus de questions ?</span> <br>
                        <span style="font-size: 15px; font-weight: 500; font-family: 'Montserrat', sans-serif;" class="t">Accéder à notre page foire aux questions ou envoyez nous directement vos questions</span>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-end">
                        <a href="" class="btn btn-sm btn-success m-2" style="height: 40px;">FAQ</a>
                        <a href="" class="btn btn-sm btn-dark m-2" style="height: 40px;">Contactez-nous</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Section -->
<!-- Section -->
<div class="mb-0 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom " >
    <div class="d-flex flex-column mt-lg-20 w-100 min-h-350px min-h-lg-500px px-9 pb-15">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span style="font-size: 36px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                    Projets récents
                </span> <br>
                <a href="#" style="font-size: 15px; font-weight: 800; font-family: 'Montserrat', sans-serif; color:#009E60">voir tous les projets ></a>
            </div>
        </div>
        <div class="row mt-20">

            <div class="col-lg-3 ">
                <div class="card shadow-sm" style="width: 266px;height: 362px; background: url('assets/media/auth/bg5.jpg');background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;">
                    <div class="card-body" style="height: 40%;">
                        <span class="badge badge_sp badge-primary" style="font-size: 20px; font-weight: 500; font-family: 'Montserrat', sans-serif;">Global invest</span>
                    </div>
                   
                    <div class="card-body" style="height: 40%;">
                        <span class="text-white" style="font-size: 20px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                            Projet A
                        </span> <br>

                        <span class="text-white" style="font-size: 10px; font-weight: 500; font-family: 'Montserrat', sans-serif;">
                            Projet de réboisement 
                        </span><br>
                        <div>
                            <span class="badge badge-secondary">A</span>  <span class="badge badge-primary">A</span> <span class="badge badge-danger">A</span>
                        </div>

                        <span class="text-white" style="font-size: 12px; font-weight: 500; font-family: 'Montserrat', sans-serif;">
                            HNE Atténuations annuelles : <b>89504 CO2T</b> 
                        </span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section -->
<!-- Section -->
<div class="mb-0 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom " >
    <div class="d-flex flex-column mt-lg-20 w-100 min-h-350px min-h-lg-500px px-9 pb-15">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span style="font-size: 36px; font-weight: 800; font-family: 'Montserrat', sans-serif;">
                    Nos partenaires
                </span> <br>
                
            </div>
        </div>
        <div class="row mt-20">

            <div class="col-lg-2">
                <img src="ext/partenaire/UNDP-logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
                <img src="ext/partenaire/UNDP-logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
                <img src="ext/partenaire/UNDP-logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
                <img src="ext/partenaire/UNDP-logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
                <img src="ext/partenaire/UNDP-logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
                <img src="ext/partenaire/UNDP-logo.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Section -->