<div class="container mt-15 mb-15">
    <div class="row mb-5 card pt-10 pb-10" style="background-color: #F77F00;">
        <div class="col-lg-6 offset-lg-3 ">
            <div class="input-group mb-5">
                <span class="input-group-text bg-success text-white"  id="basic-addon3">IDRC</span>
                <input type="text" value="<%=idrc%>" class="form-control" id="basic-idrc" placeholder="Entrer le numéro d'authentification">
            </div>
        </div>
      
    </div>
    <div class="row mt-10" id="document_zone">
        <div class="col-lg-6 offset-lg-3">
            <!--begin::Alert-->
            <div class="alert alert-info d-flex align-items-center p-5">
                <!--begin::Icon-->
                <svg class="me-4" style="height: 60px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#18dc53"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 8L12 12" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 16.01L12.01 15.9989" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 3H4V6" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 11V13" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M20 11V13" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M15 3H20V6" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 21H4V18" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M15 21H20V18" stroke="#095325" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                
                <!--end::Icon-->

                <!--begin::Wrapper-->
                <div class="d-flex flex-column">
                    <!--begin::Title-->
                    <h4 class="mb-1 text-dark">Entrer le numéro d'authentification du document</h4>
                    <!--end::Title-->

                    <!--begin::Content-->
                    <span>La vérification se ferra de manière automatique</span>
                    <!--end::Content-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Alert-->
        </div>
    </div>
</div>

