.login {

  background: url(../../../assets/img/cc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .card{
    background: #000000;
    border: none;

    h5{
        color: white;
    }

    p{
        color: #e8eef3 !important;
    }
  }

  .card-side-style {
    max-width: 15% !important;
    margin-bottom: -1rem;
    margin-top: -1rem;
  }

  .error-text {
    color: red;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
