@import '../Common/colors.addUser.scss';

.create-user-container {
  padding: 2vw 0vw;
  .ant-row {
    margin-bottom: 0.5vw;
  }
  .create-user-btn-container {
    margin-top: 1.5vw;
    margin-bottom: 0;
    .ant-btn-primary {
      background-color: $common-form-red;
      color: $common-form-white;
      font-family: 'Inter-Regular';
      border: none;
      height: 3.5vw;
      font-size: 1.2vw;
      border-radius: 0.3vw;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    }
  }
  .create-user-image-upload {
    display: flex;
    flex-direction: row;
    // flex: 1;
    align-items: center;
    .create-user-image-upload-label {
      margin-right: 2vw;
      .create-user-image-upload-txt {
        font-family: 'Inter-Regular';
        font-size: 1.1vw;
      }
    }
    .create-user-image-upload-btn-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .create-user-image-upload-btn {
        margin-right: 1vw;
      }
      .create-user-image-upload-error-txt {
        font-family: 'Inter-Regular';
        font-size: 1vw;
        color: #ff4d4f;
      }
    }
  }
}
