@import '../../Pages/Common/colors.dashboard.scss';

.stastic-card-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 170px;
  border-radius: 10px;
  padding: 20px 30px 20px 30px;

  .value-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter-Regular';
    font-size: 3.5rem;
    font-weight: 600;
    color: $card-value;
    width: 100%;
    height: 40%;
  }

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter-Regular';
    line-height: 1.1;
    font-size: 1.1rem;
    color: $card-value;
    width: 100%;
    height: 40%;
  }

  .last-update-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Inter-Regular';
    font-size: 0.8rem;
    color: $card-value;
    width: 100%;
    height: 20%;
  }
}

.stastic-card-main-container:hover {
  box-shadow: rgba(0, 5, 18, 0.2) 0px 8px 24px;
}
