.mat-tab-group {
    padding: 15px !important;
    width: 100% !important;
}

::ng-deep.mat-tab-body-wrapper {
    margin-top: 20px !important;
}

.m-b-3 {
    margin-bottom: 3%;
}

.mat-header-cell {
    font-size: 10px;
    font-weight: 800;
    color: black !important;
    margin-right: 5px;
    mat-form-field {
        max-width: 130px;
    }
}

// .card-header {
//     width: fit-content;
// }
.card-body {
    overflow-x: scroll;
}

.mat-row {
    margin-top: 10px;
}

mat-cell {
    mat-form-field {
        width: 220px;
        font-size: 10px;
    }
}
.sm-input{
    mat-form-field {
        width: 150px !important;
    }  
}

.checkbox-selection{
    padding-left: 30px;
    max-width: 90px;
    margin-left: 0;
}

mat-icon:hover {
    color: red !important;
    cursor: pointer;
}

.mat-table {
    width: fit-content;
}

.mat-icon {
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

.m-t-5 {
    margin-top: 5px;
}

::ng-deep.snackbar-global {
    margin-top: 70px !important;
}