.company-details-form-container {
  width: 100%;

  .company-details-form {
    .row {
      .details-part-one {
      }
      .details-part-two {
        .role-group {
          .dev {
            width: 40% !important;
          }
          .role-icons {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
