.company-details-form-container {
  width: 100%;

  .company-details-form {
    .steps-actions {
      display: flex;
      flex-direction: row-reverse;
      .mg-left-1 {
        margin-left: 1rem;
      }
    }
    .row {
      .details-part-one {
      }
      .details-part-two {
        .role-group {
          .dev {
            width: 40% !important;
          }
          .role-icons {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
