<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic | Bootstrap HTML, VueJS, React, Angular, Asp.Net Core, Rails, Spring, Blazor, Django, Flask & Laravel Admin Dashboard Theme 
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	
<!-- Mirrored from preview.keenthemes.com/metronic8/demo1/apps/subscriptions/view.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Oct 2022 00:20:45 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
		<title>Metronic - the world's #1 selling Bootstrap Admin Theme Ecosystem for HTML, Vue, React, Angular & Laravel by Keenthemes</title>
		<meta charset="utf-8" />
		<meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Flask & Laravel versions. Grab your copy now and get life-time updates for free." />
		<meta name="keywords" content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Flask & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="fr_FR" />
		<meta property="og:type" content="registre" />
		<meta property="og:title" content="Metronic | Bootstrap HTML, VueJS, React, Angular, Asp.Net Core, Rails, Spring, Blazor, Django, Flask & Laravel Admin Dashboard Theme" />

		<meta property="og:site_name" content="Régistre carbone | Côte d'Ivoire" />
		
		<link rel="shortcut icon" href="../../assets/media/logos/favicon.ico" />
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Vendor Stylesheets(used for this page only)-->
		<link href="../../assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="../../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="../../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
		<!--Begin::Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '../../../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5FS8GGP');</script>
		<!--End::Google Tag Manager -->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getItem("data-theme") !== null ) { themeMode = localStorage.getItem("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--Begin::Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!--End::Google Tag Manager (noscript) -->
		<!--begin::App-->

					
					<!--end::Sidebar-->
					<!--begin::Main-->
					<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
						<!--begin::Content wrapper-->
						<div class="d-flex flex-column flex-column-fluid">
							<!--begin::Toolbar-->
							<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
								<!--begin::Toolbar container-->
								<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
									<!--begin::Page title-->
									<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
										<!--begin::Title-->
										<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Détail workflow</h1>
										<!--end::Title-->
										<!--begin::Breadcrumb-->
										<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
											<!--begin::Item-->
											<li class="breadcrumb-item text-muted">
												<a href="#" class="text-muted text-hover-primary">Workflow</a>
											</li>
											<!--end::Item-->
											<!--begin::Item-->
											<li class="breadcrumb-item">
												<span class="bullet bg-gray-400 w-5px h-2px"></span>
											</li>
											<!--end::Item-->
											<!--begin::Item-->
											<li class="breadcrumb-item text-muted">Detail</li>
											<!--end::Item-->
										</ul>
										<!--end::Breadcrumb-->
									</div>
									<!--end::Page title-->
									<!--begin::Actions-->
									
									<!--end::Actions-->
								</div>
								<!--end::Toolbar container-->
							</div>
							<!--end::Toolbar-->
							<!--begin::Content-->
							<div id="kt_app_content" class="app-content flex-column-fluid">
								<!--begin::Content container-->
								<div id="kt_app_content_container" class="app-container container-xxl">
									<!--begin::Layout-->
									<div class="d-flex flex-column flex-lg-row">
										<!--begin::Content-->
										<div class="flex-lg-row-fluid me-lg-15 order-2 order-lg-1 mb-10 mb-lg-0">
											<!--begin::Card-->
											<div class="card card-flush pt-3 mb-5 mb-xl-10">
												<!--begin::Card header-->
												<div class="card-header">
													<!--begin::Card title-->
													<div class="card-title">
														<h2 class="fw-bold">Détail de la lettre</h2>
													</div>
													<!--begin::Card title-->
													<!--begin::Card toolbar-->
													<div class="card-toolbar">
														<a href="#" target="_blank" class="btn btn-light-primary">Voir la lettre</a>
													</div>
													<!--end::Card toolbar-->
												</div>
												<!--end::Card header-->
												<!--begin::Card body-->
												<div class="card-body pt-3">
													<!--begin::Section-->
													<div class="mb-10">
														<!--begin::Title-->
														<h5 class="mb-4">Information générale:</h5>
														<!--end::Title-->
														<!--begin::Details-->
														<div class="d-flex flex-wrap py-5">
															<!--begin::Row-->
															<div class="flex-equal me-5">
																<!--begin::Details-->
																<table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400 min-w-175px w-175px">Bill to:</td>
																		<td class="text-gray-800 min-w-200px">
																			<a href="../../pages/apps/customers/view.html" class="text-gray-800 text-hover-primary">smith@kpmg.com</a>
																		</td>
																	</tr>
																	<!--end::Row-->
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400">Customer Name:</td>
																		<td class="text-gray-800">Emma Smith</td>
																	</tr>
																	<!--end::Row-->
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400">Address:</td>
																		<td class="text-gray-800">Floor 10, 101 Avenue of the Light Square, New York, NY, 10050.</td>
																	</tr>
																	<!--end::Row-->
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400">Phone:</td>
																		<td class="text-gray-800">(555) 555-1234</td>
																	</tr>
																	<!--end::Row-->
																</table>
																<!--end::Details-->
															</div>
															<!--end::Row-->
															<!--begin::Row-->
															<div class="flex-equal">
																<!--begin::Details-->
																<table class="table fs-6 fw-semibold gs-0 gy-2 gx-2 m-0">
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400 min-w-175px w-175px">Subscribed Product:</td>
																		<td class="text-gray-800 min-w-200px">
																			<a href="#" class="text-gray-800 text-hover-primary">Basic Bundle</a>
																		</td>
																	</tr>
																	<!--end::Row-->
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400">Subscription Fees:</td>
																		<td class="text-gray-800">$149.99 / Year</td>
																	</tr>
																	<!--end::Row-->
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400">Billing method:</td>
																		<td class="text-gray-800">Annually</td>
																	</tr>
																	<!--end::Row-->
																	<!--begin::Row-->
																	<tr>
																		<td class="text-gray-400">Currency:</td>
																		<td class="text-gray-800">USD - US Dollar</td>
																	</tr>
																	<!--end::Row-->
																</table>
																<!--end::Details-->
															</div>
															<!--end::Row-->
														</div>
														<!--end::Row-->
													</div>
													<!--end::Section-->
													<!--begin::Section-->
													
													<!--end::Section-->
												</div>
												<!--end::Card body-->
											</div>
											<!--end::Card-->
											<div class="card card-flush pt-3 mb-5 mb-xl-10">
												<!--begin::Card header-->
												<div class="card-header">
													<!--begin::Card title-->
													<div class="card-title">
														<h2 class="fw-bold">Détail de la lettre</h2>
													</div>
													<!--begin::Card title-->
													<!--begin::Card toolbar-->
													<div class="card-toolbar">
														<a href="#" target="_blank" class="btn btn-light-primary">Voir la lettre</a>
													</div>
													<!--end::Card toolbar-->
												</div>
												<!--end::Card header-->
												<!--begin::Card body-->
												<div class="card-body pt-3">
													<!--begin::Section-->
                                                    <iframe src="/register-1715346772973-Guide d'utilisation.pdf" width="100%" height="600px"></iframe>
													<!--end::Section-->
													<!--begin::Section-->
													
													<!--end::Section-->
												</div>
												<!--end::Card body-->
											</div>
                                            <!--end::Card body-->
										</div>
										<!--end::Content-->
										<!--begin::Sidebar-->
										<div class="flex-column flex-lg-row-auto w-lg-350px w-xl-350px mb-10 order-1 order-lg-2">
											
                                            <!--begin::Card-->
											<div class="card card-flush mb-0" data-kt-sticky="true" data-kt-sticky-name="subscription-summary" data-kt-sticky-offset="{default: false, lg: '350px'}" data-kt-sticky-width="{lg: '350px', xl: '350px'}" data-kt-sticky-left="auto" data-kt-sticky-top="150px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
												<!--begin::Card header-->
                                                <div class="card-header">
													<!--begin::Card title-->
													<div class="card-title">
														<h2>Signature</h2>
													</div>
													<!--end::Card title-->
													<!--begin::Card toolbar-->
												
													<!--end::Card toolbar-->
												</div>
                                                <div class="card-body bg-dark" >
                                                    <div id="signature-pad" class="signature-pad">
                                                        <div id="canvas-wrapper" class="signature-pad--body">
                                                        <canvas></canvas>
                                                        </div>
                                                        <div class="signature-pad--footer">
                                                        <div class="description text-white text-center">Signer au dessus</div>

                                                        <div class="signature-pad--actions text-center">
                                                            <div class="column">
                                                            <button type="button" class="button clear btn btn-danger btn-sm" data-action="clear" >Effacer</button>
                                                            <button type="button" class="button btn btn-warning btn-sm" data-action="undo" title="Ctrl-Z"><-</button>
                                                            <!--  <button type="button" class="button" data-action="redo" title="Ctrl-Y">Redo</button>
                                                             <br/>
                                                            <button type="button" class="button" data-action="change-color">Change color</button>
                                                             <button type="button" class="button" data-action="change-width">Change width</button>
                                                            <button type="button" class="button" data-action="change-background-color">Change background color</button>
                                                        -->
                                                            </div>
                                                            <!--  <div class="column">
                                                            <button type="button" class="button save" data-action="save-png">Save as PNG</button>
                                                            <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
                                                            <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
                                                            <button type="button" class="button save" data-action="save-svg-with-background">Save as SVG with
                                                                background</button>
                                                            </div> -->
                                                        </div>

                                                        <!--<div>
                                                            <button type="button" class="button" data-action="open-in-window">Open in Window</button>
                                                        </div> -->
                                                        </div>
                                                    </div>
                                                </div>
												<div class="card-header">
													<!--begin::Card title-->
													<div class="card-title">
														<h2>Action</h2>
													</div>
													<!--end::Card title-->
													<!--begin::Card toolbar-->
												
													<!--end::Card toolbar-->
												</div>
												<!--end::Card header-->
												<!--begin::Card body-->
												<div class="card-body pt-0 fs-6 text-center">
													<!--begin::Section-->
													
													<!--end::Section-->
													<!--begin::Seperator-->
													<div class="separator separator-dashed mb-7"></div>
													<!--end::Seperator-->
													<!--begin::Section-->
                                                    <div class="mb-2">
														<a  class="btn btn-success btn-sm" id="r_approuve">Approuver</a>
													</div>
													<!--end::Section-->
													<!--begin::Seperator-->
													<div class="separator separator-dashed mb-7"></div>
													<!--end::Seperator-->
													<!--begin::Section-->
											
														<!--begin::Title-->
													<div class="mb-3">
														<a class="btn btn-danger btn-sm" id="r_refuser">Refuser</a>
													</div>
														<!--end::Details-->
												
													<!--end::Section-->
													<!--begin::Seperator-->
													<div class="separator separator-dashed mb-7"></div>
													<!--end::Seperator-->
													<!--begin::Section-->
												
													<!--end::Section-->
													<!--begin::Actions-->
													<div class="mb-3">
														<a  class="btn btn-warning btn-sm" id="r_reouvrir">Reouvrir</a>
													</div>
													<!--end::Actions-->
												</div>
												<!--end::Card body-->
											</div>
											<!--end::Card-->
										</div>
										<!--end::Sidebar-->
									</div>
									<!--end::Layout-->
								</div>
								<!--end::Content container-->
							</div>
							<!--end::Content-->
						</div>
						<!--end::Content wrapper-->
						<!--begin::Footer-->
						
						<!--end::Footer-->
					</div>
				
		<!--end::App-->
		<!--begin::App layout builder-->

		<!--end::Modals-->
		<!--begin::Javascript-->
		<script>var hostUrl = "../../assets/index.html";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="../../assets/plugins/global/plugins.bundle.js"></script>
		<script src="../../assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="../../assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="../../assets/js/widgets.bundle.js"></script>
		<script src="../../assets/js/custom/widgets.js"></script>
		<script src="../../assets/js/custom/apps/chat/chat.js"></script>
		<script src="../../assets/js/custom/utilities/modals/upgrade-plan.js"></script>
		<script src="../../assets/js/custom/utilities/modals/create-app.js"></script>
		<script src="../../assets/js/custom/utilities/modals/users-search.js"></script>
        <script src="/config/request/detail.js"></script>
        <script src="/ext/signature/signature_pad.umd.min.js"></script>
        <script src="/ext/signature/save.js"></script>

		<!--end::Custom Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->

<!-- Mirrored from preview.keenthemes.com/metronic8/demo1/apps/subscriptions/view.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Oct 2022 00:20:48 GMT -->
</html>