@import '../../Styles/variables.scss';

.filter-menu-item {
  .filter-title {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}

.delete-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
  width: 100%;

  .confirm-message-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 1.3rem;
      padding: 0 1rem 0 1rem;
      text-align: center;
      color: $common-filter-color;
    }

    .sub-content {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 1.375rem;
      text-align: center;
      color: rgba(58, 53, 65, 0.5);
    }
  }

  .remarks {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;

    .ant-form-item-explain-error {
      display: flex;
      flex-direction: row;
    }

    .ant-form {
      width: 100%;
      .ant-form-item-label > label {
        font-size: 0.8rem;
      }
    }

    .delete-modal-btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;

      .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .width-60 {
        width: 60%;
      }
    }
  }
}
