@import '../Common/colors.userManagement.scss';

.userManagement-container {
  overflow: hidden;
  padding: 2vw;
  // background-color: red;
  // height: 100vh;
  overflow: initial;
  .ant-col-4 {
    .ant-btn-primary {
      background-color: $usr-mgt-btn-bg;
      color: $usr-mgt-btn-txt;
      font-family: 'Proxima-Nova-Regular';
      border: none;
      height: 3vw;
      font-size: 1.1vw;
      border-radius: 0.3vw;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    }
  }
  .ant-col-24 {
    .userManagement-table-container {
      margin-top: 3vw;
    }
  }
}
