<%- include('../partials/mini_header_account.ejs') %>
<div class="container mb-10 mt-10">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

            <div class="w-100 card shadow-sm p-10">
                <!--begin::Heading-->
               
                    <!--begin::Heading-->
                    <div class="pb-10 pb-lg-12">
                        <!--begin::Title-->
                        <h2 class="fw-bold text-dark">Votre note d'idée</h2>
                        <!--end::Title-->
                        <!--begin::Notice-->
                        <div class="text-muted fw-semibold fs-6">Si vous avez besoin de plus d’informations, s’il vous plaît vérifier 
                        <a href="#" class="link-primary fw-bold">Page d'aide</a>.</div>
                        
                        <!--end::Notice-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Input group-->
                    <div class="mb-10">
                        <!--begin::Label-->
                        <div class="row">
                            <div class="col-lg-6 fv-row">
                                <label class="form-label mb-3 required">Votre note d'idée</label>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Le nom officiel ou légal d'une organisation, utilisé dans les documents juridiques et administratifs pour l'identifier."></i></label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="file" class="form-control form-control-lg form-control-solid" name="note_idee" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <div class="col-lg-6 fv-row">
                                <label class="form-label mb-3 required">Document de conformité au critère</label>
                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Le nom officiel ou légal d'une organisation, utilisé dans les documents juridiques et administratifs pour l'identifier."></i></label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="file" class="form-control form-control-lg form-control-solid" name="doc_conformite" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                        </div>
                       
                    </div>
                    <!--begin::Input group-->
                    <!--begin::Input group-->
                    
                <div class="mb-10 text-center">
                    <button class="btn btn-success" id="eligi_create_note"> Ajouter</button>
                </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    
                    <!--end::Input group-->
                
                <!--end::Heading-->
                
        
            
            </div>
        </div>
    </div>
</div>