<div class="flex-display">
    <div style="flex: 1;" *ngIf="params.value === 'pending'" class="action-button material-icons"
        style="width: 40px; color: rgb(77, 171, 248);" (click)="approve()" title="Approve">
        done
    </div>

    <div style="flex: 1;" *ngIf="params.value === 'pending'" (click)="reject()" class="action-button material-icons"
        style="width: 40px; color: red;" title="Reject">
        cancel
    </div>

    <div style="flex: 1;width: 40px; color: rgb(77, 171, 248);" *ngIf="params.value === 'active'" (click)="update()" class="action-button material-icons"
         title="Update">
        done
    </div>

    <div style="flex: 1;" *ngIf="params.value === 'active'" (click)="delete()" class="action-button material-icons"
        style="width: 40px; color: red;" title="Delete">
        delete_outline
    </div>
</div>