@font-face {
  font-family: 'Proxima-Nova-Black';
  src: url('FontsFree-Net-Proxima-Nova-Black.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima-Nova-Bold';
  src: url('FontsFree-Net-Proxima-Nova-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sohne-Breit';
  src: url('SohneBreit-Dreiviertelfett.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima-Nova-Regular';
  src: url('FontsFree-Net-ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
