<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <!-- card header start -->
                <div class="card-header">
                    <strong>MITIGATION ACTION - PROJECT INFORMATION </strong>
                </div>
                <!-- card header end -->

                <!-- card body start -->
                <div class="card-body">
                    <!-- form start -->
                    <form [formGroup]="miForm">
                        <!-- inventry year -->
                        <mat-form-field *ngIf="!approvalScreen" class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                            <mat-label>Project *</mat-label>
                            <mat-select name="parentProject" [disabled]="approvalScreen" formControlName="parentProject" [(ngModel)]="selectedProject" (selectionChange)="onProjectSelect()">
                                <mat-option disabled>Select a Project</mat-option>
                                <mat-option *ngFor="let project of projects" [value]="project">
                                    {{project.projectId}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="miForm.controls.parentProject.errors && miForm.controls.parentProject.errors.required">Project type is required</mat-error>
                            <!-- <mat-hint class="error-snackbar" *ngIf="isInvalid(miForm, 'parentProject','required')">This field is required 
                            </mat-hint>-->
                        </mat-form-field>
                        <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline" *ngIf="approvalScreen" [ngClass]="{'disabled' : approvalScreen}">
                            <mat-label>Project Id</mat-label>
                            <input matInput formControlName="parentProject">
                        </mat-form-field>
                        <!-- form end -->


                        <div class="row m-b-3">
                            <mat-card class="place-entry">
                                <mat-horizontal-stepper [linear]="true" #stepper>
                                    <mat-step label="Project Details">
                                        <ng-template matStepLabel>Project Details</ng-template>
                                        <div class="row">
                                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Mitigation Sector</mat-label>
                                                <textarea matInput placeholder="Mitigation Sector" name="sector" formControlName="sector" disabled></textarea>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Mitigation Sub-Sector</mat-label>
                                                <textarea matInput placeholder="Mitigation Sub-Sector" name="subSector" formControlName="subSector" disabled></textarea>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Included in NDC</mat-label>
                                                <input matInput placeholder="Included in NDC" name="ndc" formControlName="ndc" disabled>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Location name</mat-label>
                                                <input matInput placeholder="Location name" name="location" formControlName="location" disabled>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Project Cost (USD)</mat-label>
                                                <input matInput numbersOnly placeholder="Project Cost (USD)" name="costAmount" formControlName="costAmount" disabled>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Source of Funding</mat-label>
                                                <input matInput placeholder="Source of Funding" name="funding" formControlName="funding" disabled>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Lifetime (years)</mat-label>
                                                <input numbersOnly matInput placeholder="Lifetime (years)" name="lifetime" formControlName="lifetime" disabled>
                                            </mat-form-field>

                                            <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Project Contributions*</mat-label>
                                                <mat-select name="contributions" formControlName="contributions" [disabled]="approvalScreen"  multiple>
                                                    <mat-option value="Economic">Economic</mat-option>
                                                    <mat-option value="Social">Social</mat-option>
                                                    <mat-option value="Environmental">Environmental</mat-option>
                                                    <mat-option value="Gender and other Vulnerable Groups">Gender and other Vulnerable Groups</mat-option>
                                                    <mat-option value="Cross Cutting">Cross Cutting</mat-option>
                                                    <mat-option value="Others">Others</mat-option>

                                                </mat-select>
                                                <mat-error *ngIf="miForm.controls.contributions.errors && miForm.controls.contributions.errors.required">Project Contributions Required</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Project Status*</mat-label>
                                                <mat-select name="projectStatus" formControlName="projectStatus" [disabled]="approvalScreen">
                                                    <mat-option>Select</mat-option>
                                                    <mat-option value="Planned">Planned</mat-option>
                                                    <mat-option value="Under Implementation">Under Implementation</mat-option>
                                                    <mat-option value="Implemented">Implemented</mat-option>
                                                    <mat-option value="Operational">Operational</mat-option>

                                                </mat-select>
                                                <mat-error *ngIf="miForm.controls.projectStatus.errors && miForm.controls.projectStatus.errors.required">Project Status is Required</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Project Beneficiaries*</mat-label>
                                                <input matInput placeholder="Project Beneficiaries" name="beneficiary" formControlName="beneficiary" [disabled]="approvalScreen">
                                                <mat-error *ngIf="miForm.controls.beneficiary.errors && miForm.controls.beneficiary.errors.required">Project Beneficiaries is Required</mat-error>
                                            </mat-form-field>


                                        </div>
                                        <div>
                                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                                        </div>
                                    </mat-step>
                                    <mat-step label="Agency Details">
                                        <ng-template matStepLabel>Agency Details</ng-template>
                                        <div class="row">
                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Implementing Agency</mat-label>
                                                <input matInput placeholder="Implementing Agency" name="agency" formControlName="agency" disabled>
                                            </mat-form-field>
                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Contact Details</mat-label>
                                                <input matInput placeholder="Contact Details" name="agencyContact" formControlName="agencyContact" [disabled]="approvalScreen">
                                            </mat-form-field>
                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Other Agency</mat-label>
                                                <input matInput placeholder="Other Party" name="otherParty" formControlName="otherParty" disabled>
                                            </mat-form-field>

                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Contact Details</mat-label>
                                                <input matInput placeholder="Contact Details" name="otherPartyContact" formControlName="otherPartyContact" [disabled]="approvalScreen">
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                                        </div>
                                    </mat-step>
                                    <mat-step label="Other Details">
                                        <ng-template matStepLabel>Other Details</ng-template>
                                        <div class="row">
                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Expected GHG Savings (tCO2e/ year) *</mat-label>
                                                <input matInput numbersOnly type="number" placeholder="Expected GHG Savings (tCO2e/ year)" name="ghgReduction" formControlName="ghgReduction" [disabled]="approvalScreen">
                                                <mat-error *ngIf="miForm.controls.ghgReduction.errors && miForm.controls.ghgReduction.errors.required">Expected GHG Savings is Required</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Target GHGs*</mat-label>
                                                <mat-select name="targetGhg" formControlName="targetGhg" multiple [disabled]="approvalScreen">
                                                    <mat-option value="CO2">CO2</mat-option>
                                                    <mat-option value="CH4">CH4</mat-option>
                                                    <mat-option value="N2O">N2O</mat-option>
                                                    <mat-option value="HFCs">HFCs</mat-option>
                                                    <mat-option value="PFCs">PFCs</mat-option>
                                                    <mat-option value="SF6">SF6</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="miForm.controls.targetGhg.errors && miForm.controls.targetGhg.errors.required">Target GHGs is Required</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Gender Inclusiveness Assessment*</mat-label>
                                                <mat-select name="genderIncl" formControlName="genderIncl" [disabled]="approvalScreen">
                                                    <mat-option>Select</mat-option>
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                    <mat-option value="Not Applicable">Not Applicable</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="miForm.controls.genderIncl.errors && miForm.controls.genderIncl.errors.required">Gender Inclusiveness Assessment is Required</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Expected Project Outputs*</mat-label>
                                                <input matInput placeholder="Expected Project Outputs" name="projectOutput" formControlName="projectOutput" [disabled]="approvalScreen">
                                                <mat-error *ngIf="miForm.controls.projectOutput.errors && miForm.controls.projectOutput.errors.required">Expected Project Outputs is Required</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-4 col-md-4 col-sm-4" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Project Impacts*</mat-label>
                                                <input matInput placeholder="Project Impacts" name="projectImpact" formControlName="projectImpact" [disabled]="approvalScreen">
                                                <mat-error *ngIf="miForm.controls.projectImpact.errors && miForm.controls.projectImpact.errors.required">Project Impacts is Required</mat-error>
                                            </mat-form-field>
                                            
                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label title="Registered With Market Based Mechanism*">Registered With Market Based Mechanism*</mat-label>
                                                <input matInput placeholder="Registered With Market Based Mechanism" name="marketMech" formControlName="marketMech" [disabled]="approvalScreen" title="Registered With Market Based Mechanism*">
                                                <mat-error *ngIf="miForm.controls.marketMech.errors && miForm.controls.marketMech.errors.required">Registered With Market is Required</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Provide Weblink</mat-label>
                                                <input matInput placeholder="Provide Weblink" name="weblink" formControlName="weblink" [disabled]="approvalScreen">
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Issuance of Carbon Benefits</mat-label>
                                                <input matInput placeholder="Issuance of Carbon Benefits" name="carbonBen" formControlName="carbonBen" [disabled]="approvalScreen">
                                            </mat-form-field>


                                            <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline" [ngClass]="{'disabled' : approvalScreen}">
                                                <mat-label>Verification Status (rounds)</mat-label>
                                                <input matInput placeholder="calculationApproach" name="verification" formControlName="verification" [disabled]="approvalScreen">
                                            </mat-form-field>
                                            <!-- <mat-form-field class="col-xs-3 col-md-3 col-sm-3" appearance="outline">
                                                <mat-label>Calculation Sheet</mat-label>
                                                <app-file-upload  *ngIf="menu" [menuId]="menu.menuId"></app-file-upload>
                                            </mat-form-field> -->
                                            <!-- <div class="card-header col-xs-6 col-md-6 col-sm-6" *ngIf="menu">
                                                <strong>Calculation Sheet</strong>
                                                <app-file-upload *ngIf="menu && selectedProject" [menuId]="menu.menuId" [dataId]="routeFormId" [projectId]="selectedProject.projectId"></app-file-upload>
                                            </div> -->
                                            
                                                
                                            <mat-card *ngIf="menu && selectedProject" class="calc">
                                                <strong class="file-upload">Calculation Sheet:</strong>
                                                <app-file-upload (fileUploadedEmit)="fileUploaded($event)" [menuId]="menu.menuId" [dataId]="routeFormId" [projectId]="selectedProject.projectId" [fieldName]="'fileCalculation'"></app-file-upload>
                                            </mat-card>
                                            
                                            

                                        </div>
                                        <div>
                                            <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                                        </div>
                                    </mat-step>
                                    <mat-step label="Timeline Details">
                                        <ng-template matStepLabel>Timeline Details</ng-template>
                                        <div class="row">
                                            <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Start Date* (DD/MM/YYYY)</mat-label>
                                                <input name="commissioningDate" formControlName="commissioningDate" matInput [matDatepicker]="picker3" disabled>
                                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                <mat-datepicker #picker3></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>End Date* (DD/MM/YYYY)</mat-label>
                                                <input name="approvalDate" formControlName="approvalDate" matInput [matDatepicker]="picker1" disabled>
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field class="col-xs-6 col-md-6 col-sm-6" appearance="outline" [ngClass]="{'disabled' : true}">
                                                <mat-label>Financial Closure Date* (DD/MM/YYYY)</mat-label>
                                                <input name="closureDate" formControlName="closureDate" matInput [matDatepicker]="picker2" disabled>
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                                            <!-- <button mat-raised-button color="primary">Submit</button> -->
                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </mat-card>
                        </div>
                    </form>

                    <div class="row m-b-3">
                        <div w-100 class="card">
                            <div class="card-header">
                                <strong>PERFORMANCE INDICATORS</strong>
                                <button mat-flat-button style="float: right;" (click)="addNewDisbursementYearRow()" *ngIf="!approvalScreen">
                                    <i class="material-icons">add_box</i> Add New
                                </button>
                            </div>
                            <div w-100 class="card-body">
                                <mat-table  w-100 table-border #table [dataSource]="performanceIndicatorDataSource" matSort>

                                    <ng-container matColumnDef="select">
                                        <mat-header-cell class="row" *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggleDisbursementYear() : null" [checked]="disbursementYearSelection.hasValue() && isAllSelectedDisbursementYear()" [indeterminate]="disbursementYearSelection.hasValue() && !isAllSelectedDisbursementYear()" [aria-label]="checkboxLabelDisbursementYear()">
                                            </mat-checkbox>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? disbursementYearSelection.toggle(element) : null" [checked]="disbursementYearSelection.isSelected(element)" [aria-label]="checkboxLabelDisbursementYear(element)">
                                            </mat-checkbox>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of disbursementYearColumnNames">
                                        <mat-header-cell class="row" *matHeaderCellDef>
                                            <mat-label mat-sort-header class="col-xs-12 col-md-12 col-sm-12">{{column.value | uppercase}}
                                            </mat-label>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-form-field appearance="outline">
                                                <mat-label>{{column.value}}</mat-label>
                                                <input *ngIf="column.id != 'value' " matInput placeholder={{column.value}} [(ngModel)]="element[column.id]" [disabled]="approvalScreen">
                                                <input *ngIf="column.id == 'value' " type="number" matInput placeholder={{column.value}} [(ngModel)]="element[column.id]" [disabled]="approvalScreen">
                                            </mat-form-field>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container cdkColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                        <mat-cell class="row" *matCellDef="let element; let i=index;">
                                            <!-- <mat-icon style="color: #21d521;">save</mat-icon> -->
                                            <mat-icon *ngIf="!approvalScreen" (click)="removeIndividuallyFromList(i)">delete</mat-icon>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="performanceIndicatorDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: performanceIndicatorDisplayedColumns;"></mat-row>
                                </mat-table>
                                <div class="row m-t-5">
                                    <div class="col-xs-12 col-md-6" *ngIf="!approvalScreen">
                                        <button mat-raised-button color="accent" (click)="removeSelected()">
                                            <mat-icon style="color: #ffffff;" >delete</mat-icon> Delete Selected
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-md-6" style="text-align: right;">
                                        <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                                    </div>
                                </div>
                                <!-- first card body ends -->
                            </div>
                        </div>
                        <!-- row ends -->
                    </div>
                    <!-- row starts -->
                    <div class="row" style="display: block;width: 100%;">
                        <div class="col-xs-12">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Remarks*</mat-label>
                                <textarea matInput placeholder="Remarks" name="remarks" [formControl]="remarksCtrl" [readonly]="approvalScreen"></textarea>
                                <mat-error *ngIf="miForm.controls.remarks.errors && miForm.controls.remarks.errors.required">Remarks is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- card-body -->
                </div>
                <div class="card-footer">
                    <div class="row" style="display: block;width: 100%;">

                        <div class="col-xs-6" *ngIf="approvalScreen">
                            <mat-form-field style="width:100%" appearance="outline">
                                <mat-label>Approvers Comment*</mat-label>
                                <textarea matInput placeholder="Approvers Comment" name="approverComment" [formControl]="approverCommentCtrl" class="filter-input"> </textarea>
                            </mat-form-field>
                        </div>

                        <div class="col-xs-6">
                            <button type="button" *ngIf="!approvalScreen" (click)="submit()" class="btn btn-success">Submit</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-success" (click)="updateDataStatus('approved')">Approve</button>
                            <button type="button" *ngIf="approvalScreen" class="btn btn-danger" (click)="updateDataStatus('rejected')">Reject</button>
                        </div>
                        <!-- footer-> row -->
                    </div>
                    <!-- card-footer -->
                </div>
                <!-- card -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- animated fadeIn -->
</div>