@import '../../Styles/variables.scss';

.programme-view {
  padding: 0px 50px;

  .ant-steps-item-tail::after {
    background-color: #ffff !important;
    background-color: #ffff !important;
    border-left: 1px dashed #d9d9d9;
    border-style: dashed;
    border-width: 1px;
    border-color: #d9d9d9;
  }

  .action-btns {
    button {
      margin-left: 15px;
    }
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
  }

  .ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
    left: 13px;
  }

  .apexcharts-legend-series {
    padding-bottom: 5px;
  }

  .card-container {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;

    .action-btns {
      margin-top: 25px;
      margin-bottom: -15px;
      justify-content: end;
    }
  }

  .programme-logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: $dev-bg-color;
    font-size: 50px;
    color: $dev-color;
    text-align: center;
    padding: 12px;
    margin: auto;
  }

  .centered-card {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .separator {
    border-bottom: 1px solid $sep-line-color;
    width: 100%;
  }

  .cert-info {
    text-align: center;
    padding: 20px 15px 20px 15px;
    img {
      height: 60px;
    }
  }

  .cert-content {
    display: flex;
    flex-wrap: wrap;
  }

  .cert-logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $dev-bg-color;
    font-size: 30px;
    color: $dev-color;
    text-align: center;
    padding: 6px;
    margin: 0 auto;
  }

  .cert-name {
    color: $title-text-color;
    margin-top: 14px;
    font-weight: 600;
  }

  .cert-date {
    color: $body-text-color;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .company-info {
    padding: 25px 10px 30px 10px;
    min-width: 200px;
    img {
      height: 90px;
    }

    .progress-bar {
      width: calc(max(200px, 100%));
      font-size: 0.8rem;
      color: $body-text-color;
      margin-top: 15px;
    }

    .ant-progress-success-bg,
    .ant-progress-bg {
      background-color: $primary-color;
    }
  }

  .programme-name {
    color: $title-text-color;
    margin-top: 14px;
    font-weight: 600;
  }
}

.info-view {
  .content {
    padding: 15px 0px;
    margin-left: -8px;
  }

  .map-content {
    margin-left: 20px;
    padding: 15px 0px;
  }
  .ant-steps-item-subtitle {
    display: block;
    margin-left: 0px;
    font-size: 0.8rem;
    color: $light-text-color;
    margin-top: -12px;
    font-weight: 500;
  }

  .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title {
    color: $title-text-color;
    font-size: 0.8rem;
    font-weight: 600;
  }

  .ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-description {
    font-size: 0.8rem;
    font-weight: 500;
    color: $body-text-color;
  }

  .step-icon {
    border-radius: 100%;
    margin-right: 10px;
    padding: 0.35rem 0.4rem;
    font-size: 0.8rem;
  }
}

.map-container {
  width: 100%;
  height: 250px;
}

.apexcharts-datalabels-group {
  font-family: $primary-font-family !important;
  color: $title-text-color !important;
}

.remark {
  font-size: 0.8rem;
}

.footer-btn {
  margin: 15px 20px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.retire-form {
  .ant-radio-group {
    text-align: left;
  }
}

.only-head {
  .title {
    margin-bottom: 0px !important;

    .link {
      font-size: 1.2rem;
      line-height: 0.5rem;
      cursor: pointer;
      color: $title-text-color;
    }
  }
}

.mapboxgl-popup-tip {
  border-bottom-color: $primary-color !important;
  border-top-color: $primary-color !important;
}

.mapboxgl-popup-content {
  background-color: $primary-color;
  color: white;
  font-family: $primary-font-family;
  font-weight: 500;
  min-width: 60px;
  height: 30px;
  padding: 5px 20px;
}
