<div class="app-body login">
  <main class="main d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="loginForm">
                  <h5>CLIMATE ACTION IMPACT ASSESSMENT MRV TOOL</h5>
                  <p class="text-muted">Login to your account</p>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-phone"></i></span>
                        <span class="input-group-text-black"><i class="icon-"></i></span>
                      </div>
                      <input type="text" id="email" name="email" class="form-control" placeholder="email"
                        formControlName="email">
                    </div>
                    <p ion-text color="danger" class="input-error error-text"
                      *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
                      This field is required</p>
                  </div>

                  <div class="form-group">
                    <div class="controls">
                      <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-eye"></i></span>
                          
                        </div>
                      </div>
                      <p class="help-block error-text"
                        *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">Please
                        enter your password</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group form-actions">
                        <button type="submit" style="background: #20a8d8;" class="btn btn-sm btn-secondary"
                          [disabled]="loginForm.status == 'INVALID'" (click)="login()">Login</button>
                      </div>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="goToforgotpassword()">Forgot
                        password?</button>
                      <button type="button" class="btn btn-link px-0" (click)="goToSignUpPage()">
                        Register with us?</button>
                    </div>
                    <div  class="col-12 text-center">
                      <button type="button" class="btn btn-link px-0" (click)="goToforgotpassword()">Please Contact Us for any queries?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>