@import '../../Pages/Common/colors.layout.scss';

.layout-main-container {
  overflow: hidden;
  .layout-header-container {
    // position: fixed;
    top: 0;
    z-index: 10;
    // width: 80vw;
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .ant-layout-header {
    height: 7vw;
  }
  .layout-container {
    margin-left: 21vw;
    // margin-bottom: 4vw;
    // background-color: red !important;
  }
  .layout-content-container {
    margin-left: 3vw;
    margin-right: 2vw;
    background-color: $layout-content-bg;
    margin-top: 3vw;
    border-radius: 0.5vw;
  }
  .ant-layout {
    background-color: $layout-bg;
    // height: 100vh;
    // overflow: initial;
  }
  // .ant-layout-content {
  //   margin-top: 5vw;
  // }
}
@media screen and (max-width: 1170px) {
  .layout-container {
    margin-left: unset !important;
  }
}
