@import '../../Styles/variables.scss';

.layout-main-container {
  background-color: $background-color;
}

.layout-content-container {
  background-color: $background-color;
}
// .layout-main-container {
//   overflow: hidden;
//   .layout-header-container {
//     top: 0;
//     z-index: 10;
//     padding: 0;
//     padding-left: 2vw;
//   }
//   .ant-layout-header {
//     height: 90px;
//   }

//   .layout-content-container {
//     margin: 20px;
//     background-color: $background-color;
//     border-radius: 0.5vw;
//     padding-bottom: 0px;
//   }
//   .ant-layout {
//     background-color: $background-color;
//   }

// }
// @media screen and (max-width: 1170px) {
//   .layout-container {
//     margin-left: unset !important;
//   }
// }
