@import '../../Assets/Fonts/fonts.scss';
@import '../../Styles/variables.scss';

.homepage-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $background-color;
  scroll-behavior: smooth;

  .homepage-header-container {
    background-color: rgba(255, 255, 255, 0.8);
    height: 90px;
    padding-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 0rem 0 0vw;
    cursor: pointer;

    html {
      scroll-behavior: smooth;
    }

    .title {
      font-family: 'MuseoSans';
      font-size: 1.2rem;
      color: $logo-text-color;
      font-weight: 700;
      margin-right: 0.5rem;
      padding-left: 5px;
    }

    .title-sub {
      font-weight: 100 !important;
      font-family: 'MuseoSans';
      font-size: 1.2rem;
      color: $logo-text-color;
    }

    .logo {
      height: 40px;
      // width: 65px;
      padding-left: 2vw;
      img {
        object-fit: cover;
        // height: auto;
        // height: 100%;
        // width: 100%;
        height: 40px;
        width: 36px;
        // padding-right: 5px;
      }
    }

    .country-name {
      font-size: 0.65rem;
      color: $logo-text-color;
      margin-top: -5px;
      font-family: 'MuseoSans';
      margin-left: 6px;
    }
  }
  .homepage-button-container {
    display: flex;
    justify-content: right;
    min-width: 150px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.8);

    button {
      margin-top: 29px;
      margin-right: 30px;
      margin-left: 30px;
      text-transform: uppercase;
    }
    .ant-btn-primary {
      background: linear-gradient(to right, #1890ff, $gradient-background-end);
      color: $dark-text-color;
      border: none;
    }
    .ant-btn-primary:hover {
      background: linear-gradient(to right, $gradient-background-end, #1890ff);
    }
  }
  // .image-container {
  //   background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 10%, rgba(22, 177, 255, 0.4) 40%),
  //   url('../../Assets/Images/factory.webp') left 10% bottom 20% / cover no-repeat border-box;
  //   background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 10%, rgba(22, 177, 255, 0.4) 40%),
  //     image-set(
  //       '../../Assets/Images/factory.webp' left 10% bottom 20% / cover no-repeat border-box
  //         type('image/webp'),
  //       '../../Assets/Images/factory.png' type('image/png')
  //     );
  // }
  .image-container {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3) 10%,
        rgba(22, 177, 255, 0.4) 40%
      ),
      url('../../Assets/Images/factory.webp');
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3) 10%,
        rgba(22, 177, 255, 0.4) 40%
      ),
      image-set(
        '../../Assets/Images/factory.png' type('image/png'),
        '../../Assets/Images/factory.webp' type('image/webp')
      );
    background-size: cover;
  }

  .homepage-img-container {
    height: 100vh;
    background-position-x: 100%;
    background-position-y: 100%;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    flex: 1;
    text-align: left;

    @media (max-width: $lg-size) {
      text-align: center;
      justify-content: center;
      padding-top: 50vh;
    }
    .arrows {
      width: 60px;
      height: 72px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 20px;
      @media (max-width: $lg-size) {
        stroke-width: 2px;
        width: 30px;
        height: 36px;
      }
    }

    .arrows path {
      stroke: #ffffff;
      fill: transparent;
      stroke-width: 2.5px;
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite;

      @media (max-width: $lg-size) {
        stroke-width: 2px;
      }
    }

    @keyframes arrow {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    .arrows path.a1 {
      animation-delay: -1s;
      -webkit-animation-delay: -1s;
    }

    .arrows path.a2 {
      animation-delay: -0.5s;
      -webkit-animation-delay: -0.5s;
    }

    .arrows path.a3 {
      animation-delay: 0s;
      -webkit-animation-delay: 0s;
    }

    .text-ctn {
      margin-left: 2vw;
      bottom: 50px;
      font-family: $secondary-font-family;
      font-size: 4rem;
      color: $outside-background-color;
      line-height: 1.2em;
      text-transform: uppercase;
      position: relative;
      padding-top: 60vh;

      @media (max-width: 1800px) {
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: unset;
        line-height: 1.5em;
        padding-top: 50vh;
      }
    }
    .subhome {
      text-align: left;
      font-family: $secondary-font-family;
      font-size: 1.5rem;
      color: $outside-background-color;
      line-height: 1rem;
      text-transform: uppercase;
      margin-top: 20px;

      @media (max-width: $lg-size) {
        text-align: center;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
  .homepage-content-containerwhite {
    background-color: $outside-background-color;
    height: fit-content;
    padding: 10px 60px 10px 60px;
    text-align: center;
    margin-top: 5px;

    @media (max-width: $lg-size) {
      height: fit-content;
    }

    .title {
      font-size: 2rem;
      font-weight: 700;
      font-family: $primary-font-family;
      color: $title-text-color;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 50px 50px 10px 50px;

      @media (max-width: $lg-size) {
        font-size: 2rem;
        margin-top: 1rem;
        color: $title-text-color;
        line-height: 1.5em;
      }
    }
    .homepagebody {
      text-align: center;
      font-size: 0.875rem;
      font-weight: 400;
      font-family: $primary-font-family;
      color: $title-text-color;
      justify-content: center;
      margin: 20px 60px 20px 60px;

      @media (max-width: $lg-size) {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: $title-text-color;
        line-height: 1.5em;
      }
      .homepagebody_aboutusline1 {
        font-size: 1.125rem;
        margin-top: 1rem;
        color: $title-text-color;

        @media (max-width: $lg-size) {
          font-size: 1rem;
          margin-top: 1rem;
          color: $title-text-color;
          line-height: 1.5em;
        }
      }
      .homepagebody_aboutuslines {
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
      }
      .homepagebody_logoaboutuslines {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .homepagebody_subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        font-family: $primary-font-family;
        color: $title-text-color;
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
      }
    }
    .aboutus-card-main-container {
      display: flex;
      max-height: 22rem;
      min-height: 20rem;
      max-width: 25rem;
      justify-content: center;
      background: linear-gradient(to right, $gradient-background-start, $gradient-background-end);
      border-radius: 0.625rem;
      padding: 40px 25px 25px 25px;
      margin: 60px 40px 60px 40px;
      text-align: center;
    }
    .aboutus-card-main-container:hover {
      background: $gradient-background-end;
      cursor: pointer;
    }
    .aboutus_cards-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;

      .aboutus_card-row {
        display: flex;
        align-items: center;
        justify-content: center;
        .aboutus_card-col {
          display: flex;
          flex-direction: row;
          justify-content: flex;
          align-items: center;
        }
      }
      .aboutusIcon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .aboutus-card-text {
        color: $dark-text-color;
        line-height: 2;
      }
      .aboutus-card-title {
        font-weight: 700;
        display: flex;
        color: $dark-text-color;
        line-height: 2;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }
    .undplogocontainer {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;

      .erbd {
        width: 14.5rem;
        height: 7.5rem;
      }
      .undp {
        width: 4rem;
        height: 7.5rem;
      }
      .unfccc {
        width: 7.5rem;
        height: 7.5rem;
      }
      .ieta {
        width: 14.5rem;
        height: 7.5rem;
      }
      .esa {
        width: 12.5rem;
        height: 7.5rem;
      }
      .wbank {
        width: 7.5rem;
        height: 7.5rem;
      }
    }
  }
  .aboutusicon {
    size: 100px;
  }
  .eligicontent {
    padding: 20px;
  }
  .homepage-image-content-container {
    background-color: $outside-background-color;
    padding-left: 60px;
    text-align: right;
    margin-top: 5px;

    @media (max-width: $lg-size) {
    }
    .forest-image {
      height: 33.75rem;
      width: 52.5rem;
    }

    ul {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    li {
      line-height: 40px;
    }

    .title {
      font-size: 2rem;
      font-weight: 700;
      font-family: $primary-font-family;
      color: $title-text-color;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 50px 50px 10px 50px;

      @media (max-width: $lg-size) {
        font-size: 2rem;
        margin-top: 1rem;
        color: $title-text-color;
        line-height: 1.5em;
      }
    }
    .homepagebody {
      text-align: left;
      font-size: 0.875rem;
      font-weight: 400;
      font-family: $primary-font-family;
      color: $title-text-color;
      justify-content: left;
      margin: 20px 10px 20px 60px;

      @media (max-width: $lg-size) {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: $title-text-color;
        line-height: 1.5em;
      }
    }
  }
  .homepage-resources-content-container {
    background-color: $outside-background-color;
    height: fit-content;
    padding-left: 60px;

    margin-top: 5px;
    height: fit-content;
    @media (max-width: $lg-size) {
      height: fit-content;
    }

    ul {
      margin-top: 25px;
      margin-left: 9vw;
    }
    li {
      line-height: 40px;
    }

    img {
      display: flex;
      padding: 50px;
      justify-content: center;
      text-align: center;
      width: 28.125rem;
      height: 23.438rem;
    }
    .resource-image-container {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .title {
      font-size: 2rem;
      font-weight: 700;
      font-family: $primary-font-family;
      color: $title-text-color;
      margin-left: 10vw;
      text-transform: uppercase;
      padding: 50px 50px 10px 50px;

      @media (max-width: $lg-size) {
        font-size: 2rem;
        margin-top: 1rem;
        color: $title-text-color;
        line-height: 1.5em;
      }
    }
    .homepagebody {
      font-size: 0.875rem;
      font-weight: 400;
      font-family: $primary-font-family;
      color: $title-text-color;
      margin: 20px 60px 20px 60px;

      @media (max-width: $lg-size) {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: $title-text-color;
        line-height: 1.5em;
      }
    }
  }
}
