@import '../../Assets/Fonts/fonts.scss';
@import '../../Styles/variables.scss';

.homepage-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $background-color;

  .homepage-header-container {
    background-color: $background-color;
    height: 90px;
    padding-top: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-bottom: 2vw;
    // padding-left: 2rem;
    padding: 0rem 2rem 0 1rem;
    cursor: pointer;

    .title {
      font-family: 'MuseoSans';
      font-size: 1.2rem;
      color: $logo-text-color;
      font-weight: 700;
      margin-right: 0.5rem;
    }

    .title-sub {
      font-weight: 100 !important;
      font-family: 'MuseoSans';
      font-size: 1.2rem;
      color: $logo-text-color;
      // padding-bottom: 3px;
    }

    .logo {
      // display: flex;
      // flex-direction: row;
      // justify-content: flex-start;
      // align-items: center;
      height: 50px;
      // overflow: hidden;
      // margin-right: 0.8rem;

      // background-color: red;
      img {
        object-fit: cover;
        height: auto;
        height: 70%;
        margin-top: 6px;
      }
    }
    .button {
      margin-top: 6px;
      margin-right: 5px;
      text-transform: uppercase;
      // font-size: 1.25rem;
      // font-weight: 500;
      // color: $primary-color;
    }
  }

  .homepage-img-container {
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(22, 177, 255, 0.5) 0.01%),
      url('../../Assets/Images/factory.png') left 10% bottom 20% / cover no-repeat border-box;
    height: calc(100vh - 90px);
    background-position-x: 100%;
    background-position-y: 100%;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    flex: 1;
    text-align: left;
    // background-size: 500vh;
    padding-top: 60vh;

    @media (max-width: $lg-size) {
      text-align: center;
      justify-content: center;
      padding-top: 50vh;
    }

    .text-ctn {
      margin-left: 2vw;
      bottom: 50px;
      font-family: $secondary-font-family;
      font-size: 4rem;
      color: $outside-background-color;
      line-height: 1.2em;
      text-transform: uppercase;
      position: relative;

      @media (max-width: $lg-size) {
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: unset;
        // width: 100vw;
        line-height: 1.5em;
      }
    }
    .subhome {
      text-align: left;
      font-family: $secondary-font-family;
      font-size: 1.5rem;
      color: $outside-background-color;
      line-height: 1rem;
      text-transform: uppercase;
      margin-top: 20px;

      @media (max-width: $lg-size) {
        text-align: center;
        justify-content: center;
        margin-top: 20px;
      }
    }
  }
  .homepage-content-containerwhite {
    background-color: $outside-background-color;
    // height: 35vh;
    height: fit-content;
    padding: 10px 60px 10px 60px;
    text-align: center;
    margin-top: 5px;

    @media (max-width: $lg-size) {
      height: fit-content;
    }

    .title {
      font-size: 2rem;
      font-weight: 700;
      font-family: $primary-font-family;
      color: $title-text-color;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 50px 50px 10px 50px;

      @media (max-width: $lg-size) {
        font-size: 2rem;
        margin-top: 1rem;
        color: $title-text-color;
        // width: 100vw;
        line-height: 1.5em;
      }
    }
    .homepagebody {
      text-align: center;
      font-size: 0.875rem;
      font-weight: 400;
      font-family: $primary-font-family;
      color: $body-text-color;
      justify-content: center;
      margin: 20px 60px 20px 60px;

      @media (max-width: $lg-size) {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: $title-text-color;
        // width: 100vw;
        line-height: 1.5em;
      }
      .homepagebody_aboutusline1 {
        font-size: 1.125rem;
        margin-top: 1rem;
        color: $title-text-color;

        @media (max-width: $lg-size) {
          font-size: 1rem;
          margin-top: 1rem;
          color: $title-text-color;
          line-height: 1.5em;
        }
      }
      .homepagebody_aboutuslines {
        margin-top: 1rem;
        margin-bottom: 4rem;
      }

      .homepagebody_subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        font-family: $primary-font-family;
        color: $title-text-color;
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
      }
    }
    .aboutus-card-main-container {
      display: flex;

      justify-content: center;
      width: 100%;
      height: 20rem;
      background: linear-gradient(to right, $gradient-background-start, $gradient-background-end);
      border-radius: 0.625rem;
      margin: 60px;
      padding: 40px;
      text-align: center;
    }
    .aboutus_cards-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;

      .aboutus_card-row {
        display: flex;
        align-items: center;
        justify-content: center;
        .aboutus_card-col {
          display: flex;
          flex-direction: row;
          justify-content: flex;
          align-items: center;
        }
      }
      .aboutusIcon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .aboutus-card-text {
        color: $dark-text-color;
        line-height: 2;
      }
      .aboutus-card-title {
        font-weight: 700;
        display: flex;
        color: $dark-text-color;
        line-height: 2;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }
    .undplogocontainer{
      display: flex;
      justify-content: center;
      padding:20px;
    }
    
  }
  .homepage-image-content-container {
    background-color: $outside-background-color;
    // height: 35vh;
    height:fit-content;
    padding-left: 60px;
    text-align: right;
    margin-top: 5px;
  
    @media (max-width: $lg-size) {
      height: fit-content;
    }

    ul{
      margin-top: 25px;
      
    }
    li{
      line-height:40px;
    }

    img{
      height:50vh;
    }
  
    .title {
      font-size: 2rem;
      font-weight: 700;
      font-family: $primary-font-family;
      color: $title-text-color;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 50px 50px 10px 50px;
  
      @media (max-width: $lg-size) {
        font-size: 2rem;
        margin-top: 1rem;
        color: $title-text-color;
        // width: 100vw;
        line-height: 1.5em;
      }
    }
    .homepagebody {
      text-align: left;
      font-size: 0.875rem;
      font-weight: 400;
      font-family: $primary-font-family;
      color: $body-text-color;
      justify-content: left;
      margin: 20px 60px 20px 60px;
  
      @media (max-width: $lg-size) {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: $title-text-color;
        // width: 100vw;
        line-height: 1.5em;
      }
    }
    
  }
  .homepage-resources-content-container {
    background-color: $outside-background-color;
    // height: 35vh;
    height:fit-content;
    padding-left: 60px;
    text-align: center;
    margin-top: 5px;
  
    @media (max-width: $lg-size) {
      height: fit-content;
    }

    ul{
      margin-top: 25px;
      margin-left: 15vw;
      
    }
    li{
      line-height:40px;
    }

    img{
      height:100%;
      padding: 50px;
    }
  
    .title {
      font-size: 2rem;
      font-weight: 700;
      font-family: $primary-font-family;
      color: $title-text-color;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      padding: 50px 50px 10px 50px;
  
      @media (max-width: $lg-size) {
        font-size: 2rem;
        margin-top: 1rem;
        color: $title-text-color;
        // width: 100vw;
        line-height: 1.5em;
      }
    }
    .homepagebody {
      text-align: left;
      font-size: 0.875rem;
      font-weight: 400;
      font-family: $primary-font-family;
      color: $body-text-color;
      justify-content: left;
      margin: 20px 60px 20px 60px;
  
      @media (max-width: $lg-size) {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: $title-text-color;
        // width: 100vw;
        line-height: 1.5em;
      }
    }
    
  } 
  
}
