<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>PENDING APPROVALS </strong>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Entity</th>
                <th>Entity Id</th>
                <th>Created By</th>
                <th>created At</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of approvalList">
                <td>{{x.entity}}</td>
                <td (click)="goToPage(x.entityUrl,x.dataId, x._id)"><a class="link">{{x.entityId}}</a></td>
                <td>{{x.updatedBy[0].firstName}}&nbsp; {{x.updatedBy[0].lastName}}</td>
                <td>{{x.lastUpdate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
