<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Search NDC Action</strong>
                    <!-- <button class="float-right" mat-raised-button color="primary" (click)="goToNewNDC()"><i
                            class="icon-plus"></i> &nbsp; New NDC</button> -->
                </div>
                <div class="card-body">
                    <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine"
                        [columnDefs]="columnDefs" [gridOptions]="gridOptions" [defaultColDef]="defaultColDef">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>