<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="card">
            <div class="card-header">
                <strong>GHG Configuration</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="ghgConfigForm" #form>
                <div class="row">
                    <mat-radio-group name="value"  formControlName="value" (change)="getConfigYear($event.value)"  class="col-xs-6 col-md-4 col-sm-4 config-type-grp" aria-label="Select an option" appearance="outline">
                        <mat-radio-button value="file"> File Upload</mat-radio-button>
                        <mat-radio-button value="mannual" >Manual GHG</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field class="col-xs-6 col-md-4 col-sm-4" appearance="outline">
                        <mat-label>Inventory Year</mat-label>
                        <mat-select name="inventoryYears" formControlName="inventoryYears"  [multiple]="true" #multiSelect>
                            <mat-option (click)="toggleAllSelection()" value="selectAllYear">Select year</mat-option>
                                <mat-option *ngFor="let x of yearList" [value]="x">
                                    {{x}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="col-xs-6 col-md-4 col-sm-4" appearance="outline">
                        <button  [disabled]="ghgConfigForm.invalid" mat-raised-button color="primary" (click)="saveConfig()">Save Configuration</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
