<mat-form-field class="mat-form-select" appearance="outline">
        <mat-select [formControl]="selectCtrl" (selectionChange)="selectionChanged($event.value)" placeholder="Category" [multiple]="true" #multiSelect  appearance="outline">
            <mat-option>
            <ngx-mat-select-search [formControl]="filterCtrl" placeholderLabel="Category"></ngx-mat-select-search>
            </mat-option>
          <mat-option *ngFor="let obj of filteredData | async" [value]="obj.id">
            {{obj.name}}
          </mat-option>
        </mat-select>
</mat-form-field>